In [2131]:
import pandas as pd
import requests
import numpy as np
import matplotlib.pyplot as plt
from math import *

In [2132]:
import dateutil.parser as parser
from datetime import timedelta
from datetime import date

In [2133]:
import datetime

In [2134]:
writer = pd.ExcelWriter('D:intern/724/testing724.xlsx', engine='xlsxwriter')

In [2135]:
raw = pd.read_excel('D:intern/724/RAW.xlsx')

In [2136]:
today = date.today()
# 오늘 날짜 불러오기
today

datetime.date(2023, 2, 8)

In [2137]:
raw

,접수시간,Call 유형,전화번호,FUNC LOC,System ID,사업부,제품별,병원명,장비명,계약,고장증상,STATUS,응대/엔지니어,Dispatched/SVA,출발,일시작,일종료,조치사항
0,2023-01-01 07:56:39 ( 21472 ),call,01040262680,728-103708,07020303,DI,CT,Yonsei U. Gangnam Severance Hosp,SOMATOM Definition AS,계약,724 Wizard booting problem,Close,윤민선,방문처리완료,13:00,13:45,14:15,&nbsp;Issue:\nWizard booting failure\n-Created...
1,2023-01-01 07:40:03 ( 21471 ),call,01062178238,728-100269,10326163,DX,HHS,Gongju Medical Center,ADVIA 2120I,미계약,Partner Call (파트너사),Need to Follow,지우RE,파트너사콜,NaN,NaN,NaN,NaN
2,2023-01-01 07:20:00 ( 21470 ),call,01062178238,728-100269,10326163,DX,HHS,Gongju Medical Center,ADVIA 2120I,미계약,Partner Call (파트너사),Need to Follow,지우RE,파트너사콜,NaN,NaN,NaN,NaN
3,2023-01-01 07:15:00 ( 21469 ),call,01032125690,728-100723,10442865,DX,CAI,Yonsei U. Sinchon Severance Hospital,APTIO BY INPECO,계약,NaN,Open,임유신,배정완료,NaN,NaN,NaN,NaN
4,2023-01-01 07:13:23 ( 21468 ),call,01050471395,728-100440,10344001,DX,HHS,YOUNG SEO MEDICAL FOUNDATION,ADVIA 2120I (ROHS),미계약,Partner Call (파트너사),Need to Follow,지우RE,파트너사콜,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1811,2022-10-01 10:02:23 ( 19846 ),call,01072808195,728-100488,10358433,DX,CAI,Yonsei U. Sinchon Severance Hospital,ATELLICA CH 930 ANALYZER,계약,NaN,Open,최인영,배정완료,NaN,NaN,NaN,NaN
1812,2022-10-01 09:18:13 ( 19845 ),call,01049089797,728-108194,72814214,DX,CAI,Pohang St.Marys Hosp,ATELLICA DIRECT LOAD,계약,NaN,Open,박성진,배정완료,NaN,NaN,NaN,NaN
1813,2022-10-01 09:06:05 ( 19844 ),call,01029226264,728-103207,08380301,DI,CT,Dongkuk Univ.Kyungju Hosp.,SOMATOM Definition AS,계약,system init failed,Close,정대현,유선해결,NaN,09:05,09:35,system init failed\nrestarted several.times; s...
1814,2022-10-01 08:47:10 ( 19843 ),LN,01085213847,728-103378,36360301,DI,CT,Joyfull Hospital,SOMATOM Definition Flash,계약,LN 링 아티팩트 발생,Close,김정호,유선해결,NaN,09:00,09:30,Checkup 실시 후 Ring artifact 사라짐
1815,2022-10-01 08:44:30 ( 19842 ),call,01042282772,728-100842,10471536,DX,CAI,Myeongji Hospital Ilsan,ATELLICA IM 1600 ANALYZER,계약,System noise,Close,김태일,유선해결,NaN,09:00,09:30,Monitored system

In [2138]:
raw['제품별'] = raw['제품별'].replace("AXD","XP")

In [2139]:
di_tot = raw.loc[raw['사업부'] == "DI"]["접수시간"].count()
dx_tot = raw.loc[raw['사업부'] == "DX"]["접수시간"].count()
di_tot

457

In [2140]:
type(today)

datetime.date

In [2141]:
yesterday = today - timedelta(days = 1)
# 어제 날짜 불러오기
yesterday

datetime.date(2023, 2, 7)

In [2142]:
yesterday = yesterday.strftime('%Y-%m-%d')
today = today.strftime('%Y-%m-%d')
# 오늘과 어제 날짜 포멧 변경

In [2143]:
yesterday = yesterday + ' 18:00:00'
yesterday

'2023-02-07 18:00:00'

In [2144]:
today = today + ' 08:00:00'

In [2145]:
# yesterday = yesterday.strftime('%Y-%m-%d %H:%M:%S')

In [2146]:
raw['Date and Time'] = raw['접수시간'].str[:19]
# 데이터에서 날짜 가져오기

In [2147]:
raw['Date and Time'] = pd.to_datetime(raw['Date and Time'])

In [2148]:
# raw["Time"] = raw['Date and Time'].apply(lambda t: t.strftime('%H:%M:%S'))

In [2149]:
raw

,접수시간,Call 유형,전화번호,FUNC LOC,System ID,사업부,제품별,병원명,장비명,계약,고장증상,STATUS,응대/엔지니어,Dispatched/SVA,출발,일시작,일종료,조치사항,Date and Time
0,2023-01-01 07:56:39 ( 21472 ),call,01040262680,728-103708,07020303,DI,CT,Yonsei U. Gangnam Severance Hosp,SOMATOM Definition AS,계약,724 Wizard booting problem,Close,윤민선,방문처리완료,13:00,13:45,14:15,&nbsp;Issue:\nWizard booting failure\n-Created...,2023-01-01 07:56:39
1,2023-01-01 07:40:03 ( 21471 ),call,01062178238,728-100269,10326163,DX,HHS,Gongju Medical Center,ADVIA 2120I,미계약,Partner Call (파트너사),Need to Follow,지우RE,파트너사콜,NaN,NaN,NaN,NaN,2023-01-01 07:40:03
2,2023-01-01 07:20:00 ( 21470 ),call,01062178238,728-100269,10326163,DX,HHS,Gongju Medical Center,ADVIA 2120I,미계약,Partner Call (파트너사),Need to Follow,지우RE,파트너사콜,NaN,NaN,NaN,NaN,2023-01-01 07:20:00
3,2023-01-01 07:15:00 ( 21469 ),call,01032125690,728-100723,10442865,DX,CAI,Yonsei U. Sinchon Severance Hospital,APTIO BY INPECO,계약,NaN,Open,임유신,배정완료,NaN,NaN,NaN,NaN,2023-01-01 07:15:00
4,2023-01-01 07:13:23 ( 21468 ),call,01050471395,728-100440,10344001,DX,HHS,YOUNG SEO MEDICAL FOUNDATION,ADVIA 2120I (ROHS),미계약,Partner Call (파트너사),Need to Follow,지우RE,파트너사콜,NaN,NaN,NaN,NaN,2023-01-01 07:13:23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1811,2022-10-01 10:02:23 ( 19846 ),call,01072808195,728-100488,10358433,DX,CAI,Yonsei U. Sinchon Severance Hospital,ATELLICA CH 930 ANALYZER,계약,NaN,Open,최인영,배정완료,NaN,NaN,NaN,NaN,2022-10-01 10:02:23
1812,2022-10-01 09:18:13 ( 19845 ),call,01049089797,728-108194,72814214,DX,CAI,Pohang St.Marys Hosp,ATELLICA DIRECT LOAD,계약,NaN,Open,박성진,배정완료,NaN,NaN,NaN,NaN,2022-10-01 09:18:13
1813,2022-10-01 09:06:05 ( 19844 ),call,01029226264,728-103207,08380301,DI,CT,Dongkuk Univ.Kyungju Hosp.,SOMATOM Definition AS,계약,system init failed,Close,정대현,유선해결,NaN,09:05,09:35,system init failed\nrestarted several.times; s...,2022-10-01 09:06:05
1814,2022-10-01 08:47:10 ( 19843 ),LN,01085213847,728-103378,36360301,DI,CT,Joyfull Hospital,SOMATOM Definition Flash,계약,LN 링 아티팩트 발생,Close,김정호,유선해결,NaN,09:00,09:30,Checkup 실시 후 Ring artifact 사라짐,2022-10-01 08:47:10
1815,2022-10-01 08:44:30 ( 19842 ),call,01042282772,728-100842,10471536,DX,CAI,Myeongji Hospital Ilsan,ATELLICA IM 1600 ANALYZER,계약,System noise,Close,김태일,유선해결,NaN,09:00,09:30,Monitored system,2022-10-01 08:44:30

In [2150]:
type(raw['Date and Time'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [2151]:
today = pd.to_datetime(today, format = '%Y-%m-%d %H:%M:%S')
yesterday = pd.to_datetime(yesterday, format = '%Y-%m-%d %H:%M:%S')
today

Timestamp('2023-02-08 08:00:00')

In [2152]:
filtered = raw

In [2153]:
# filtered = raw[(raw['Date and Time'] > yesterday) & (raw['Date and Time'] < today)]
# 어제 날짜 18:00부터 오늘 날짜 8:00까지의 데이터 저장

In [2154]:
transfered = filtered.loc[filtered['Dispatched/SVA'] == '이관']
# filtered = filtered.loc[filtered['Dispatched/SVA'] != '이관']

In [2155]:
filtered = filtered.loc[filtered['Dispatched/SVA'] != '이관']

In [2156]:
filtered

,접수시간,Call 유형,전화번호,FUNC LOC,System ID,사업부,제품별,병원명,장비명,계약,고장증상,STATUS,응대/엔지니어,Dispatched/SVA,출발,일시작,일종료,조치사항,Date and Time
0,2023-01-01 07:56:39 ( 21472 ),call,01040262680,728-103708,07020303,DI,CT,Yonsei U. Gangnam Severance Hosp,SOMATOM Definition AS,계약,724 Wizard booting problem,Close,윤민선,방문처리완료,13:00,13:45,14:15,&nbsp;Issue:\nWizard booting failure\n-Created...,2023-01-01 07:56:39
1,2023-01-01 07:40:03 ( 21471 ),call,01062178238,728-100269,10326163,DX,HHS,Gongju Medical Center,ADVIA 2120I,미계약,Partner Call (파트너사),Need to Follow,지우RE,파트너사콜,NaN,NaN,NaN,NaN,2023-01-01 07:40:03
2,2023-01-01 07:20:00 ( 21470 ),call,01062178238,728-100269,10326163,DX,HHS,Gongju Medical Center,ADVIA 2120I,미계약,Partner Call (파트너사),Need to Follow,지우RE,파트너사콜,NaN,NaN,NaN,NaN,2023-01-01 07:20:00
3,2023-01-01 07:15:00 ( 21469 ),call,01032125690,728-100723,10442865,DX,CAI,Yonsei U. Sinchon Severance Hospital,APTIO BY INPECO,계약,NaN,Open,임유신,배정완료,NaN,NaN,NaN,NaN,2023-01-01 07:15:00
4,2023-01-01 07:13:23 ( 21468 ),call,01050471395,728-100440,10344001,DX,HHS,YOUNG SEO MEDICAL FOUNDATION,ADVIA 2120I (ROHS),미계약,Partner Call (파트너사),Need to Follow,지우RE,파트너사콜,NaN,NaN,NaN,NaN,2023-01-01 07:13:23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1811,2022-10-01 10:02:23 ( 19846 ),call,01072808195,728-100488,10358433,DX,CAI,Yonsei U. Sinchon Severance Hospital,ATELLICA CH 930 ANALYZER,계약,NaN,Open,최인영,배정완료,NaN,NaN,NaN,NaN,2022-10-01 10:02:23
1812,2022-10-01 09:18:13 ( 19845 ),call,01049089797,728-108194,72814214,DX,CAI,Pohang St.Marys Hosp,ATELLICA DIRECT LOAD,계약,NaN,Open,박성진,배정완료,NaN,NaN,NaN,NaN,2022-10-01 09:18:13
1813,2022-10-01 09:06:05 ( 19844 ),call,01029226264,728-103207,08380301,DI,CT,Dongkuk Univ.Kyungju Hosp.,SOMATOM Definition AS,계약,system init failed,Close,정대현,유선해결,NaN,09:05,09:35,system init failed\nrestarted several.times; s...,2022-10-01 09:06:05
1814,2022-10-01 08:47:10 ( 19843 ),LN,01085213847,728-103378,36360301,DI,CT,Joyfull Hospital,SOMATOM Definition Flash,계약,LN 링 아티팩트 발생,Close,김정호,유선해결,NaN,09:00,09:30,Checkup 실시 후 Ring artifact 사라짐,2022-10-01 08:47:10
1815,2022-10-01 08:44:30 ( 19842 ),call,01042282772,728-100842,10471536,DX,CAI,Myeongji Hospital Ilsan,ATELLICA IM 1600 ANALYZER,계약,System noise,Close,김태일,유선해결,NaN,09:00,09:30,Monitored system,2022-10-01 08:44:30

In [2157]:
trans_table = transfered.groupby(['제품별']).count().reset_index()

In [2158]:
display(trans_table)

,제품별,접수시간,Call 유형,전화번호,FUNC LOC,System ID,사업부,병원명,장비명,계약,고장증상,STATUS,응대/엔지니어,Dispatched/SVA,출발,일시작,일종료,조치사항,Date and Time
0,AX,8,8,8,8,8,8,8,8,8,6,8,8,8,0,0,0,8,8
1,CAI,126,126,126,126,126,126,126,126,122,80,126,126,126,0,0,0,126,126
2,CT,20,20,20,20,20,20,20,20,20,12,20,20,20,0,0,0,20,20
3,HHS,4,4,4,4,4,4,4,4,4,4,4,4,4,0,0,0,4,4
4,MI,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,0,1,1
5,MR,8,8,8,8,8,8,8,8,8,6,8,8,8,0,0,0,8,8
6,POC,5,5,5,5,5,5,5,5,4,5,5,5,5,0,0,0,5,5
7,XP,2,2,2,2,2,2,2,2,2,2,2,2,2,0,0,0,2,2

In [2159]:
type(trans_table)

pandas.core.frame.DataFrame

In [2160]:
trans_table = trans_table[['제품별','접수시간']]

In [2161]:
trans_table = trans_table.rename(columns = {'제품별':'Mod.'})
trans_table = trans_table.rename(columns = {'접수시간':'지정 이관'})

In [2162]:
trans_table

  Mod.  지정 이관
0   AX      8
1  CAI    126
2   CT     20
3  HHS      4
4   MI      1
5   MR      8
6  POC      5
7   XP      2

In [2163]:
filtered_table = filtered[['제품별','접수시간']]

In [2164]:
filtered_table = filtered_table.groupby([ '제품별']).count().reset_index()
# 모달리티별 갯수 테이블 만들기

In [2165]:
filtered_table = filtered_table.rename(columns = {'접수시간':'각 건수'})
filtered_table = filtered_table.rename(columns = {'제품별':'Mod.'})
# column 이름 바꾸기

In [2166]:
filtered_table

   Mod.  각 건수
0    AX    39
1   CAI   870
2    CT   168
3   HHS   170
4    MI    22
5    MR   151
6   POC   100
7    RO     4
8    SY     3
9    US     1
10   XP    30

In [2167]:
partners_table = filtered.loc[filtered['Dispatched/SVA'].str.contains('파트너사', case = False, na = False)]
partners_table

,접수시간,Call 유형,전화번호,FUNC LOC,System ID,사업부,제품별,병원명,장비명,계약,고장증상,STATUS,응대/엔지니어,Dispatched/SVA,출발,일시작,일종료,조치사항,Date and Time
1,2023-01-01 07:40:03 ( 21471 ),call,01062178238,728-100269,10326163,DX,HHS,Gongju Medical Center,ADVIA 2120I,미계약,Partner Call (파트너사),Need to Follow,지우RE,파트너사콜,NaN,NaN,NaN,NaN,2023-01-01 07:40:03
2,2023-01-01 07:20:00 ( 21470 ),call,01062178238,728-100269,10326163,DX,HHS,Gongju Medical Center,ADVIA 2120I,미계약,Partner Call (파트너사),Need to Follow,지우RE,파트너사콜,NaN,NaN,NaN,NaN,2023-01-01 07:20:00
4,2023-01-01 07:13:23 ( 21468 ),call,01050471395,728-100440,10344001,DX,HHS,YOUNG SEO MEDICAL FOUNDATION,ADVIA 2120I (ROHS),미계약,Partner Call (파트너사),Need to Follow,지우RE,파트너사콜,NaN,NaN,NaN,NaN,2023-01-01 07:13:23
18,2022-12-31 14:40:54 ( 21455 ),call,01094046486,728-100344,10362458,DX,HHS,Busan St Mary's Hosp,ADVIA 2120I (ROHS),미계약,Partner Call (파트너사),Need to Follow,지우RE,파트너사콜,NaN,NaN,NaN,NaN,2022-12-31 14:40:54
23,2022-12-31 12:14:26 ( 21450 ),call,01089052081,728-100635,10414959,DX,POC,International St.mary's Hosp,CLINITEK NOVUS,계약,Partner Call (파트너사),Need to Follow,박창완,파트너사콜,NaN,NaN,NaN,NaN,2022-12-31 12:14:26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1758,2022-10-03 12:22:29 ( 19893 ),call,01063657452,728-101075,10539911,DX,POC,National Cancer Center,CLINITEK NOVUS,계약,Partner Call (파트너사),Need to Follow,박창완,파트너사콜,NaN,NaN,NaN,NaN,2022-10-03 12:22:29
1770,2022-10-03 06:43:03 ( 19882 ),call,01089941702,728-108291,10520773,DX,POC,Gwangmyeong Chungang University Hospital,CLINITEK NOVUS,계약,Partner Call (파트너사),Need to Follow,차훈,파트너사콜,NaN,NaN,NaN,NaN,2022-10-03 06:43:03
1772,2022-10-03 04:35:00 ( 19880 ),call,01089941702,728-108290,10518271,DX,POC,Gwangmyeong Chungang University Hospital,CLINITEK NOVUS,계약,Partner Call (파트너사),Need to Follow,NaN,파트너사콜,NaN,NaN,NaN,NaN,2022-10-03 04:35:00
1789,2022-10-02 08:23:04 ( 19864 ),call,01027827130,728-100701,10498281,DX,HHS,Seoul National University Hosp,ADVIA 2120I (ROHS),미계약,Partner Call (파트너사),Need to Follow,테크노 당직2,파트너사콜,NaN,NaN,NaN,NaN,2022-10-02 08:23:04
1806,2022-10-01 12:22:28 ( 19850 ),call,01044300628,728-101504,72811650,DX,HHS,CHA U. CHA Bundang Medical Center,ADVIA 2120i,미계약,Partner Call (파트너사),Need to Follow,테크노 당직1,파트너사콜,NaN,NaN,NaN,NaN,2022-10-01 12:22:28

In [2168]:
partners_table = partners_table[['제품별','접수시간']]
partners_table = partners_table.groupby(['제품별']).count().reset_index()

In [2169]:
partners_table = partners_table.rename(columns = {'접수시간':'파트너사'})
partners_table = partners_table.rename(columns = {'제품별':'Mod.'})
partners_table

  Mod.  파트너사
0   AX     3
1  CAI     7
2   CT     2
3  HHS   121
4   MR     6
5  POC    80
6   XP     4

In [2170]:
mod = ['CAI','HHS','POC','AT','AX','CT','MI','MR','RO','SY','US','XP']
table = pd.DataFrame(mod, columns = ['Mod.'])

In [2171]:
table

   Mod.
0   CAI
1   HHS
2   POC
3    AT
4    AX
5    CT
6    MI
7    MR
8    RO
9    SY
10   US
11   XP

In [2172]:
vivo = ['AT','AX','CT','MI','MR','RO','SY','US','XP']
vitro = ['CAI','HHS','POC']
plant = []

In [2173]:
plant = ['Vitro' for i in vitro] + ['Vivo' for i in vivo]

In [2174]:
plant

['Vitro',
 'Vitro',
 'Vitro',
 'Vivo',
 'Vivo',
 'Vivo',
 'Vivo',
 'Vivo',
 'Vivo',
 'Vivo',
 'Vivo',
 'Vivo']

In [2175]:
for i in range(len(plant)):
    if(plant[i] == "Vivo"):
        indDI = i
        break

for i in range(len(plant)):
    if(plant[i] == "Vitro"):
        indDX = i
        break

In [2176]:
for i in range(len(plant)):
    if(i == indDX):
        plant[indDX] = "Vitro"
    elif(i == indDI):
        plant[indDI] = "Vivo"
    else:
        plant[i] = ""

In [2177]:
plant

['Vitro', '', '', 'Vivo', '', '', '', '', '', '', '', '']

In [2178]:
for index, row in pivot_table.iterrows():
    if(row['Time'] != "total"):
        pivot_table.at[index,"Date"] = ""

In [2179]:
table.insert(0,'사업부',plant,True)

In [2180]:
table

C:\Users\z004n96k\Anaconda3\anaconda_new\lib\site-packages\IPython\core\displayhook.py:275: UserWarning: Output cache limit (currently 1000 entries) hit.
Flushing oldest 200 entries.
  warn('Output cache limit (currently {sz} entries) hit.\n'

      사업부 Mod.
0   Vitro  CAI
1          HHS
2          POC
3    Vivo   AT
4           AX
5           CT
6           MI
7           MR
8           RO
9           SY
10          US
11          XP

In [2181]:
filtered_table

   Mod.  각 건수
0    AX    39
1   CAI   870
2    CT   168
3   HHS   170
4    MI    22
5    MR   151
6   POC   100
7    RO     4
8    SY     3
9    US     1
10   XP    30

In [2182]:
total_lst = []

In [2183]:
table = table.merge(filtered_table, how = 'outer')
# 기존 전 리스트에 데이터값 머징하기

In [2184]:
table['각 건수'] = table['각 건수'].fillna(0).astype(int)

In [2185]:
table

      사업부 Mod.  각 건수
0   Vitro  CAI   870
1          HHS   170
2          POC   100
3    Vivo   AT     0
4           AX    39
5           CT   168
6           MI    22
7           MR   151
8           RO     4
9           SY     3
10          US     1
11          XP    30

In [2186]:
table = pd.merge(table,trans_table, on = "Mod.", how = 'left')
table

      사업부 Mod.  각 건수  지정 이관
0   Vitro  CAI   870  126.0
1          HHS   170    4.0
2          POC   100    5.0
3    Vivo   AT     0    NaN
4           AX    39    8.0
5           CT   168   20.0
6           MI    22    1.0
7           MR   151    8.0
8           RO     4    NaN
9           SY     3    NaN
10          US     1    NaN
11          XP    30    2.0

In [2187]:
table = pd.merge(table,partners_table, on = "Mod.", how = 'left')
table

      사업부 Mod.  각 건수  지정 이관   파트너사
0   Vitro  CAI   870  126.0    7.0
1          HHS   170    4.0  121.0
2          POC   100    5.0   80.0
3    Vivo   AT     0    NaN    NaN
4           AX    39    8.0    3.0
5           CT   168   20.0    2.0
6           MI    22    1.0    NaN
7           MR   151    8.0    6.0
8           RO     4    NaN    NaN
9           SY     3    NaN    NaN
10          US     1    NaN    NaN
11          XP    30    2.0    4.0

In [2188]:
totalCol = table.loc[table['사업부'] != ""]
totalCol

     사업부 Mod.  각 건수  지정 이관  파트너사
0  Vitro  CAI   870  126.0   7.0
3   Vivo   AT     0    NaN   NaN

In [2189]:
totalCol['Total'] = [dx_tot,di_tot]

C:\Users\z004n96k\AppData\Local\Temp\ipykernel_21964\3701908077.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  totalCol['Total'] = [dx_tot,di_tot]

In [2190]:
totalCol = totalCol[["사업부","Total"]]

In [2191]:
table = pd.merge(table, totalCol, on = "사업부", how = "left")

In [2192]:
table

      사업부 Mod.  각 건수  지정 이관   파트너사   Total
0   Vitro  CAI   870  126.0    7.0  1276.0
1          HHS   170    4.0  121.0     NaN
2          POC   100    5.0   80.0     NaN
3    Vivo   AT     0    NaN    NaN   457.0
4           AX    39    8.0    3.0     NaN
5           CT   168   20.0    2.0     NaN
6           MI    22    1.0    NaN     NaN
7           MR   151    8.0    6.0     NaN
8           RO     4    NaN    NaN     NaN
9           SY     3    NaN    NaN     NaN
10          US     1    NaN    NaN     NaN
11          XP    30    2.0    4.0     NaN

In [2193]:
filtered

,접수시간,Call 유형,전화번호,FUNC LOC,System ID,사업부,제품별,병원명,장비명,계약,고장증상,STATUS,응대/엔지니어,Dispatched/SVA,출발,일시작,일종료,조치사항,Date and Time
0,2023-01-01 07:56:39 ( 21472 ),call,01040262680,728-103708,07020303,DI,CT,Yonsei U. Gangnam Severance Hosp,SOMATOM Definition AS,계약,724 Wizard booting problem,Close,윤민선,방문처리완료,13:00,13:45,14:15,&nbsp;Issue:\nWizard booting failure\n-Created...,2023-01-01 07:56:39
1,2023-01-01 07:40:03 ( 21471 ),call,01062178238,728-100269,10326163,DX,HHS,Gongju Medical Center,ADVIA 2120I,미계약,Partner Call (파트너사),Need to Follow,지우RE,파트너사콜,NaN,NaN,NaN,NaN,2023-01-01 07:40:03
2,2023-01-01 07:20:00 ( 21470 ),call,01062178238,728-100269,10326163,DX,HHS,Gongju Medical Center,ADVIA 2120I,미계약,Partner Call (파트너사),Need to Follow,지우RE,파트너사콜,NaN,NaN,NaN,NaN,2023-01-01 07:20:00
3,2023-01-01 07:15:00 ( 21469 ),call,01032125690,728-100723,10442865,DX,CAI,Yonsei U. Sinchon Severance Hospital,APTIO BY INPECO,계약,NaN,Open,임유신,배정완료,NaN,NaN,NaN,NaN,2023-01-01 07:15:00
4,2023-01-01 07:13:23 ( 21468 ),call,01050471395,728-100440,10344001,DX,HHS,YOUNG SEO MEDICAL FOUNDATION,ADVIA 2120I (ROHS),미계약,Partner Call (파트너사),Need to Follow,지우RE,파트너사콜,NaN,NaN,NaN,NaN,2023-01-01 07:13:23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1811,2022-10-01 10:02:23 ( 19846 ),call,01072808195,728-100488,10358433,DX,CAI,Yonsei U. Sinchon Severance Hospital,ATELLICA CH 930 ANALYZER,계약,NaN,Open,최인영,배정완료,NaN,NaN,NaN,NaN,2022-10-01 10:02:23
1812,2022-10-01 09:18:13 ( 19845 ),call,01049089797,728-108194,72814214,DX,CAI,Pohang St.Marys Hosp,ATELLICA DIRECT LOAD,계약,NaN,Open,박성진,배정완료,NaN,NaN,NaN,NaN,2022-10-01 09:18:13
1813,2022-10-01 09:06:05 ( 19844 ),call,01029226264,728-103207,08380301,DI,CT,Dongkuk Univ.Kyungju Hosp.,SOMATOM Definition AS,계약,system init failed,Close,정대현,유선해결,NaN,09:05,09:35,system init failed\nrestarted several.times; s...,2022-10-01 09:06:05
1814,2022-10-01 08:47:10 ( 19843 ),LN,01085213847,728-103378,36360301,DI,CT,Joyfull Hospital,SOMATOM Definition Flash,계약,LN 링 아티팩트 발생,Close,김정호,유선해결,NaN,09:00,09:30,Checkup 실시 후 Ring artifact 사라짐,2022-10-01 08:47:10
1815,2022-10-01 08:44:30 ( 19842 ),call,01042282772,728-100842,10471536,DX,CAI,Myeongji Hospital Ilsan,ATELLICA IM 1600 ANALYZER,계약,System noise,Close,김태일,유선해결,NaN,09:00,09:30,Monitored system,2022-10-01 08:44:30

In [2194]:
type(filtered['Date and Time'])

pandas.core.series.Series

In [2195]:
grouped_time = filtered[['Date and Time','제품별','전화번호']]

In [2196]:
grouped_time

           Date and Time  제품별         전화번호
0    2023-01-01 07:56:39   CT  01040262680
1    2023-01-01 07:40:03  HHS  01062178238
2    2023-01-01 07:20:00  HHS  01062178238
3    2023-01-01 07:15:00  CAI  01032125690
4    2023-01-01 07:13:23  HHS  01050471395
...                  ...  ...          ...
1811 2022-10-01 10:02:23  CAI  01072808195
1812 2022-10-01 09:18:13  CAI  01049089797
1813 2022-10-01 09:06:05   CT  01029226264
1814 2022-10-01 08:47:10   CT  01085213847
1815 2022-10-01 08:44:30  CAI  01042282772

[1636 rows x 3 columns]

In [2197]:
# grouped_time['전화번호'] =1

In [2198]:
# grouped_time = pd.pivot_table(grouped_time, values = '전화번호',index = ['Date and Time'], columns = ['제품별'], aggfunc = np.sum).reset_index()

In [2199]:
# grouped_time['Date'] = grouped_time['Date and Time'].dt.date
# grouped_time['Time'] = grouped_time['Date and Time'].dt.time

In [2200]:
grouped_time['전화번호'] = 1

C:\Users\z004n96k\AppData\Local\Temp\ipykernel_21964\3256397401.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  grouped_time['전화번호'] = 1

In [2201]:
grouped_time

           Date and Time  제품별  전화번호
0    2023-01-01 07:56:39   CT     1
1    2023-01-01 07:40:03  HHS     1
2    2023-01-01 07:20:00  HHS     1
3    2023-01-01 07:15:00  CAI     1
4    2023-01-01 07:13:23  HHS     1
...                  ...  ...   ...
1811 2022-10-01 10:02:23  CAI     1
1812 2022-10-01 09:18:13  CAI     1
1813 2022-10-01 09:06:05   CT     1
1814 2022-10-01 08:47:10   CT     1
1815 2022-10-01 08:44:30  CAI     1

[1636 rows x 3 columns]

In [2202]:
grouped_time = grouped_time.groupby([pd.Grouper(freq = 'H', key = 'Date and Time'),'제품별'])['전화번호'].count()

In [2203]:
grouped_time = grouped_time.to_frame().reset_index()
grouped_time

           Date and Time  제품별  전화번호
0    2022-10-01 08:00:00  CAI     1
1    2022-10-01 08:00:00   CT     1
2    2022-10-01 09:00:00  CAI     1
3    2022-10-01 09:00:00   CT     1
4    2022-10-01 10:00:00  CAI     4
...                  ...  ...   ...
1251 2023-01-01 04:00:00  CAI     1
1252 2023-01-01 05:00:00  CAI     1
1253 2023-01-01 07:00:00  CAI     3
1254 2023-01-01 07:00:00   CT     1
1255 2023-01-01 07:00:00  HHS     3

[1256 rows x 3 columns]

In [2204]:
grouped_time['Date'] = [x.date() for x in grouped_time['Date and Time']]
grouped_time['Time'] = [x.time() for x in grouped_time['Date and Time']]
grouped_time = grouped_time.drop(columns = ['Date and Time'])

In [2205]:
grouped_time

      제품별  전화번호        Date      Time
0     CAI     1  2022-10-01  08:00:00
1      CT     1  2022-10-01  08:00:00
2     CAI     1  2022-10-01  09:00:00
3      CT     1  2022-10-01  09:00:00
4     CAI     4  2022-10-01  10:00:00
...   ...   ...         ...       ...
1251  CAI     1  2023-01-01  04:00:00
1252  CAI     1  2023-01-01  05:00:00
1253  CAI     3  2023-01-01  07:00:00
1254   CT     1  2023-01-01  07:00:00
1255  HHS     3  2023-01-01  07:00:00

[1256 rows x 4 columns]

In [2206]:
# grouped_time = pd.pivot_table(grouped_time, values = '전화번호',index = ['Date and Time'], columns = ['제품별'], aggfunc = np.sum).reset_index()

In [2207]:
# grouped_time = grouped_time.groupby([[filtered['Date and Time'].dt.hour],'제품별']).count()
# # 시간별 데이터 정리

In [2208]:
lst_start = [x.hour for x in grouped_time['Time']]
lst_start

[8,
 8,
 9,
 9,
 10,
 12,
 12,
 13,
 16,
 19,
 20,
 21,
 23,
 5,
 7,
 8,
 8,
 9,
 9,
 9,
 11,
 11,
 12,
 17,
 19,
 23,
 4,
 4,
 6,
 6,
 7,
 8,
 9,
 10,
 11,
 11,
 12,
 12,
 12,
 12,
 18,
 19,
 22,
 23,
 0,
 2,
 3,
 4,
 7,
 7,
 18,
 19,
 19,
 20,
 20,
 20,
 23,
 0,
 6,
 7,
 19,
 20,
 22,
 23,
 23,
 23,
 1,
 1,
 2,
 3,
 6,
 7,
 7,
 18,
 18,
 20,
 3,
 4,
 5,
 5,
 6,
 7,
 7,
 7,
 18,
 18,
 19,
 20,
 23,
 0,
 2,
 4,
 6,
 7,
 8,
 8,
 9,
 9,
 9,
 9,
 10,
 10,
 10,
 10,
 12,
 13,
 13,
 14,
 15,
 19,
 20,
 22,
 1,
 2,
 4,
 6,
 7,
 7,
 8,
 8,
 9,
 9,
 10,
 10,
 10,
 11,
 14,
 15,
 16,
 17,
 20,
 22,
 2,
 3,
 6,
 7,
 8,
 8,
 9,
 9,
 9,
 10,
 10,
 11,
 11,
 13,
 15,
 15,
 16,
 17,
 17,
 18,
 19,
 20,
 21,
 22,
 22,
 23,
 0,
 6,
 7,
 20,
 22,
 4,
 5,
 6,
 7,
 18,
 18,
 18,
 19,
 19,
 20,
 21,
 1,
 7,
 19,
 19,
 22,
 22,
 23,
 23,
 0,
 2,
 4,
 7,
 7,
 18,
 19,
 20,
 21,
 22,
 0,
 1,
 6,
 7,
 7,
 8,
 8,
 9,
 9,
 10,
 10,
 11,
 11,
 12,
 12,
 12,
 13,
 13,
 15,
 15,
 16,
 17,
 19,
 19,
 20,
 3,
 4,
 6,
 7,
 8,
 10,
 10,
 12,
 13,
 13,
 14,
 15,
 19,
 20,
 0,
 5,
 6,
 6,
 7,
 18,
 18,
 19,
 20,
 22,
 0,
 1,
 2,
 3,
 7,
 7,
 19,
 20,
 21,
 23,
 1,
 2,
 6,
 7,
 7,
 7,
 18,
 19,
 21,
 21,
 21,
 23,
 0,
 2,
 5,
 6,
 7,
 7,
 7,
 18,
 19,
 20,
 21,
 21,
 22,
 23,
 0,
 2,
 3,
 4,
 5,
 7,
 21,
 2,
 2,
 3,
 4,
 6,
 6,
 7,
 7,
 8,
 8,
 9,
 10,
 14,
 14,
 15,
 16,
 16,
 17,
 0,
 0,
 3,
 3,
 4,
 6,
 7,
 9,
 10,
 11,
 12,
 13,
 15,
 18,
 18,
 18,
 19,
 20,
 22,
 23,
 2,
 3,
 4,
 4,
 5,
 5,
 6,
 6,
 7,
 18,
 18,
 20,
 23,
 0,
 1,
 2,
 6,
 7,
 18,
 19,
 20,
 21,
 21,
 23,
 23,
 0,
 0,
 4,
 6,
 7,
 7,
 18,
 18,
 18,
 19,
 22,
 0,
 1,
 2,
 7,
 7,
 19,
 20,
 21,
 0,
 1,
 3,
 5,
 7,
 18,
 18,
 19,
 20,
 20,
 21,
 21,
 22,
 2,
 6,
 7,
 8,
 8,
 8,
 8,
 8,
 9,
 9,
 9,
 10,
 10,
 10,
 10,
 11,
 11,
 12,
 15,
 17,
 18,
 20,
 20,
 2,
 6,
 8,
 8,
 8,
 9,
 9,
 10,
 11,
 11,
 12,
 12,
 13,
 14,
 15,
 17,
 17,
 20,
 22,
 23,
 0,
 1,
 3,
 6,
 7,
 7,
 7,
 18,
 18,
 19,
 19,
 20,
 22,
 23,
 1,
 2,
 5,
 6,
 7,
 21,
 22,
 23,
 0,
 4,
 4,
 5,
 7,
 19,
 20,
 20,
 21,
 1,
 3,
 4,
 7,
 7,
 7,
 20,
 22,
 0,
 0,
 1,
 2,
 2,
 2,
 3,
 4,
 4,
 6,
 7,
 7,
 20,
 22,
 0,
 2,
 3,
 4,
 6,
 7,
 8,
 8,
 8,
 9,
 9,
 9,
 10,
 10,
 10,
 11,
 11,
 12,
 12,
 14,
 16,
 18,
 22,
 23,
 0,
 0,
 4,
 5,
 5,
 8,
 9,
 9,
 9,
 10,
 10,
 10,
 11,
 12,
 14,
 15,
 16,
 16,
 18,
 19,
 20,
 21,
 21,
 21,
 4,
 5,
 7,
 7,
 7,
 18,
 18,
 20,
 23,
 4,
 5,
 7,
 19,
 20,
 22,
 22,
 4,
 4,
 7,
 7,
 18,
 19,
 20,
 20,
 21,
 2,
 3,
 4,
 5,
 6,
 6,
 7,
 7,
 7,
 19,
 23,
 6,
 7,
 7,
 18,
 19,
 20,
 5,
 5,
 6,
 7,
 8,
 9,
 9,
 9,
 10,
 11,
 13,
 13,
 14,
 14,
 16,
 16,
 17,
 19,
 20,
 20,
 22,
 23,
 0,
 2,
 4,
 6,
 6,
 6,
 7,
 8,
 8,
 9,
 9,
 10,
 11,
 12,
 13,
 15,
 17,
 17,
 18,
 19,
 19,
 1,
 2,
 6,
 7,
 18,
 18,
 3,
 3,
 3,
 4,
 5,
 5,
 6,
 6,
 7,
 7,
 18,
 20,
 20,
 0,
 1,
 4,
 18,
 19,
 19,
 20,
 20,
 20,
 22,
 23,
 23,
 0,
 1,
 2,
 5,
 5,
 5,
 6,
 6,
 7,
 7,
 0,
 3,
 4,
 5,
 5,
 6,
 6,
 7,
 7,
 7,
 20,
 21,
 22,
 23,
 0,
 0,
 0,
 1,
 4,
 5,
 5,
 8,
 8,
 8,
 8,
 9,
 9,
 9,
 10,
 10,
 11,
 12,
 13,
 13,
 15,
 16,
 17,
 20,
 1,
 5,
 7,
 8,
 10,
 11,
 12,
 14,
 15,
 15,
 15,
 16,
 17,
 19,
 20,
 20,
 21,
 21,
 22,
 23,
 1,
 4,
 5,
 7,
 7,
 18,
 19,
 20,
 21,
 0,
 3,
 3,
 5,
 6,
 6,
 7,
 7,
 18,
 21,
 22,
 4,
 5,
 6,
 7,
 19,
 21,
 1,
 5,
 7,
 7,
 18,
 19,
 21,
 22,
 1,
 1,
 4,
 5,
 6,
 7,
 18,
 18,
 19,
 21,
 0,
 0,
 1,
 5,
 7,
 8,
 8,
 8,
 9,
 9,
 10,
 11,
 11,
 12,
 18,
 18,
 20,
 20,
 21,
 22,
 0,
 1,
 1,
 3,
 4,
 8,
 8,
 9,
 9,
 10,
 10,
 11,
 11,
 12,
 13,
 13,
 16,
 23,
 0,
 1,
 6,
 6,
 7,
 7,
 18,
 19,
 19,
 0,
 1,
 7,
 18,
 19,
 21,
 23,
 0,
 0,
 1,
 2,
 5,
 6,
 7,
 18,
 22,
 22,
 23,
 0,
 1,
 2,
 6,
 7,
 7,
 19,
 20,
 21,
 0,
 0,
 2,
 3,
 4,
 5,
 5,
 6,
 6,
 7,
 7,
 18,
 19,
 20,
 21,
 22,
 22,
 1,
 2,
 3,
 4,
 6,
 6,
 6,
 7,
 7,
 8,
 9,
 9,
 9,
 9,
 10,
 10,
 10,
 10,
 11,
 11,
 11,
 12,
 17,
 19,
 20,
 21,
 23,
 2,
 3,
 5,
 6,
 7,
 8,
 9,
 9,
 11,
 13,
 13,
 14,
 15,
 17,
 18,
 19,
 22,
 0,
 2,
 3,
 4,
 5,
 6,
 7,
 7,
 7,
 18,
 22,
 23,
 0,
 0,
 0,
 2,
 4,
 7,
 18,
 19,
 19,
 20,
 1,
 6,
 6,
 7,
 18,
 18,
 19,
 21,
 23,
 3,
 4,
 5,
 6,
 7,
 7,
 7,
 18,
 19,
 20,
 20,
 22,
 1,
 4,
 6,
 18,
 18,
 20,
 21,
 22,
 0,
 1,
 2,
 4,
 6,
 7,
 7,
 8,
 8,
 8,
 9,
 9,
 10,
 11,
 11,
 12,
 13,
 17,
 18,
 20,
 21,
 22,
 0,
 0,
 2,
 3,
 5,
 7,
 8,
 8,
 9,
 9,
 11,
 13,
 13,
 13,
 16,
 17,
 19,
 21,
 2,
 3,
 4,
 5,
 6,
 7,
 7,
 18,
 21,
 21,
 22,
 22,
 23,
 0,
 6,
 6,
 7,
 19,
 19,
 20,
 21,
 23,
 1,
 ...]

In [2209]:
lst_finish = [x+1 for x in lst_start]
lst_finish

[9,
 9,
 10,
 10,
 11,
 13,
 13,
 14,
 17,
 20,
 21,
 22,
 24,
 6,
 8,
 9,
 9,
 10,
 10,
 10,
 12,
 12,
 13,
 18,
 20,
 24,
 5,
 5,
 7,
 7,
 8,
 9,
 10,
 11,
 12,
 12,
 13,
 13,
 13,
 13,
 19,
 20,
 23,
 24,
 1,
 3,
 4,
 5,
 8,
 8,
 19,
 20,
 20,
 21,
 21,
 21,
 24,
 1,
 7,
 8,
 20,
 21,
 23,
 24,
 24,
 24,
 2,
 2,
 3,
 4,
 7,
 8,
 8,
 19,
 19,
 21,
 4,
 5,
 6,
 6,
 7,
 8,
 8,
 8,
 19,
 19,
 20,
 21,
 24,
 1,
 3,
 5,
 7,
 8,
 9,
 9,
 10,
 10,
 10,
 10,
 11,
 11,
 11,
 11,
 13,
 14,
 14,
 15,
 16,
 20,
 21,
 23,
 2,
 3,
 5,
 7,
 8,
 8,
 9,
 9,
 10,
 10,
 11,
 11,
 11,
 12,
 15,
 16,
 17,
 18,
 21,
 23,
 3,
 4,
 7,
 8,
 9,
 9,
 10,
 10,
 10,
 11,
 11,
 12,
 12,
 14,
 16,
 16,
 17,
 18,
 18,
 19,
 20,
 21,
 22,
 23,
 23,
 24,
 1,
 7,
 8,
 21,
 23,
 5,
 6,
 7,
 8,
 19,
 19,
 19,
 20,
 20,
 21,
 22,
 2,
 8,
 20,
 20,
 23,
 23,
 24,
 24,
 1,
 3,
 5,
 8,
 8,
 19,
 20,
 21,
 22,
 23,
 1,
 2,
 7,
 8,
 8,
 9,
 9,
 10,
 10,
 11,
 11,
 12,
 12,
 13,
 13,
 13,
 14,
 14,
 16,
 16,
 17,
 18,
 20,
 20,
 21,
 4,
 5,
 7,
 8,
 9,
 11,
 11,
 13,
 14,
 14,
 15,
 16,
 20,
 21,
 1,
 6,
 7,
 7,
 8,
 19,
 19,
 20,
 21,
 23,
 1,
 2,
 3,
 4,
 8,
 8,
 20,
 21,
 22,
 24,
 2,
 3,
 7,
 8,
 8,
 8,
 19,
 20,
 22,
 22,
 22,
 24,
 1,
 3,
 6,
 7,
 8,
 8,
 8,
 19,
 20,
 21,
 22,
 22,
 23,
 24,
 1,
 3,
 4,
 5,
 6,
 8,
 22,
 3,
 3,
 4,
 5,
 7,
 7,
 8,
 8,
 9,
 9,
 10,
 11,
 15,
 15,
 16,
 17,
 17,
 18,
 1,
 1,
 4,
 4,
 5,
 7,
 8,
 10,
 11,
 12,
 13,
 14,
 16,
 19,
 19,
 19,
 20,
 21,
 23,
 24,
 3,
 4,
 5,
 5,
 6,
 6,
 7,
 7,
 8,
 19,
 19,
 21,
 24,
 1,
 2,
 3,
 7,
 8,
 19,
 20,
 21,
 22,
 22,
 24,
 24,
 1,
 1,
 5,
 7,
 8,
 8,
 19,
 19,
 19,
 20,
 23,
 1,
 2,
 3,
 8,
 8,
 20,
 21,
 22,
 1,
 2,
 4,
 6,
 8,
 19,
 19,
 20,
 21,
 21,
 22,
 22,
 23,
 3,
 7,
 8,
 9,
 9,
 9,
 9,
 9,
 10,
 10,
 10,
 11,
 11,
 11,
 11,
 12,
 12,
 13,
 16,
 18,
 19,
 21,
 21,
 3,
 7,
 9,
 9,
 9,
 10,
 10,
 11,
 12,
 12,
 13,
 13,
 14,
 15,
 16,
 18,
 18,
 21,
 23,
 24,
 1,
 2,
 4,
 7,
 8,
 8,
 8,
 19,
 19,
 20,
 20,
 21,
 23,
 24,
 2,
 3,
 6,
 7,
 8,
 22,
 23,
 24,
 1,
 5,
 5,
 6,
 8,
 20,
 21,
 21,
 22,
 2,
 4,
 5,
 8,
 8,
 8,
 21,
 23,
 1,
 1,
 2,
 3,
 3,
 3,
 4,
 5,
 5,
 7,
 8,
 8,
 21,
 23,
 1,
 3,
 4,
 5,
 7,
 8,
 9,
 9,
 9,
 10,
 10,
 10,
 11,
 11,
 11,
 12,
 12,
 13,
 13,
 15,
 17,
 19,
 23,
 24,
 1,
 1,
 5,
 6,
 6,
 9,
 10,
 10,
 10,
 11,
 11,
 11,
 12,
 13,
 15,
 16,
 17,
 17,
 19,
 20,
 21,
 22,
 22,
 22,
 5,
 6,
 8,
 8,
 8,
 19,
 19,
 21,
 24,
 5,
 6,
 8,
 20,
 21,
 23,
 23,
 5,
 5,
 8,
 8,
 19,
 20,
 21,
 21,
 22,
 3,
 4,
 5,
 6,
 7,
 7,
 8,
 8,
 8,
 20,
 24,
 7,
 8,
 8,
 19,
 20,
 21,
 6,
 6,
 7,
 8,
 9,
 10,
 10,
 10,
 11,
 12,
 14,
 14,
 15,
 15,
 17,
 17,
 18,
 20,
 21,
 21,
 23,
 24,
 1,
 3,
 5,
 7,
 7,
 7,
 8,
 9,
 9,
 10,
 10,
 11,
 12,
 13,
 14,
 16,
 18,
 18,
 19,
 20,
 20,
 2,
 3,
 7,
 8,
 19,
 19,
 4,
 4,
 4,
 5,
 6,
 6,
 7,
 7,
 8,
 8,
 19,
 21,
 21,
 1,
 2,
 5,
 19,
 20,
 20,
 21,
 21,
 21,
 23,
 24,
 24,
 1,
 2,
 3,
 6,
 6,
 6,
 7,
 7,
 8,
 8,
 1,
 4,
 5,
 6,
 6,
 7,
 7,
 8,
 8,
 8,
 21,
 22,
 23,
 24,
 1,
 1,
 1,
 2,
 5,
 6,
 6,
 9,
 9,
 9,
 9,
 10,
 10,
 10,
 11,
 11,
 12,
 13,
 14,
 14,
 16,
 17,
 18,
 21,
 2,
 6,
 8,
 9,
 11,
 12,
 13,
 15,
 16,
 16,
 16,
 17,
 18,
 20,
 21,
 21,
 22,
 22,
 23,
 24,
 2,
 5,
 6,
 8,
 8,
 19,
 20,
 21,
 22,
 1,
 4,
 4,
 6,
 7,
 7,
 8,
 8,
 19,
 22,
 23,
 5,
 6,
 7,
 8,
 20,
 22,
 2,
 6,
 8,
 8,
 19,
 20,
 22,
 23,
 2,
 2,
 5,
 6,
 7,
 8,
 19,
 19,
 20,
 22,
 1,
 1,
 2,
 6,
 8,
 9,
 9,
 9,
 10,
 10,
 11,
 12,
 12,
 13,
 19,
 19,
 21,
 21,
 22,
 23,
 1,
 2,
 2,
 4,
 5,
 9,
 9,
 10,
 10,
 11,
 11,
 12,
 12,
 13,
 14,
 14,
 17,
 24,
 1,
 2,
 7,
 7,
 8,
 8,
 19,
 20,
 20,
 1,
 2,
 8,
 19,
 20,
 22,
 24,
 1,
 1,
 2,
 3,
 6,
 7,
 8,
 19,
 23,
 23,
 24,
 1,
 2,
 3,
 7,
 8,
 8,
 20,
 21,
 22,
 1,
 1,
 3,
 4,
 5,
 6,
 6,
 7,
 7,
 8,
 8,
 19,
 20,
 21,
 22,
 23,
 23,
 2,
 3,
 4,
 5,
 7,
 7,
 7,
 8,
 8,
 9,
 10,
 10,
 10,
 10,
 11,
 11,
 11,
 11,
 12,
 12,
 12,
 13,
 18,
 20,
 21,
 22,
 24,
 3,
 4,
 6,
 7,
 8,
 9,
 10,
 10,
 12,
 14,
 14,
 15,
 16,
 18,
 19,
 20,
 23,
 1,
 3,
 4,
 5,
 6,
 7,
 8,
 8,
 8,
 19,
 23,
 24,
 1,
 1,
 1,
 3,
 5,
 8,
 19,
 20,
 20,
 21,
 2,
 7,
 7,
 8,
 19,
 19,
 20,
 22,
 24,
 4,
 5,
 6,
 7,
 8,
 8,
 8,
 19,
 20,
 21,
 21,
 23,
 2,
 5,
 7,
 19,
 19,
 21,
 22,
 23,
 1,
 2,
 3,
 5,
 7,
 8,
 8,
 9,
 9,
 9,
 10,
 10,
 11,
 12,
 12,
 13,
 14,
 18,
 19,
 21,
 22,
 23,
 1,
 1,
 3,
 4,
 6,
 8,
 9,
 9,
 10,
 10,
 12,
 14,
 14,
 14,
 17,
 18,
 20,
 22,
 3,
 4,
 5,
 6,
 7,
 8,
 8,
 19,
 22,
 22,
 23,
 23,
 24,
 1,
 7,
 7,
 8,
 20,
 20,
 21,
 22,
 24,
 2,
 ...]

In [2210]:
lst_start = [str(x) for x in lst_start]
lst_finish = [str(x) for x in lst_finish]

In [2211]:
lst_finish

['9',
 '9',
 '10',
 '10',
 '11',
 '13',
 '13',
 '14',
 '17',
 '20',
 '21',
 '22',
 '24',
 '6',
 '8',
 '9',
 '9',
 '10',
 '10',
 '10',
 '12',
 '12',
 '13',
 '18',
 '20',
 '24',
 '5',
 '5',
 '7',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '12',
 '13',
 '13',
 '13',
 '13',
 '19',
 '20',
 '23',
 '24',
 '1',
 '3',
 '4',
 '5',
 '8',
 '8',
 '19',
 '20',
 '20',
 '21',
 '21',
 '21',
 '24',
 '1',
 '7',
 '8',
 '20',
 '21',
 '23',
 '24',
 '24',
 '24',
 '2',
 '2',
 '3',
 '4',
 '7',
 '8',
 '8',
 '19',
 '19',
 '21',
 '4',
 '5',
 '6',
 '6',
 '7',
 '8',
 '8',
 '8',
 '19',
 '19',
 '20',
 '21',
 '24',
 '1',
 '3',
 '5',
 '7',
 '8',
 '9',
 '9',
 '10',
 '10',
 '10',
 '10',
 '11',
 '11',
 '11',
 '11',
 '13',
 '14',
 '14',
 '15',
 '16',
 '20',
 '21',
 '23',
 '2',
 '3',
 '5',
 '7',
 '8',
 '8',
 '9',
 '9',
 '10',
 '10',
 '11',
 '11',
 '11',
 '12',
 '15',
 '16',
 '17',
 '18',
 '21',
 '23',
 '3',
 '4',
 '7',
 '8',
 '9',
 '9',
 '10',
 '10',
 '10',
 '11',
 '11',
 '12',
 '12',
 '14',
 '16',
 '16',
 '17',
 '18',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '23',
 '24',
 '1',
 '7',
 '8',
 '21',
 '23',
 '5',
 '6',
 '7',
 '8',
 '19',
 '19',
 '19',
 '20',
 '20',
 '21',
 '22',
 '2',
 '8',
 '20',
 '20',
 '23',
 '23',
 '24',
 '24',
 '1',
 '3',
 '5',
 '8',
 '8',
 '19',
 '20',
 '21',
 '22',
 '23',
 '1',
 '2',
 '7',
 '8',
 '8',
 '9',
 '9',
 '10',
 '10',
 '11',
 '11',
 '12',
 '12',
 '13',
 '13',
 '13',
 '14',
 '14',
 '16',
 '16',
 '17',
 '18',
 '20',
 '20',
 '21',
 '4',
 '5',
 '7',
 '8',
 '9',
 '11',
 '11',
 '13',
 '14',
 '14',
 '15',
 '16',
 '20',
 '21',
 '1',
 '6',
 '7',
 '7',
 '8',
 '19',
 '19',
 '20',
 '21',
 '23',
 '1',
 '2',
 '3',
 '4',
 '8',
 '8',
 '20',
 '21',
 '22',
 '24',
 '2',
 '3',
 '7',
 '8',
 '8',
 '8',
 '19',
 '20',
 '22',
 '22',
 '22',
 '24',
 '1',
 '3',
 '6',
 '7',
 '8',
 '8',
 '8',
 '19',
 '20',
 '21',
 '22',
 '22',
 '23',
 '24',
 '1',
 '3',
 '4',
 '5',
 '6',
 '8',
 '22',
 '3',
 '3',
 '4',
 '5',
 '7',
 '7',
 '8',
 '8',
 '9',
 '9',
 '10',
 '11',
 '15',
 '15',
 '16',
 '17',
 '17',
 '18',
 '1',
 '1',
 '4',
 '4',
 '5',
 '7',
 '8',
 '10',
 '11',
 '12',
 '13',
 '14',
 '16',
 '19',
 '19',
 '19',
 '20',
 '21',
 '23',
 '24',
 '3',
 '4',
 '5',
 '5',
 '6',
 '6',
 '7',
 '7',
 '8',
 '19',
 '19',
 '21',
 '24',
 '1',
 '2',
 '3',
 '7',
 '8',
 '19',
 '20',
 '21',
 '22',
 '22',
 '24',
 '24',
 '1',
 '1',
 '5',
 '7',
 '8',
 '8',
 '19',
 '19',
 '19',
 '20',
 '23',
 '1',
 '2',
 '3',
 '8',
 '8',
 '20',
 '21',
 '22',
 '1',
 '2',
 '4',
 '6',
 '8',
 '19',
 '19',
 '20',
 '21',
 '21',
 '22',
 '22',
 '23',
 '3',
 '7',
 '8',
 '9',
 '9',
 '9',
 '9',
 '9',
 '10',
 '10',
 '10',
 '11',
 '11',
 '11',
 '11',
 '12',
 '12',
 '13',
 '16',
 '18',
 '19',
 '21',
 '21',
 '3',
 '7',
 '9',
 '9',
 '9',
 '10',
 '10',
 '11',
 '12',
 '12',
 '13',
 '13',
 '14',
 '15',
 '16',
 '18',
 '18',
 '21',
 '23',
 '24',
 '1',
 '2',
 '4',
 '7',
 '8',
 '8',
 '8',
 '19',
 '19',
 '20',
 '20',
 '21',
 '23',
 '24',
 '2',
 '3',
 '6',
 '7',
 '8',
 '22',
 '23',
 '24',
 '1',
 '5',
 '5',
 '6',
 '8',
 '20',
 '21',
 '21',
 '22',
 '2',
 '4',
 '5',
 '8',
 '8',
 '8',
 '21',
 '23',
 '1',
 '1',
 '2',
 '3',
 '3',
 '3',
 '4',
 '5',
 '5',
 '7',
 '8',
 '8',
 '21',
 '23',
 '1',
 '3',
 '4',
 '5',
 '7',
 '8',
 '9',
 '9',
 '9',
 '10',
 '10',
 '10',
 '11',
 '11',
 '11',
 '12',
 '12',
 '13',
 '13',
 '15',
 '17',
 '19',
 '23',
 '24',
 '1',
 '1',
 '5',
 '6',
 '6',
 '9',
 '10',
 '10',
 '10',
 '11',
 '11',
 '11',
 '12',
 '13',
 '15',
 '16',
 '17',
 '17',
 '19',
 '20',
 '21',
 '22',
 '22',
 '22',
 '5',
 '6',
 '8',
 '8',
 '8',
 '19',
 '19',
 '21',
 '24',
 '5',
 '6',
 '8',
 '20',
 '21',
 '23',
 '23',
 '5',
 '5',
 '8',
 '8',
 '19',
 '20',
 '21',
 '21',
 '22',
 '3',
 '4',
 '5',
 '6',
 '7',
 '7',
 '8',
 '8',
 '8',
 '20',
 '24',
 '7',
 '8',
 '8',
 '19',
 '20',
 '21',
 '6',
 '6',
 '7',
 '8',
 '9',
 '10',
 '10',
 '10',
 '11',
 '12',
 '14',
 '14',
 '15',
 '15',
 '17',
 '17',
 '18',
 '20',
 '21',
 '21',
 '23',
 '24',
 '1',
 '3',
 '5',
 '7',
 '7',
 '7',
 '8',
 '9',
 '9',
 '10',
 '10',
 '11',
 '12',
 '13',
 '14',
 '16',
 '18',
 '18',
 '19',
 '20',
 '20',
 '2',
 '3',
 '7',
 '8',
 '19',
 '19',
 '4',
 '4',
 '4',
 '5',
 '6',
 '6',
 '7',
 '7',
 '8',
 '8',
 '19',
 '21',
 '21',
 '1',
 '2',
 '5',
 '19',
 '20',
 '20',
 '21',
 '21',
 '21',
 '23',
 '24',
 '24',
 '1',
 '2',
 '3',
 '6',
 '6',
 '6',
 '7',
 '7',
 '8',
 '8',
 '1',
 '4',
 '5',
 '6',
 '6',
 '7',
 '7',
 '8',
 '8',
 '8',
 '21',
 '22',
 '23',
 '24',
 '1',
 '1',
 '1',
 '2',
 '5',
 '6',
 '6',
 '9',
 '9',
 '9',
 '9',
 '10',
 '10',
 '10',
 '11',
 '11',
 '12',
 '13',
 '14',
 '14',
 '16',
 '17',
 '18',
 '21',
 '2',
 '6',
 '8',
 '9',
 '11',
 '12',
 '13',
 '15',
 '16',
 '16',
 '16',
 '17',
 '18',
 '20',
 '21',
 '21',
 '22',
 '22',
 '23',
 '24',
 '2',
 '5',
 '6',
 '8',
 '8',
 '19',
 '20',
 '21',
 '22',
 '1',
 '4',
 '4',
 '6',
 '7',
 '7',
 '8',
 '8',
 '19',
 '22',
 '23',
 '5',
 '6',
 '7',
 '8',
 '20',
 '22',
 '2',
 '6',
 '8',
 '8',
 '19',
 '20',
 '22',
 '23',
 '2',
 '2',
 '5',
 '6',
 '7',
 '8',
 '19',
 '19',
 '20',
 '22',
 '1',
 '1',
 '2',
 '6',
 '8',
 '9',
 '9',
 '9',
 '10',
 '10',
 '11',
 '12',
 '12',
 '13',
 '19',
 '19',
 '21',
 '21',
 '22',
 '23',
 '1',
 '2',
 '2',
 '4',
 '5',
 '9',
 '9',
 '10',
 '10',
 '11',
 '11',
 '12',
 '12',
 '13',
 '14',
 '14',
 '17',
 '24',
 '1',
 '2',
 '7',
 '7',
 '8',
 '8',
 '19',
 '20',
 '20',
 '1',
 '2',
 '8',
 '19',
 '20',
 '22',
 '24',
 '1',
 '1',
 '2',
 '3',
 '6',
 '7',
 '8',
 '19',
 '23',
 '23',
 '24',
 '1',
 '2',
 '3',
 '7',
 '8',
 '8',
 '20',
 '21',
 '22',
 '1',
 '1',
 '3',
 '4',
 '5',
 '6',
 '6',
 '7',
 '7',
 '8',
 '8',
 '19',
 '20',
 '21',
 '22',
 '23',
 '23',
 '2',
 '3',
 '4',
 '5',
 '7',
 '7',
 '7',
 '8',
 '8',
 '9',
 '10',
 '10',
 '10',
 '10',
 '11',
 '11',
 '11',
 '11',
 '12',
 '12',
 '12',
 '13',
 '18',
 '20',
 '21',
 '22',
 '24',
 '3',
 '4',
 '6',
 '7',
 '8',
 '9',
 '10',
 '10',
 '12',
 '14',
 '14',
 '15',
 '16',
 '18',
 '19',
 '20',
 '23',
 '1',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '8',
 '8',
 '19',
 '23',
 '24',
 '1',
 '1',
 '1',
 '3',
 '5',
 '8',
 '19',
 '20',
 '20',
 '21',
 '2',
 '7',
 '7',
 '8',
 '19',
 '19',
 '20',
 '22',
 '24',
 '4',
 '5',
 '6',
 '7',
 '8',
 '8',
 '8',
 '19',
 '20',
 '21',
 '21',
 '23',
 '2',
 '5',
 '7',
 '19',
 '19',
 '21',
 '22',
 '23',
 '1',
 '2',
 '3',
 '5',
 '7',
 '8',
 '8',
 '9',
 '9',
 '9',
 '10',
 '10',
 '11',
 '12',
 '12',
 '13',
 '14',
 '18',
 '19',
 '21',
 '22',
 '23',
 '1',
 '1',
 '3',
 '4',
 '6',
 '8',
 '9',
 '9',
 '10',
 '10',
 '12',
 '14',
 '14',
 '14',
 '17',
 '18',
 '20',
 '22',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '8',
 '19',
 '22',
 '22',
 '23',
 '23',
 '24',
 '1',
 '7',
 '7',
 '8',
 '20',
 '20',
 '21',
 '22',
 '24',
 '2',
 ...]

In [2212]:
lst_finish = [x.zfill(2) for x in lst_finish]
lst_finish

['09',
 '09',
 '10',
 '10',
 '11',
 '13',
 '13',
 '14',
 '17',
 '20',
 '21',
 '22',
 '24',
 '06',
 '08',
 '09',
 '09',
 '10',
 '10',
 '10',
 '12',
 '12',
 '13',
 '18',
 '20',
 '24',
 '05',
 '05',
 '07',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '12',
 '13',
 '13',
 '13',
 '13',
 '19',
 '20',
 '23',
 '24',
 '01',
 '03',
 '04',
 '05',
 '08',
 '08',
 '19',
 '20',
 '20',
 '21',
 '21',
 '21',
 '24',
 '01',
 '07',
 '08',
 '20',
 '21',
 '23',
 '24',
 '24',
 '24',
 '02',
 '02',
 '03',
 '04',
 '07',
 '08',
 '08',
 '19',
 '19',
 '21',
 '04',
 '05',
 '06',
 '06',
 '07',
 '08',
 '08',
 '08',
 '19',
 '19',
 '20',
 '21',
 '24',
 '01',
 '03',
 '05',
 '07',
 '08',
 '09',
 '09',
 '10',
 '10',
 '10',
 '10',
 '11',
 '11',
 '11',
 '11',
 '13',
 '14',
 '14',
 '15',
 '16',
 '20',
 '21',
 '23',
 '02',
 '03',
 '05',
 '07',
 '08',
 '08',
 '09',
 '09',
 '10',
 '10',
 '11',
 '11',
 '11',
 '12',
 '15',
 '16',
 '17',
 '18',
 '21',
 '23',
 '03',
 '04',
 '07',
 '08',
 '09',
 '09',
 '10',
 '10',
 '10',
 '11',
 '11',
 '12',
 '12',
 '14',
 '16',
 '16',
 '17',
 '18',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '23',
 '24',
 '01',
 '07',
 '08',
 '21',
 '23',
 '05',
 '06',
 '07',
 '08',
 '19',
 '19',
 '19',
 '20',
 '20',
 '21',
 '22',
 '02',
 '08',
 '20',
 '20',
 '23',
 '23',
 '24',
 '24',
 '01',
 '03',
 '05',
 '08',
 '08',
 '19',
 '20',
 '21',
 '22',
 '23',
 '01',
 '02',
 '07',
 '08',
 '08',
 '09',
 '09',
 '10',
 '10',
 '11',
 '11',
 '12',
 '12',
 '13',
 '13',
 '13',
 '14',
 '14',
 '16',
 '16',
 '17',
 '18',
 '20',
 '20',
 '21',
 '04',
 '05',
 '07',
 '08',
 '09',
 '11',
 '11',
 '13',
 '14',
 '14',
 '15',
 '16',
 '20',
 '21',
 '01',
 '06',
 '07',
 '07',
 '08',
 '19',
 '19',
 '20',
 '21',
 '23',
 '01',
 '02',
 '03',
 '04',
 '08',
 '08',
 '20',
 '21',
 '22',
 '24',
 '02',
 '03',
 '07',
 '08',
 '08',
 '08',
 '19',
 '20',
 '22',
 '22',
 '22',
 '24',
 '01',
 '03',
 '06',
 '07',
 '08',
 '08',
 '08',
 '19',
 '20',
 '21',
 '22',
 '22',
 '23',
 '24',
 '01',
 '03',
 '04',
 '05',
 '06',
 '08',
 '22',
 '03',
 '03',
 '04',
 '05',
 '07',
 '07',
 '08',
 '08',
 '09',
 '09',
 '10',
 '11',
 '15',
 '15',
 '16',
 '17',
 '17',
 '18',
 '01',
 '01',
 '04',
 '04',
 '05',
 '07',
 '08',
 '10',
 '11',
 '12',
 '13',
 '14',
 '16',
 '19',
 '19',
 '19',
 '20',
 '21',
 '23',
 '24',
 '03',
 '04',
 '05',
 '05',
 '06',
 '06',
 '07',
 '07',
 '08',
 '19',
 '19',
 '21',
 '24',
 '01',
 '02',
 '03',
 '07',
 '08',
 '19',
 '20',
 '21',
 '22',
 '22',
 '24',
 '24',
 '01',
 '01',
 '05',
 '07',
 '08',
 '08',
 '19',
 '19',
 '19',
 '20',
 '23',
 '01',
 '02',
 '03',
 '08',
 '08',
 '20',
 '21',
 '22',
 '01',
 '02',
 '04',
 '06',
 '08',
 '19',
 '19',
 '20',
 '21',
 '21',
 '22',
 '22',
 '23',
 '03',
 '07',
 '08',
 '09',
 '09',
 '09',
 '09',
 '09',
 '10',
 '10',
 '10',
 '11',
 '11',
 '11',
 '11',
 '12',
 '12',
 '13',
 '16',
 '18',
 '19',
 '21',
 '21',
 '03',
 '07',
 '09',
 '09',
 '09',
 '10',
 '10',
 '11',
 '12',
 '12',
 '13',
 '13',
 '14',
 '15',
 '16',
 '18',
 '18',
 '21',
 '23',
 '24',
 '01',
 '02',
 '04',
 '07',
 '08',
 '08',
 '08',
 '19',
 '19',
 '20',
 '20',
 '21',
 '23',
 '24',
 '02',
 '03',
 '06',
 '07',
 '08',
 '22',
 '23',
 '24',
 '01',
 '05',
 '05',
 '06',
 '08',
 '20',
 '21',
 '21',
 '22',
 '02',
 '04',
 '05',
 '08',
 '08',
 '08',
 '21',
 '23',
 '01',
 '01',
 '02',
 '03',
 '03',
 '03',
 '04',
 '05',
 '05',
 '07',
 '08',
 '08',
 '21',
 '23',
 '01',
 '03',
 '04',
 '05',
 '07',
 '08',
 '09',
 '09',
 '09',
 '10',
 '10',
 '10',
 '11',
 '11',
 '11',
 '12',
 '12',
 '13',
 '13',
 '15',
 '17',
 '19',
 '23',
 '24',
 '01',
 '01',
 '05',
 '06',
 '06',
 '09',
 '10',
 '10',
 '10',
 '11',
 '11',
 '11',
 '12',
 '13',
 '15',
 '16',
 '17',
 '17',
 '19',
 '20',
 '21',
 '22',
 '22',
 '22',
 '05',
 '06',
 '08',
 '08',
 '08',
 '19',
 '19',
 '21',
 '24',
 '05',
 '06',
 '08',
 '20',
 '21',
 '23',
 '23',
 '05',
 '05',
 '08',
 '08',
 '19',
 '20',
 '21',
 '21',
 '22',
 '03',
 '04',
 '05',
 '06',
 '07',
 '07',
 '08',
 '08',
 '08',
 '20',
 '24',
 '07',
 '08',
 '08',
 '19',
 '20',
 '21',
 '06',
 '06',
 '07',
 '08',
 '09',
 '10',
 '10',
 '10',
 '11',
 '12',
 '14',
 '14',
 '15',
 '15',
 '17',
 '17',
 '18',
 '20',
 '21',
 '21',
 '23',
 '24',
 '01',
 '03',
 '05',
 '07',
 '07',
 '07',
 '08',
 '09',
 '09',
 '10',
 '10',
 '11',
 '12',
 '13',
 '14',
 '16',
 '18',
 '18',
 '19',
 '20',
 '20',
 '02',
 '03',
 '07',
 '08',
 '19',
 '19',
 '04',
 '04',
 '04',
 '05',
 '06',
 '06',
 '07',
 '07',
 '08',
 '08',
 '19',
 '21',
 '21',
 '01',
 '02',
 '05',
 '19',
 '20',
 '20',
 '21',
 '21',
 '21',
 '23',
 '24',
 '24',
 '01',
 '02',
 '03',
 '06',
 '06',
 '06',
 '07',
 '07',
 '08',
 '08',
 '01',
 '04',
 '05',
 '06',
 '06',
 '07',
 '07',
 '08',
 '08',
 '08',
 '21',
 '22',
 '23',
 '24',
 '01',
 '01',
 '01',
 '02',
 '05',
 '06',
 '06',
 '09',
 '09',
 '09',
 '09',
 '10',
 '10',
 '10',
 '11',
 '11',
 '12',
 '13',
 '14',
 '14',
 '16',
 '17',
 '18',
 '21',
 '02',
 '06',
 '08',
 '09',
 '11',
 '12',
 '13',
 '15',
 '16',
 '16',
 '16',
 '17',
 '18',
 '20',
 '21',
 '21',
 '22',
 '22',
 '23',
 '24',
 '02',
 '05',
 '06',
 '08',
 '08',
 '19',
 '20',
 '21',
 '22',
 '01',
 '04',
 '04',
 '06',
 '07',
 '07',
 '08',
 '08',
 '19',
 '22',
 '23',
 '05',
 '06',
 '07',
 '08',
 '20',
 '22',
 '02',
 '06',
 '08',
 '08',
 '19',
 '20',
 '22',
 '23',
 '02',
 '02',
 '05',
 '06',
 '07',
 '08',
 '19',
 '19',
 '20',
 '22',
 '01',
 '01',
 '02',
 '06',
 '08',
 '09',
 '09',
 '09',
 '10',
 '10',
 '11',
 '12',
 '12',
 '13',
 '19',
 '19',
 '21',
 '21',
 '22',
 '23',
 '01',
 '02',
 '02',
 '04',
 '05',
 '09',
 '09',
 '10',
 '10',
 '11',
 '11',
 '12',
 '12',
 '13',
 '14',
 '14',
 '17',
 '24',
 '01',
 '02',
 '07',
 '07',
 '08',
 '08',
 '19',
 '20',
 '20',
 '01',
 '02',
 '08',
 '19',
 '20',
 '22',
 '24',
 '01',
 '01',
 '02',
 '03',
 '06',
 '07',
 '08',
 '19',
 '23',
 '23',
 '24',
 '01',
 '02',
 '03',
 '07',
 '08',
 '08',
 '20',
 '21',
 '22',
 '01',
 '01',
 '03',
 '04',
 '05',
 '06',
 '06',
 '07',
 '07',
 '08',
 '08',
 '19',
 '20',
 '21',
 '22',
 '23',
 '23',
 '02',
 '03',
 '04',
 '05',
 '07',
 '07',
 '07',
 '08',
 '08',
 '09',
 '10',
 '10',
 '10',
 '10',
 '11',
 '11',
 '11',
 '11',
 '12',
 '12',
 '12',
 '13',
 '18',
 '20',
 '21',
 '22',
 '24',
 '03',
 '04',
 '06',
 '07',
 '08',
 '09',
 '10',
 '10',
 '12',
 '14',
 '14',
 '15',
 '16',
 '18',
 '19',
 '20',
 '23',
 '01',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '08',
 '08',
 '19',
 '23',
 '24',
 '01',
 '01',
 '01',
 '03',
 '05',
 '08',
 '19',
 '20',
 '20',
 '21',
 '02',
 '07',
 '07',
 '08',
 '19',
 '19',
 '20',
 '22',
 '24',
 '04',
 '05',
 '06',
 '07',
 '08',
 '08',
 '08',
 '19',
 '20',
 '21',
 '21',
 '23',
 '02',
 '05',
 '07',
 '19',
 '19',
 '21',
 '22',
 '23',
 '01',
 '02',
 '03',
 '05',
 '07',
 '08',
 '08',
 '09',
 '09',
 '09',
 '10',
 '10',
 '11',
 '12',
 '12',
 '13',
 '14',
 '18',
 '19',
 '21',
 '22',
 '23',
 '01',
 '01',
 '03',
 '04',
 '06',
 '08',
 '09',
 '09',
 '10',
 '10',
 '12',
 '14',
 '14',
 '14',
 '17',
 '18',
 '20',
 '22',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '08',
 '19',
 '22',
 '22',
 '23',
 '23',
 '24',
 '01',
 '07',
 '07',
 '08',
 '20',
 '20',
 '21',
 '22',
 '24',
 '02',
 ...]

In [2213]:
lst_start = [x.zfill(2) for x in lst_start] 
# 시간 대를 두 자릿수로 변경
lst_start

['08',
 '08',
 '09',
 '09',
 '10',
 '12',
 '12',
 '13',
 '16',
 '19',
 '20',
 '21',
 '23',
 '05',
 '07',
 '08',
 '08',
 '09',
 '09',
 '09',
 '11',
 '11',
 '12',
 '17',
 '19',
 '23',
 '04',
 '04',
 '06',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '11',
 '12',
 '12',
 '12',
 '12',
 '18',
 '19',
 '22',
 '23',
 '00',
 '02',
 '03',
 '04',
 '07',
 '07',
 '18',
 '19',
 '19',
 '20',
 '20',
 '20',
 '23',
 '00',
 '06',
 '07',
 '19',
 '20',
 '22',
 '23',
 '23',
 '23',
 '01',
 '01',
 '02',
 '03',
 '06',
 '07',
 '07',
 '18',
 '18',
 '20',
 '03',
 '04',
 '05',
 '05',
 '06',
 '07',
 '07',
 '07',
 '18',
 '18',
 '19',
 '20',
 '23',
 '00',
 '02',
 '04',
 '06',
 '07',
 '08',
 '08',
 '09',
 '09',
 '09',
 '09',
 '10',
 '10',
 '10',
 '10',
 '12',
 '13',
 '13',
 '14',
 '15',
 '19',
 '20',
 '22',
 '01',
 '02',
 '04',
 '06',
 '07',
 '07',
 '08',
 '08',
 '09',
 '09',
 '10',
 '10',
 '10',
 '11',
 '14',
 '15',
 '16',
 '17',
 '20',
 '22',
 '02',
 '03',
 '06',
 '07',
 '08',
 '08',
 '09',
 '09',
 '09',
 '10',
 '10',
 '11',
 '11',
 '13',
 '15',
 '15',
 '16',
 '17',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '22',
 '23',
 '00',
 '06',
 '07',
 '20',
 '22',
 '04',
 '05',
 '06',
 '07',
 '18',
 '18',
 '18',
 '19',
 '19',
 '20',
 '21',
 '01',
 '07',
 '19',
 '19',
 '22',
 '22',
 '23',
 '23',
 '00',
 '02',
 '04',
 '07',
 '07',
 '18',
 '19',
 '20',
 '21',
 '22',
 '00',
 '01',
 '06',
 '07',
 '07',
 '08',
 '08',
 '09',
 '09',
 '10',
 '10',
 '11',
 '11',
 '12',
 '12',
 '12',
 '13',
 '13',
 '15',
 '15',
 '16',
 '17',
 '19',
 '19',
 '20',
 '03',
 '04',
 '06',
 '07',
 '08',
 '10',
 '10',
 '12',
 '13',
 '13',
 '14',
 '15',
 '19',
 '20',
 '00',
 '05',
 '06',
 '06',
 '07',
 '18',
 '18',
 '19',
 '20',
 '22',
 '00',
 '01',
 '02',
 '03',
 '07',
 '07',
 '19',
 '20',
 '21',
 '23',
 '01',
 '02',
 '06',
 '07',
 '07',
 '07',
 '18',
 '19',
 '21',
 '21',
 '21',
 '23',
 '00',
 '02',
 '05',
 '06',
 '07',
 '07',
 '07',
 '18',
 '19',
 '20',
 '21',
 '21',
 '22',
 '23',
 '00',
 '02',
 '03',
 '04',
 '05',
 '07',
 '21',
 '02',
 '02',
 '03',
 '04',
 '06',
 '06',
 '07',
 '07',
 '08',
 '08',
 '09',
 '10',
 '14',
 '14',
 '15',
 '16',
 '16',
 '17',
 '00',
 '00',
 '03',
 '03',
 '04',
 '06',
 '07',
 '09',
 '10',
 '11',
 '12',
 '13',
 '15',
 '18',
 '18',
 '18',
 '19',
 '20',
 '22',
 '23',
 '02',
 '03',
 '04',
 '04',
 '05',
 '05',
 '06',
 '06',
 '07',
 '18',
 '18',
 '20',
 '23',
 '00',
 '01',
 '02',
 '06',
 '07',
 '18',
 '19',
 '20',
 '21',
 '21',
 '23',
 '23',
 '00',
 '00',
 '04',
 '06',
 '07',
 '07',
 '18',
 '18',
 '18',
 '19',
 '22',
 '00',
 '01',
 '02',
 '07',
 '07',
 '19',
 '20',
 '21',
 '00',
 '01',
 '03',
 '05',
 '07',
 '18',
 '18',
 '19',
 '20',
 '20',
 '21',
 '21',
 '22',
 '02',
 '06',
 '07',
 '08',
 '08',
 '08',
 '08',
 '08',
 '09',
 '09',
 '09',
 '10',
 '10',
 '10',
 '10',
 '11',
 '11',
 '12',
 '15',
 '17',
 '18',
 '20',
 '20',
 '02',
 '06',
 '08',
 '08',
 '08',
 '09',
 '09',
 '10',
 '11',
 '11',
 '12',
 '12',
 '13',
 '14',
 '15',
 '17',
 '17',
 '20',
 '22',
 '23',
 '00',
 '01',
 '03',
 '06',
 '07',
 '07',
 '07',
 '18',
 '18',
 '19',
 '19',
 '20',
 '22',
 '23',
 '01',
 '02',
 '05',
 '06',
 '07',
 '21',
 '22',
 '23',
 '00',
 '04',
 '04',
 '05',
 '07',
 '19',
 '20',
 '20',
 '21',
 '01',
 '03',
 '04',
 '07',
 '07',
 '07',
 '20',
 '22',
 '00',
 '00',
 '01',
 '02',
 '02',
 '02',
 '03',
 '04',
 '04',
 '06',
 '07',
 '07',
 '20',
 '22',
 '00',
 '02',
 '03',
 '04',
 '06',
 '07',
 '08',
 '08',
 '08',
 '09',
 '09',
 '09',
 '10',
 '10',
 '10',
 '11',
 '11',
 '12',
 '12',
 '14',
 '16',
 '18',
 '22',
 '23',
 '00',
 '00',
 '04',
 '05',
 '05',
 '08',
 '09',
 '09',
 '09',
 '10',
 '10',
 '10',
 '11',
 '12',
 '14',
 '15',
 '16',
 '16',
 '18',
 '19',
 '20',
 '21',
 '21',
 '21',
 '04',
 '05',
 '07',
 '07',
 '07',
 '18',
 '18',
 '20',
 '23',
 '04',
 '05',
 '07',
 '19',
 '20',
 '22',
 '22',
 '04',
 '04',
 '07',
 '07',
 '18',
 '19',
 '20',
 '20',
 '21',
 '02',
 '03',
 '04',
 '05',
 '06',
 '06',
 '07',
 '07',
 '07',
 '19',
 '23',
 '06',
 '07',
 '07',
 '18',
 '19',
 '20',
 '05',
 '05',
 '06',
 '07',
 '08',
 '09',
 '09',
 '09',
 '10',
 '11',
 '13',
 '13',
 '14',
 '14',
 '16',
 '16',
 '17',
 '19',
 '20',
 '20',
 '22',
 '23',
 '00',
 '02',
 '04',
 '06',
 '06',
 '06',
 '07',
 '08',
 '08',
 '09',
 '09',
 '10',
 '11',
 '12',
 '13',
 '15',
 '17',
 '17',
 '18',
 '19',
 '19',
 '01',
 '02',
 '06',
 '07',
 '18',
 '18',
 '03',
 '03',
 '03',
 '04',
 '05',
 '05',
 '06',
 '06',
 '07',
 '07',
 '18',
 '20',
 '20',
 '00',
 '01',
 '04',
 '18',
 '19',
 '19',
 '20',
 '20',
 '20',
 '22',
 '23',
 '23',
 '00',
 '01',
 '02',
 '05',
 '05',
 '05',
 '06',
 '06',
 '07',
 '07',
 '00',
 '03',
 '04',
 '05',
 '05',
 '06',
 '06',
 '07',
 '07',
 '07',
 '20',
 '21',
 '22',
 '23',
 '00',
 '00',
 '00',
 '01',
 '04',
 '05',
 '05',
 '08',
 '08',
 '08',
 '08',
 '09',
 '09',
 '09',
 '10',
 '10',
 '11',
 '12',
 '13',
 '13',
 '15',
 '16',
 '17',
 '20',
 '01',
 '05',
 '07',
 '08',
 '10',
 '11',
 '12',
 '14',
 '15',
 '15',
 '15',
 '16',
 '17',
 '19',
 '20',
 '20',
 '21',
 '21',
 '22',
 '23',
 '01',
 '04',
 '05',
 '07',
 '07',
 '18',
 '19',
 '20',
 '21',
 '00',
 '03',
 '03',
 '05',
 '06',
 '06',
 '07',
 '07',
 '18',
 '21',
 '22',
 '04',
 '05',
 '06',
 '07',
 '19',
 '21',
 '01',
 '05',
 '07',
 '07',
 '18',
 '19',
 '21',
 '22',
 '01',
 '01',
 '04',
 '05',
 '06',
 '07',
 '18',
 '18',
 '19',
 '21',
 '00',
 '00',
 '01',
 '05',
 '07',
 '08',
 '08',
 '08',
 '09',
 '09',
 '10',
 '11',
 '11',
 '12',
 '18',
 '18',
 '20',
 '20',
 '21',
 '22',
 '00',
 '01',
 '01',
 '03',
 '04',
 '08',
 '08',
 '09',
 '09',
 '10',
 '10',
 '11',
 '11',
 '12',
 '13',
 '13',
 '16',
 '23',
 '00',
 '01',
 '06',
 '06',
 '07',
 '07',
 '18',
 '19',
 '19',
 '00',
 '01',
 '07',
 '18',
 '19',
 '21',
 '23',
 '00',
 '00',
 '01',
 '02',
 '05',
 '06',
 '07',
 '18',
 '22',
 '22',
 '23',
 '00',
 '01',
 '02',
 '06',
 '07',
 '07',
 '19',
 '20',
 '21',
 '00',
 '00',
 '02',
 '03',
 '04',
 '05',
 '05',
 '06',
 '06',
 '07',
 '07',
 '18',
 '19',
 '20',
 '21',
 '22',
 '22',
 '01',
 '02',
 '03',
 '04',
 '06',
 '06',
 '06',
 '07',
 '07',
 '08',
 '09',
 '09',
 '09',
 '09',
 '10',
 '10',
 '10',
 '10',
 '11',
 '11',
 '11',
 '12',
 '17',
 '19',
 '20',
 '21',
 '23',
 '02',
 '03',
 '05',
 '06',
 '07',
 '08',
 '09',
 '09',
 '11',
 '13',
 '13',
 '14',
 '15',
 '17',
 '18',
 '19',
 '22',
 '00',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '07',
 '07',
 '18',
 '22',
 '23',
 '00',
 '00',
 '00',
 '02',
 '04',
 '07',
 '18',
 '19',
 '19',
 '20',
 '01',
 '06',
 '06',
 '07',
 '18',
 '18',
 '19',
 '21',
 '23',
 '03',
 '04',
 '05',
 '06',
 '07',
 '07',
 '07',
 '18',
 '19',
 '20',
 '20',
 '22',
 '01',
 '04',
 '06',
 '18',
 '18',
 '20',
 '21',
 '22',
 '00',
 '01',
 '02',
 '04',
 '06',
 '07',
 '07',
 '08',
 '08',
 '08',
 '09',
 '09',
 '10',
 '11',
 '11',
 '12',
 '13',
 '17',
 '18',
 '20',
 '21',
 '22',
 '00',
 '00',
 '02',
 '03',
 '05',
 '07',
 '08',
 '08',
 '09',
 '09',
 '11',
 '13',
 '13',
 '13',
 '16',
 '17',
 '19',
 '21',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '07',
 '18',
 '21',
 '21',
 '22',
 '22',
 '23',
 '00',
 '06',
 '06',
 '07',
 '19',
 '19',
 '20',
 '21',
 '23',
 '01',
 ...]

In [2214]:
lst_range = ['%s ~ %s' %x for x in zip(lst_start, lst_finish)]
lst_range

['08 ~ 09',
 '08 ~ 09',
 '09 ~ 10',
 '09 ~ 10',
 '10 ~ 11',
 '12 ~ 13',
 '12 ~ 13',
 '13 ~ 14',
 '16 ~ 17',
 '19 ~ 20',
 '20 ~ 21',
 '21 ~ 22',
 '23 ~ 24',
 '05 ~ 06',
 '07 ~ 08',
 '08 ~ 09',
 '08 ~ 09',
 '09 ~ 10',
 '09 ~ 10',
 '09 ~ 10',
 '11 ~ 12',
 '11 ~ 12',
 '12 ~ 13',
 '17 ~ 18',
 '19 ~ 20',
 '23 ~ 24',
 '04 ~ 05',
 '04 ~ 05',
 '06 ~ 07',
 '06 ~ 07',
 '07 ~ 08',
 '08 ~ 09',
 '09 ~ 10',
 '10 ~ 11',
 '11 ~ 12',
 '11 ~ 12',
 '12 ~ 13',
 '12 ~ 13',
 '12 ~ 13',
 '12 ~ 13',
 '18 ~ 19',
 '19 ~ 20',
 '22 ~ 23',
 '23 ~ 24',
 '00 ~ 01',
 '02 ~ 03',
 '03 ~ 04',
 '04 ~ 05',
 '07 ~ 08',
 '07 ~ 08',
 '18 ~ 19',
 '19 ~ 20',
 '19 ~ 20',
 '20 ~ 21',
 '20 ~ 21',
 '20 ~ 21',
 '23 ~ 24',
 '00 ~ 01',
 '06 ~ 07',
 '07 ~ 08',
 '19 ~ 20',
 '20 ~ 21',
 '22 ~ 23',
 '23 ~ 24',
 '23 ~ 24',
 '23 ~ 24',
 '01 ~ 02',
 '01 ~ 02',
 '02 ~ 03',
 '03 ~ 04',
 '06 ~ 07',
 '07 ~ 08',
 '07 ~ 08',
 '18 ~ 19',
 '18 ~ 19',
 '20 ~ 21',
 '03 ~ 04',
 '04 ~ 05',
 '05 ~ 06',
 '05 ~ 06',
 '06 ~ 07',
 '07 ~ 08',
 '07 ~ 08',
 '07 ~ 08',
 '18 ~ 19',
 '18 ~ 19',
 '19 ~ 20',
 '20 ~ 21',
 '23 ~ 24',
 '00 ~ 01',
 '02 ~ 03',
 '04 ~ 05',
 '06 ~ 07',
 '07 ~ 08',
 '08 ~ 09',
 '08 ~ 09',
 '09 ~ 10',
 '09 ~ 10',
 '09 ~ 10',
 '09 ~ 10',
 '10 ~ 11',
 '10 ~ 11',
 '10 ~ 11',
 '10 ~ 11',
 '12 ~ 13',
 '13 ~ 14',
 '13 ~ 14',
 '14 ~ 15',
 '15 ~ 16',
 '19 ~ 20',
 '20 ~ 21',
 '22 ~ 23',
 '01 ~ 02',
 '02 ~ 03',
 '04 ~ 05',
 '06 ~ 07',
 '07 ~ 08',
 '07 ~ 08',
 '08 ~ 09',
 '08 ~ 09',
 '09 ~ 10',
 '09 ~ 10',
 '10 ~ 11',
 '10 ~ 11',
 '10 ~ 11',
 '11 ~ 12',
 '14 ~ 15',
 '15 ~ 16',
 '16 ~ 17',
 '17 ~ 18',
 '20 ~ 21',
 '22 ~ 23',
 '02 ~ 03',
 '03 ~ 04',
 '06 ~ 07',
 '07 ~ 08',
 '08 ~ 09',
 '08 ~ 09',
 '09 ~ 10',
 '09 ~ 10',
 '09 ~ 10',
 '10 ~ 11',
 '10 ~ 11',
 '11 ~ 12',
 '11 ~ 12',
 '13 ~ 14',
 '15 ~ 16',
 '15 ~ 16',
 '16 ~ 17',
 '17 ~ 18',
 '17 ~ 18',
 '18 ~ 19',
 '19 ~ 20',
 '20 ~ 21',
 '21 ~ 22',
 '22 ~ 23',
 '22 ~ 23',
 '23 ~ 24',
 '00 ~ 01',
 '06 ~ 07',
 '07 ~ 08',
 '20 ~ 21',
 '22 ~ 23',
 '04 ~ 05',
 '05 ~ 06',
 '06 ~ 07',
 '07 ~ 08',
 '18 ~ 19',
 '18 ~ 19',
 '18 ~ 19',
 '19 ~ 20',
 '19 ~ 20',
 '20 ~ 21',
 '21 ~ 22',
 '01 ~ 02',
 '07 ~ 08',
 '19 ~ 20',
 '19 ~ 20',
 '22 ~ 23',
 '22 ~ 23',
 '23 ~ 24',
 '23 ~ 24',
 '00 ~ 01',
 '02 ~ 03',
 '04 ~ 05',
 '07 ~ 08',
 '07 ~ 08',
 '18 ~ 19',
 '19 ~ 20',
 '20 ~ 21',
 '21 ~ 22',
 '22 ~ 23',
 '00 ~ 01',
 '01 ~ 02',
 '06 ~ 07',
 '07 ~ 08',
 '07 ~ 08',
 '08 ~ 09',
 '08 ~ 09',
 '09 ~ 10',
 '09 ~ 10',
 '10 ~ 11',
 '10 ~ 11',
 '11 ~ 12',
 '11 ~ 12',
 '12 ~ 13',
 '12 ~ 13',
 '12 ~ 13',
 '13 ~ 14',
 '13 ~ 14',
 '15 ~ 16',
 '15 ~ 16',
 '16 ~ 17',
 '17 ~ 18',
 '19 ~ 20',
 '19 ~ 20',
 '20 ~ 21',
 '03 ~ 04',
 '04 ~ 05',
 '06 ~ 07',
 '07 ~ 08',
 '08 ~ 09',
 '10 ~ 11',
 '10 ~ 11',
 '12 ~ 13',
 '13 ~ 14',
 '13 ~ 14',
 '14 ~ 15',
 '15 ~ 16',
 '19 ~ 20',
 '20 ~ 21',
 '00 ~ 01',
 '05 ~ 06',
 '06 ~ 07',
 '06 ~ 07',
 '07 ~ 08',
 '18 ~ 19',
 '18 ~ 19',
 '19 ~ 20',
 '20 ~ 21',
 '22 ~ 23',
 '00 ~ 01',
 '01 ~ 02',
 '02 ~ 03',
 '03 ~ 04',
 '07 ~ 08',
 '07 ~ 08',
 '19 ~ 20',
 '20 ~ 21',
 '21 ~ 22',
 '23 ~ 24',
 '01 ~ 02',
 '02 ~ 03',
 '06 ~ 07',
 '07 ~ 08',
 '07 ~ 08',
 '07 ~ 08',
 '18 ~ 19',
 '19 ~ 20',
 '21 ~ 22',
 '21 ~ 22',
 '21 ~ 22',
 '23 ~ 24',
 '00 ~ 01',
 '02 ~ 03',
 '05 ~ 06',
 '06 ~ 07',
 '07 ~ 08',
 '07 ~ 08',
 '07 ~ 08',
 '18 ~ 19',
 '19 ~ 20',
 '20 ~ 21',
 '21 ~ 22',
 '21 ~ 22',
 '22 ~ 23',
 '23 ~ 24',
 '00 ~ 01',
 '02 ~ 03',
 '03 ~ 04',
 '04 ~ 05',
 '05 ~ 06',
 '07 ~ 08',
 '21 ~ 22',
 '02 ~ 03',
 '02 ~ 03',
 '03 ~ 04',
 '04 ~ 05',
 '06 ~ 07',
 '06 ~ 07',
 '07 ~ 08',
 '07 ~ 08',
 '08 ~ 09',
 '08 ~ 09',
 '09 ~ 10',
 '10 ~ 11',
 '14 ~ 15',
 '14 ~ 15',
 '15 ~ 16',
 '16 ~ 17',
 '16 ~ 17',
 '17 ~ 18',
 '00 ~ 01',
 '00 ~ 01',
 '03 ~ 04',
 '03 ~ 04',
 '04 ~ 05',
 '06 ~ 07',
 '07 ~ 08',
 '09 ~ 10',
 '10 ~ 11',
 '11 ~ 12',
 '12 ~ 13',
 '13 ~ 14',
 '15 ~ 16',
 '18 ~ 19',
 '18 ~ 19',
 '18 ~ 19',
 '19 ~ 20',
 '20 ~ 21',
 '22 ~ 23',
 '23 ~ 24',
 '02 ~ 03',
 '03 ~ 04',
 '04 ~ 05',
 '04 ~ 05',
 '05 ~ 06',
 '05 ~ 06',
 '06 ~ 07',
 '06 ~ 07',
 '07 ~ 08',
 '18 ~ 19',
 '18 ~ 19',
 '20 ~ 21',
 '23 ~ 24',
 '00 ~ 01',
 '01 ~ 02',
 '02 ~ 03',
 '06 ~ 07',
 '07 ~ 08',
 '18 ~ 19',
 '19 ~ 20',
 '20 ~ 21',
 '21 ~ 22',
 '21 ~ 22',
 '23 ~ 24',
 '23 ~ 24',
 '00 ~ 01',
 '00 ~ 01',
 '04 ~ 05',
 '06 ~ 07',
 '07 ~ 08',
 '07 ~ 08',
 '18 ~ 19',
 '18 ~ 19',
 '18 ~ 19',
 '19 ~ 20',
 '22 ~ 23',
 '00 ~ 01',
 '01 ~ 02',
 '02 ~ 03',
 '07 ~ 08',
 '07 ~ 08',
 '19 ~ 20',
 '20 ~ 21',
 '21 ~ 22',
 '00 ~ 01',
 '01 ~ 02',
 '03 ~ 04',
 '05 ~ 06',
 '07 ~ 08',
 '18 ~ 19',
 '18 ~ 19',
 '19 ~ 20',
 '20 ~ 21',
 '20 ~ 21',
 '21 ~ 22',
 '21 ~ 22',
 '22 ~ 23',
 '02 ~ 03',
 '06 ~ 07',
 '07 ~ 08',
 '08 ~ 09',
 '08 ~ 09',
 '08 ~ 09',
 '08 ~ 09',
 '08 ~ 09',
 '09 ~ 10',
 '09 ~ 10',
 '09 ~ 10',
 '10 ~ 11',
 '10 ~ 11',
 '10 ~ 11',
 '10 ~ 11',
 '11 ~ 12',
 '11 ~ 12',
 '12 ~ 13',
 '15 ~ 16',
 '17 ~ 18',
 '18 ~ 19',
 '20 ~ 21',
 '20 ~ 21',
 '02 ~ 03',
 '06 ~ 07',
 '08 ~ 09',
 '08 ~ 09',
 '08 ~ 09',
 '09 ~ 10',
 '09 ~ 10',
 '10 ~ 11',
 '11 ~ 12',
 '11 ~ 12',
 '12 ~ 13',
 '12 ~ 13',
 '13 ~ 14',
 '14 ~ 15',
 '15 ~ 16',
 '17 ~ 18',
 '17 ~ 18',
 '20 ~ 21',
 '22 ~ 23',
 '23 ~ 24',
 '00 ~ 01',
 '01 ~ 02',
 '03 ~ 04',
 '06 ~ 07',
 '07 ~ 08',
 '07 ~ 08',
 '07 ~ 08',
 '18 ~ 19',
 '18 ~ 19',
 '19 ~ 20',
 '19 ~ 20',
 '20 ~ 21',
 '22 ~ 23',
 '23 ~ 24',
 '01 ~ 02',
 '02 ~ 03',
 '05 ~ 06',
 '06 ~ 07',
 '07 ~ 08',
 '21 ~ 22',
 '22 ~ 23',
 '23 ~ 24',
 '00 ~ 01',
 '04 ~ 05',
 '04 ~ 05',
 '05 ~ 06',
 '07 ~ 08',
 '19 ~ 20',
 '20 ~ 21',
 '20 ~ 21',
 '21 ~ 22',
 '01 ~ 02',
 '03 ~ 04',
 '04 ~ 05',
 '07 ~ 08',
 '07 ~ 08',
 '07 ~ 08',
 '20 ~ 21',
 '22 ~ 23',
 '00 ~ 01',
 '00 ~ 01',
 '01 ~ 02',
 '02 ~ 03',
 '02 ~ 03',
 '02 ~ 03',
 '03 ~ 04',
 '04 ~ 05',
 '04 ~ 05',
 '06 ~ 07',
 '07 ~ 08',
 '07 ~ 08',
 '20 ~ 21',
 '22 ~ 23',
 '00 ~ 01',
 '02 ~ 03',
 '03 ~ 04',
 '04 ~ 05',
 '06 ~ 07',
 '07 ~ 08',
 '08 ~ 09',
 '08 ~ 09',
 '08 ~ 09',
 '09 ~ 10',
 '09 ~ 10',
 '09 ~ 10',
 '10 ~ 11',
 '10 ~ 11',
 '10 ~ 11',
 '11 ~ 12',
 '11 ~ 12',
 '12 ~ 13',
 '12 ~ 13',
 '14 ~ 15',
 '16 ~ 17',
 '18 ~ 19',
 '22 ~ 23',
 '23 ~ 24',
 '00 ~ 01',
 '00 ~ 01',
 '04 ~ 05',
 '05 ~ 06',
 '05 ~ 06',
 '08 ~ 09',
 '09 ~ 10',
 '09 ~ 10',
 '09 ~ 10',
 '10 ~ 11',
 '10 ~ 11',
 '10 ~ 11',
 '11 ~ 12',
 '12 ~ 13',
 '14 ~ 15',
 '15 ~ 16',
 '16 ~ 17',
 '16 ~ 17',
 '18 ~ 19',
 '19 ~ 20',
 '20 ~ 21',
 '21 ~ 22',
 '21 ~ 22',
 '21 ~ 22',
 '04 ~ 05',
 '05 ~ 06',
 '07 ~ 08',
 '07 ~ 08',
 '07 ~ 08',
 '18 ~ 19',
 '18 ~ 19',
 '20 ~ 21',
 '23 ~ 24',
 '04 ~ 05',
 '05 ~ 06',
 '07 ~ 08',
 '19 ~ 20',
 '20 ~ 21',
 '22 ~ 23',
 '22 ~ 23',
 '04 ~ 05',
 '04 ~ 05',
 '07 ~ 08',
 '07 ~ 08',
 '18 ~ 19',
 '19 ~ 20',
 '20 ~ 21',
 '20 ~ 21',
 '21 ~ 22',
 '02 ~ 03',
 '03 ~ 04',
 '04 ~ 05',
 '05 ~ 06',
 '06 ~ 07',
 '06 ~ 07',
 '07 ~ 08',
 '07 ~ 08',
 '07 ~ 08',
 '19 ~ 20',
 '23 ~ 24',
 '06 ~ 07',
 '07 ~ 08',
 '07 ~ 08',
 '18 ~ 19',
 '19 ~ 20',
 '20 ~ 21',
 '05 ~ 06',
 '05 ~ 06',
 '06 ~ 07',
 '07 ~ 08',
 '08 ~ 09',
 '09 ~ 10',
 '09 ~ 10',
 '09 ~ 10',
 '10 ~ 11',
 '11 ~ 12',
 '13 ~ 14',
 '13 ~ 14',
 '14 ~ 15',
 '14 ~ 15',
 '16 ~ 17',
 '16 ~ 17',
 '17 ~ 18',
 '19 ~ 20',
 '20 ~ 21',
 '20 ~ 21',
 '22 ~ 23',
 '23 ~ 24',
 '00 ~ 01',
 '02 ~ 03',
 '04 ~ 05',
 '06 ~ 07',
 '06 ~ 07',
 '06 ~ 07',
 '07 ~ 08',
 '08 ~ 09',
 '08 ~ 09',
 '09 ~ 10',
 '09 ~ 10',
 '10 ~ 11',
 '11 ~ 12',
 '12 ~ 13',
 '13 ~ 14',
 '15 ~ 16',
 '17 ~ 18',
 '17 ~ 18',
 '18 ~ 19',
 '19 ~ 20',
 '19 ~ 20',
 '01 ~ 02',
 '02 ~ 03',
 '06 ~ 07',
 '07 ~ 08',
 '18 ~ 19',
 '18 ~ 19',
 '03 ~ 04',
 '03 ~ 04',
 '03 ~ 04',
 '04 ~ 05',
 '05 ~ 06',
 '05 ~ 06',
 '06 ~ 07',
 '06 ~ 07',
 '07 ~ 08',
 '07 ~ 08',
 '18 ~ 19',
 '20 ~ 21',
 '20 ~ 21',
 '00 ~ 01',
 '01 ~ 02',
 '04 ~ 05',
 '18 ~ 19',
 '19 ~ 20',
 '19 ~ 20',
 '20 ~ 21',
 '20 ~ 21',
 '20 ~ 21',
 '22 ~ 23',
 '23 ~ 24',
 '23 ~ 24',
 '00 ~ 01',
 '01 ~ 02',
 '02 ~ 03',
 '05 ~ 06',
 '05 ~ 06',
 '05 ~ 06',
 '06 ~ 07',
 '06 ~ 07',
 '07 ~ 08',
 '07 ~ 08',
 '00 ~ 01',
 '03 ~ 04',
 '04 ~ 05',
 '05 ~ 06',
 '05 ~ 06',
 '06 ~ 07',
 '06 ~ 07',
 '07 ~ 08',
 '07 ~ 08',
 '07 ~ 08',
 '20 ~ 21',
 '21 ~ 22',
 '22 ~ 23',
 '23 ~ 24',
 '00 ~ 01',
 '00 ~ 01',
 '00 ~ 01',
 '01 ~ 02',
 '04 ~ 05',
 '05 ~ 06',
 '05 ~ 06',
 '08 ~ 09',
 '08 ~ 09',
 '08 ~ 09',
 '08 ~ 09',
 '09 ~ 10',
 '09 ~ 10',
 '09 ~ 10',
 '10 ~ 11',
 '10 ~ 11',
 '11 ~ 12',
 '12 ~ 13',
 '13 ~ 14',
 '13 ~ 14',
 '15 ~ 16',
 '16 ~ 17',
 '17 ~ 18',
 '20 ~ 21',
 '01 ~ 02',
 '05 ~ 06',
 '07 ~ 08',
 '08 ~ 09',
 '10 ~ 11',
 '11 ~ 12',
 '12 ~ 13',
 '14 ~ 15',
 '15 ~ 16',
 '15 ~ 16',
 '15 ~ 16',
 '16 ~ 17',
 '17 ~ 18',
 '19 ~ 20',
 '20 ~ 21',
 '20 ~ 21',
 '21 ~ 22',
 '21 ~ 22',
 '22 ~ 23',
 '23 ~ 24',
 '01 ~ 02',
 '04 ~ 05',
 '05 ~ 06',
 '07 ~ 08',
 '07 ~ 08',
 '18 ~ 19',
 '19 ~ 20',
 '20 ~ 21',
 '21 ~ 22',
 '00 ~ 01',
 '03 ~ 04',
 '03 ~ 04',
 '05 ~ 06',
 '06 ~ 07',
 '06 ~ 07',
 '07 ~ 08',
 '07 ~ 08',
 '18 ~ 19',
 '21 ~ 22',
 '22 ~ 23',
 '04 ~ 05',
 '05 ~ 06',
 '06 ~ 07',
 '07 ~ 08',
 '19 ~ 20',
 '21 ~ 22',
 '01 ~ 02',
 '05 ~ 06',
 '07 ~ 08',
 '07 ~ 08',
 '18 ~ 19',
 '19 ~ 20',
 '21 ~ 22',
 '22 ~ 23',
 '01 ~ 02',
 '01 ~ 02',
 '04 ~ 05',
 '05 ~ 06',
 '06 ~ 07',
 '07 ~ 08',
 '18 ~ 19',
 '18 ~ 19',
 '19 ~ 20',
 '21 ~ 22',
 '00 ~ 01',
 '00 ~ 01',
 '01 ~ 02',
 '05 ~ 06',
 '07 ~ 08',
 '08 ~ 09',
 '08 ~ 09',
 '08 ~ 09',
 '09 ~ 10',
 '09 ~ 10',
 '10 ~ 11',
 '11 ~ 12',
 '11 ~ 12',
 '12 ~ 13',
 '18 ~ 19',
 '18 ~ 19',
 '20 ~ 21',
 '20 ~ 21',
 '21 ~ 22',
 '22 ~ 23',
 '00 ~ 01',
 '01 ~ 02',
 '01 ~ 02',
 '03 ~ 04',
 '04 ~ 05',
 '08 ~ 09',
 '08 ~ 09',
 '09 ~ 10',
 '09 ~ 10',
 '10 ~ 11',
 '10 ~ 11',
 '11 ~ 12',
 '11 ~ 12',
 '12 ~ 13',
 '13 ~ 14',
 '13 ~ 14',
 '16 ~ 17',
 '23 ~ 24',
 '00 ~ 01',
 '01 ~ 02',
 '06 ~ 07',
 '06 ~ 07',
 '07 ~ 08',
 '07 ~ 08',
 '18 ~ 19',
 '19 ~ 20',
 '19 ~ 20',
 '00 ~ 01',
 '01 ~ 02',
 '07 ~ 08',
 '18 ~ 19',
 '19 ~ 20',
 '21 ~ 22',
 '23 ~ 24',
 '00 ~ 01',
 '00 ~ 01',
 '01 ~ 02',
 '02 ~ 03',
 '05 ~ 06',
 '06 ~ 07',
 '07 ~ 08',
 '18 ~ 19',
 '22 ~ 23',
 '22 ~ 23',
 '23 ~ 24',
 '00 ~ 01',
 '01 ~ 02',
 '02 ~ 03',
 '06 ~ 07',
 '07 ~ 08',
 '07 ~ 08',
 '19 ~ 20',
 '20 ~ 21',
 '21 ~ 22',
 '00 ~ 01',
 '00 ~ 01',
 '02 ~ 03',
 '03 ~ 04',
 '04 ~ 05',
 '05 ~ 06',
 '05 ~ 06',
 '06 ~ 07',
 '06 ~ 07',
 '07 ~ 08',
 '07 ~ 08',
 '18 ~ 19',
 '19 ~ 20',
 '20 ~ 21',
 '21 ~ 22',
 '22 ~ 23',
 '22 ~ 23',
 '01 ~ 02',
 '02 ~ 03',
 '03 ~ 04',
 '04 ~ 05',
 '06 ~ 07',
 '06 ~ 07',
 '06 ~ 07',
 '07 ~ 08',
 '07 ~ 08',
 '08 ~ 09',
 '09 ~ 10',
 '09 ~ 10',
 '09 ~ 10',
 '09 ~ 10',
 '10 ~ 11',
 '10 ~ 11',
 '10 ~ 11',
 '10 ~ 11',
 '11 ~ 12',
 '11 ~ 12',
 '11 ~ 12',
 '12 ~ 13',
 '17 ~ 18',
 '19 ~ 20',
 '20 ~ 21',
 '21 ~ 22',
 '23 ~ 24',
 '02 ~ 03',
 '03 ~ 04',
 '05 ~ 06',
 '06 ~ 07',
 '07 ~ 08',
 '08 ~ 09',
 '09 ~ 10',
 '09 ~ 10',
 '11 ~ 12',
 '13 ~ 14',
 '13 ~ 14',
 '14 ~ 15',
 '15 ~ 16',
 '17 ~ 18',
 '18 ~ 19',
 '19 ~ 20',
 '22 ~ 23',
 '00 ~ 01',
 '02 ~ 03',
 '03 ~ 04',
 '04 ~ 05',
 '05 ~ 06',
 '06 ~ 07',
 '07 ~ 08',
 '07 ~ 08',
 '07 ~ 08',
 '18 ~ 19',
 '22 ~ 23',
 '23 ~ 24',
 '00 ~ 01',
 '00 ~ 01',
 '00 ~ 01',
 '02 ~ 03',
 '04 ~ 05',
 '07 ~ 08',
 '18 ~ 19',
 '19 ~ 20',
 '19 ~ 20',
 '20 ~ 21',
 '01 ~ 02',
 '06 ~ 07',
 '06 ~ 07',
 '07 ~ 08',
 '18 ~ 19',
 '18 ~ 19',
 '19 ~ 20',
 '21 ~ 22',
 '23 ~ 24',
 '03 ~ 04',
 '04 ~ 05',
 '05 ~ 06',
 '06 ~ 07',
 '07 ~ 08',
 '07 ~ 08',
 '07 ~ 08',
 '18 ~ 19',
 '19 ~ 20',
 '20 ~ 21',
 '20 ~ 21',
 '22 ~ 23',
 '01 ~ 02',
 '04 ~ 05',
 '06 ~ 07',
 '18 ~ 19',
 '18 ~ 19',
 '20 ~ 21',
 '21 ~ 22',
 '22 ~ 23',
 '00 ~ 01',
 '01 ~ 02',
 '02 ~ 03',
 '04 ~ 05',
 '06 ~ 07',
 '07 ~ 08',
 '07 ~ 08',
 '08 ~ 09',
 '08 ~ 09',
 '08 ~ 09',
 '09 ~ 10',
 '09 ~ 10',
 '10 ~ 11',
 '11 ~ 12',
 '11 ~ 12',
 '12 ~ 13',
 '13 ~ 14',
 '17 ~ 18',
 '18 ~ 19',
 '20 ~ 21',
 '21 ~ 22',
 '22 ~ 23',
 '00 ~ 01',
 '00 ~ 01',
 '02 ~ 03',
 '03 ~ 04',
 '05 ~ 06',
 '07 ~ 08',
 '08 ~ 09',
 '08 ~ 09',
 '09 ~ 10',
 '09 ~ 10',
 '11 ~ 12',
 '13 ~ 14',
 '13 ~ 14',
 '13 ~ 14',
 '16 ~ 17',
 '17 ~ 18',
 '19 ~ 20',
 '21 ~ 22',
 '02 ~ 03',
 '03 ~ 04',
 '04 ~ 05',
 '05 ~ 06',
 '06 ~ 07',
 '07 ~ 08',
 '07 ~ 08',
 '18 ~ 19',
 '21 ~ 22',
 '21 ~ 22',
 '22 ~ 23',
 '22 ~ 23',
 '23 ~ 24',
 '00 ~ 01',
 '06 ~ 07',
 '06 ~ 07',
 '07 ~ 08',
 '19 ~ 20',
 '19 ~ 20',
 '20 ~ 21',
 '21 ~ 22',
 '23 ~ 24',
 '01 ~ 02',
 ...]

In [2215]:
grouped_time['Time'] = lst_range
grouped_time

      제품별  전화번호        Date     Time
0     CAI     1  2022-10-01  08 ~ 09
1      CT     1  2022-10-01  08 ~ 09
2     CAI     1  2022-10-01  09 ~ 10
3      CT     1  2022-10-01  09 ~ 10
4     CAI     4  2022-10-01  10 ~ 11
...   ...   ...         ...      ...
1251  CAI     1  2023-01-01  04 ~ 05
1252  CAI     1  2023-01-01  05 ~ 06
1253  CAI     3  2023-01-01  07 ~ 08
1254   CT     1  2023-01-01  07 ~ 08
1255  HHS     3  2023-01-01  07 ~ 08

[1256 rows x 4 columns]

In [2216]:
pivot_table = grouped_time.pivot_table(
values = '전화번호', index = ['Date','Time'], columns = '제품별', aggfunc = np.sum)

In [2217]:
pivot_table

제품별                  AX  CAI   CT  HHS  MI   MR  POC  RO  SY  US  XP
Date       Time
2022-10-01 08 ~ 09  NaN  1.0  1.0  NaN NaN  NaN  NaN NaN NaN NaN NaN
           09 ~ 10  NaN  1.0  1.0  NaN NaN  NaN  NaN NaN NaN NaN NaN
           10 ~ 11  NaN  4.0  NaN  NaN NaN  NaN  NaN NaN NaN NaN NaN
           12 ~ 13  2.0  NaN  NaN  1.0 NaN  NaN  NaN NaN NaN NaN NaN
           13 ~ 14  NaN  NaN  NaN  NaN NaN  1.0  NaN NaN NaN NaN NaN
...                 ...  ...  ...  ...  ..  ...  ...  ..  ..  ..  ..
2023-01-01 01 ~ 02  NaN  1.0  NaN  NaN NaN  NaN  NaN NaN NaN NaN NaN
           03 ~ 04  NaN  NaN  NaN  NaN NaN  1.0  NaN NaN NaN NaN NaN
           04 ~ 05  NaN  1.0  NaN  NaN NaN  NaN  NaN NaN NaN NaN NaN
           05 ~ 06  NaN  1.0  NaN  NaN NaN  NaN  NaN NaN NaN NaN NaN
           07 ~ 08  NaN  3.0  1.0  3.0 NaN  NaN  NaN NaN NaN NaN NaN

[912 rows x 11 columns]

In [2218]:
pivot_table_daily = grouped_time.pivot_table(
values = '전화번호', index = ['Date'], columns = '제품별', aggfunc = np.sum)

In [2219]:
pivot_table_daily

제품별          AX   CAI   CT  HHS  MI   MR  POC  RO  SY  US   XP
Date
2022-10-01  2.0  11.0  2.0  1.0 NaN  1.0  NaN NaN NaN NaN  NaN
2022-10-02  NaN   9.0  2.0  1.0 NaN  2.0  NaN NaN NaN NaN  NaN
2022-10-03  NaN  12.0  4.0  1.0 NaN  3.0  3.0 NaN NaN NaN  NaN
2022-10-04  NaN   6.0  2.0  2.0 NaN  3.0  1.0 NaN NaN NaN  NaN
2022-10-05  1.0   4.0  4.0  NaN NaN  NaN  NaN NaN NaN NaN  1.0
...         ...   ...  ...  ...  ..  ...  ...  ..  ..  ..  ...
2022-12-28  NaN   4.0  NaN  2.0 NaN  NaN  1.0 NaN NaN NaN  NaN
2022-12-29  NaN  11.0  1.0  1.0 NaN  NaN  NaN NaN NaN NaN  1.0
2022-12-30  NaN  13.0  NaN  2.0 NaN  1.0  1.0 NaN NaN NaN  1.0
2022-12-31  2.0  10.0  2.0  6.0 NaN  1.0  2.0 NaN NaN NaN  1.0
2023-01-01  NaN   6.0  1.0  3.0 NaN  2.0  NaN NaN NaN NaN  NaN

[93 rows x 11 columns]

In [2220]:
pivot_table_daily = pivot_table_daily.reset_index()

In [2221]:
pivot_table

제품별                  AX  CAI   CT  HHS  MI   MR  POC  RO  SY  US  XP
Date       Time
2022-10-01 08 ~ 09  NaN  1.0  1.0  NaN NaN  NaN  NaN NaN NaN NaN NaN
           09 ~ 10  NaN  1.0  1.0  NaN NaN  NaN  NaN NaN NaN NaN NaN
           10 ~ 11  NaN  4.0  NaN  NaN NaN  NaN  NaN NaN NaN NaN NaN
           12 ~ 13  2.0  NaN  NaN  1.0 NaN  NaN  NaN NaN NaN NaN NaN
           13 ~ 14  NaN  NaN  NaN  NaN NaN  1.0  NaN NaN NaN NaN NaN
...                 ...  ...  ...  ...  ..  ...  ...  ..  ..  ..  ..
2023-01-01 01 ~ 02  NaN  1.0  NaN  NaN NaN  NaN  NaN NaN NaN NaN NaN
           03 ~ 04  NaN  NaN  NaN  NaN NaN  1.0  NaN NaN NaN NaN NaN
           04 ~ 05  NaN  1.0  NaN  NaN NaN  NaN  NaN NaN NaN NaN NaN
           05 ~ 06  NaN  1.0  NaN  NaN NaN  NaN  NaN NaN NaN NaN NaN
           07 ~ 08  NaN  3.0  1.0  3.0 NaN  NaN  NaN NaN NaN NaN NaN

[912 rows x 11 columns]

In [2222]:
for index, row in pivot_table.iterrows():
    print(index)

(datetime.date(2022, 10, 1), '08 ~ 09')
(datetime.date(2022, 10, 1), '09 ~ 10')
(datetime.date(2022, 10, 1), '10 ~ 11')
(datetime.date(2022, 10, 1), '12 ~ 13')
(datetime.date(2022, 10, 1), '13 ~ 14')
(datetime.date(2022, 10, 1), '16 ~ 17')
(datetime.date(2022, 10, 1), '19 ~ 20')
(datetime.date(2022, 10, 1), '20 ~ 21')
(datetime.date(2022, 10, 1), '21 ~ 22')
(datetime.date(2022, 10, 1), '23 ~ 24')
(datetime.date(2022, 10, 2), '05 ~ 06')
(datetime.date(2022, 10, 2), '07 ~ 08')
(datetime.date(2022, 10, 2), '08 ~ 09')
(datetime.date(2022, 10, 2), '09 ~ 10')
(datetime.date(2022, 10, 2), '11 ~ 12')
(datetime.date(2022, 10, 2), '12 ~ 13')
(datetime.date(2022, 10, 2), '17 ~ 18')
(datetime.date(2022, 10, 2), '19 ~ 20')
(datetime.date(2022, 10, 2), '23 ~ 24')
(datetime.date(2022, 10, 3), '04 ~ 05')
(datetime.date(2022, 10, 3), '06 ~ 07')
(datetime.date(2022, 10, 3), '07 ~ 08')
(datetime.date(2022, 10, 3), '08 ~ 09')
(datetime.date(2022, 10, 3), '09 ~ 10')
(datetime.date(2022, 10, 3), '10 ~ 11')
(datetime.date(2022, 10, 3), '11 ~ 12')
(datetime.date(2022, 10, 3), '12 ~ 13')
(datetime.date(2022, 10, 3), '18 ~ 19')
(datetime.date(2022, 10, 3), '19 ~ 20')
(datetime.date(2022, 10, 3), '22 ~ 23')
(datetime.date(2022, 10, 3), '23 ~ 24')
(datetime.date(2022, 10, 4), '00 ~ 01')
(datetime.date(2022, 10, 4), '02 ~ 03')
(datetime.date(2022, 10, 4), '03 ~ 04')
(datetime.date(2022, 10, 4), '04 ~ 05')
(datetime.date(2022, 10, 4), '07 ~ 08')
(datetime.date(2022, 10, 4), '18 ~ 19')
(datetime.date(2022, 10, 4), '19 ~ 20')
(datetime.date(2022, 10, 4), '20 ~ 21')
(datetime.date(2022, 10, 4), '23 ~ 24')
(datetime.date(2022, 10, 5), '00 ~ 01')
(datetime.date(2022, 10, 5), '06 ~ 07')
(datetime.date(2022, 10, 5), '07 ~ 08')
(datetime.date(2022, 10, 5), '19 ~ 20')
(datetime.date(2022, 10, 5), '20 ~ 21')
(datetime.date(2022, 10, 5), '22 ~ 23')
(datetime.date(2022, 10, 5), '23 ~ 24')
(datetime.date(2022, 10, 6), '01 ~ 02')
(datetime.date(2022, 10, 6), '02 ~ 03')
(datetime.date(2022, 10, 6), '03 ~ 04')
(datetime.date(2022, 10, 6), '06 ~ 07')
(datetime.date(2022, 10, 6), '07 ~ 08')
(datetime.date(2022, 10, 6), '18 ~ 19')
(datetime.date(2022, 10, 6), '20 ~ 21')
(datetime.date(2022, 10, 7), '03 ~ 04')
(datetime.date(2022, 10, 7), '04 ~ 05')
(datetime.date(2022, 10, 7), '05 ~ 06')
(datetime.date(2022, 10, 7), '06 ~ 07')
(datetime.date(2022, 10, 7), '07 ~ 08')
(datetime.date(2022, 10, 7), '18 ~ 19')
(datetime.date(2022, 10, 7), '19 ~ 20')
(datetime.date(2022, 10, 7), '20 ~ 21')
(datetime.date(2022, 10, 7), '23 ~ 24')
(datetime.date(2022, 10, 8), '00 ~ 01')
(datetime.date(2022, 10, 8), '02 ~ 03')
(datetime.date(2022, 10, 8), '04 ~ 05')
(datetime.date(2022, 10, 8), '06 ~ 07')
(datetime.date(2022, 10, 8), '07 ~ 08')
(datetime.date(2022, 10, 8), '08 ~ 09')
(datetime.date(2022, 10, 8), '09 ~ 10')
(datetime.date(2022, 10, 8), '10 ~ 11')
(datetime.date(2022, 10, 8), '12 ~ 13')
(datetime.date(2022, 10, 8), '13 ~ 14')
(datetime.date(2022, 10, 8), '14 ~ 15')
(datetime.date(2022, 10, 8), '15 ~ 16')
(datetime.date(2022, 10, 8), '19 ~ 20')
(datetime.date(2022, 10, 8), '20 ~ 21')
(datetime.date(2022, 10, 8), '22 ~ 23')
(datetime.date(2022, 10, 9), '01 ~ 02')
(datetime.date(2022, 10, 9), '02 ~ 03')
(datetime.date(2022, 10, 9), '04 ~ 05')
(datetime.date(2022, 10, 9), '06 ~ 07')
(datetime.date(2022, 10, 9), '07 ~ 08')
(datetime.date(2022, 10, 9), '08 ~ 09')
(datetime.date(2022, 10, 9), '09 ~ 10')
(datetime.date(2022, 10, 9), '10 ~ 11')
(datetime.date(2022, 10, 9), '11 ~ 12')
(datetime.date(2022, 10, 9), '14 ~ 15')
(datetime.date(2022, 10, 9), '15 ~ 16')
(datetime.date(2022, 10, 9), '16 ~ 17')
(datetime.date(2022, 10, 9), '17 ~ 18')
(datetime.date(2022, 10, 9), '20 ~ 21')
(datetime.date(2022, 10, 9), '22 ~ 23')
(datetime.date(2022, 10, 10), '02 ~ 03')
(datetime.date(2022, 10, 10), '03 ~ 04')
(datetime.date(2022, 10, 10), '06 ~ 07')
(datetime.date(2022, 10, 10), '07 ~ 08')
(datetime.date(2022, 10, 10), '08 ~ 09')
(datetime.date(2022, 10, 10), '09 ~ 10')
(datetime.date(2022, 10, 10), '10 ~ 11')
(datetime.date(2022, 10, 10), '11 ~ 12')
(datetime.date(2022, 10, 10), '13 ~ 14')
(datetime.date(2022, 10, 10), '15 ~ 16')
(datetime.date(2022, 10, 10), '16 ~ 17')
(datetime.date(2022, 10, 10), '17 ~ 18')
(datetime.date(2022, 10, 10), '18 ~ 19')
(datetime.date(2022, 10, 10), '19 ~ 20')
(datetime.date(2022, 10, 10), '20 ~ 21')
(datetime.date(2022, 10, 10), '21 ~ 22')
(datetime.date(2022, 10, 10), '22 ~ 23')
(datetime.date(2022, 10, 10), '23 ~ 24')
(datetime.date(2022, 10, 11), '00 ~ 01')
(datetime.date(2022, 10, 11), '06 ~ 07')
(datetime.date(2022, 10, 11), '07 ~ 08')
(datetime.date(2022, 10, 11), '20 ~ 21')
(datetime.date(2022, 10, 11), '22 ~ 23')
(datetime.date(2022, 10, 12), '04 ~ 05')
(datetime.date(2022, 10, 12), '05 ~ 06')
(datetime.date(2022, 10, 12), '06 ~ 07')
(datetime.date(2022, 10, 12), '07 ~ 08')
(datetime.date(2022, 10, 12), '18 ~ 19')
(datetime.date(2022, 10, 12), '19 ~ 20')
(datetime.date(2022, 10, 12), '20 ~ 21')
(datetime.date(2022, 10, 12), '21 ~ 22')
(datetime.date(2022, 10, 13), '01 ~ 02')
(datetime.date(2022, 10, 13), '07 ~ 08')
(datetime.date(2022, 10, 13), '19 ~ 20')
(datetime.date(2022, 10, 13), '22 ~ 23')
(datetime.date(2022, 10, 13), '23 ~ 24')
(datetime.date(2022, 10, 14), '00 ~ 01')
(datetime.date(2022, 10, 14), '02 ~ 03')
(datetime.date(2022, 10, 14), '04 ~ 05')
(datetime.date(2022, 10, 14), '07 ~ 08')
(datetime.date(2022, 10, 14), '18 ~ 19')
(datetime.date(2022, 10, 14), '19 ~ 20')
(datetime.date(2022, 10, 14), '20 ~ 21')
(datetime.date(2022, 10, 14), '21 ~ 22')
(datetime.date(2022, 10, 14), '22 ~ 23')
(datetime.date(2022, 10, 15), '00 ~ 01')
(datetime.date(2022, 10, 15), '01 ~ 02')
(datetime.date(2022, 10, 15), '06 ~ 07')
(datetime.date(2022, 10, 15), '07 ~ 08')
(datetime.date(2022, 10, 15), '08 ~ 09')
(datetime.date(2022, 10, 15), '09 ~ 10')
(datetime.date(2022, 10, 15), '10 ~ 11')
(datetime.date(2022, 10, 15), '11 ~ 12')
(datetime.date(2022, 10, 15), '12 ~ 13')
(datetime.date(2022, 10, 15), '13 ~ 14')
(datetime.date(2022, 10, 15), '15 ~ 16')
(datetime.date(2022, 10, 15), '16 ~ 17')
(datetime.date(2022, 10, 15), '17 ~ 18')
(datetime.date(2022, 10, 15), '19 ~ 20')
(datetime.date(2022, 10, 15), '20 ~ 21')
(datetime.date(2022, 10, 16), '03 ~ 04')
(datetime.date(2022, 10, 16), '04 ~ 05')
(datetime.date(2022, 10, 16), '06 ~ 07')
(datetime.date(2022, 10, 16), '07 ~ 08')
(datetime.date(2022, 10, 16), '08 ~ 09')
(datetime.date(2022, 10, 16), '10 ~ 11')
(datetime.date(2022, 10, 16), '12 ~ 13')
(datetime.date(2022, 10, 16), '13 ~ 14')
(datetime.date(2022, 10, 16), '14 ~ 15')
(datetime.date(2022, 10, 16), '15 ~ 16')
(datetime.date(2022, 10, 16), '19 ~ 20')
(datetime.date(2022, 10, 16), '20 ~ 21')
(datetime.date(2022, 10, 17), '00 ~ 01')
(datetime.date(2022, 10, 17), '05 ~ 06')
(datetime.date(2022, 10, 17), '06 ~ 07')
(datetime.date(2022, 10, 17), '07 ~ 08')
(datetime.date(2022, 10, 17), '18 ~ 19')
(datetime.date(2022, 10, 17), '19 ~ 20')
(datetime.date(2022, 10, 17), '20 ~ 21')
(datetime.date(2022, 10, 17), '22 ~ 23')
(datetime.date(2022, 10, 18), '00 ~ 01')
(datetime.date(2022, 10, 18), '01 ~ 02')
(datetime.date(2022, 10, 18), '02 ~ 03')
(datetime.date(2022, 10, 18), '03 ~ 04')
(datetime.date(2022, 10, 18), '07 ~ 08')
(datetime.date(2022, 10, 18), '19 ~ 20')
(datetime.date(2022, 10, 18), '20 ~ 21')
(datetime.date(2022, 10, 18), '21 ~ 22')
(datetime.date(2022, 10, 18), '23 ~ 24')
(datetime.date(2022, 10, 19), '01 ~ 02')
(datetime.date(2022, 10, 19), '02 ~ 03')
(datetime.date(2022, 10, 19), '06 ~ 07')
(datetime.date(2022, 10, 19), '07 ~ 08')
(datetime.date(2022, 10, 19), '18 ~ 19')
(datetime.date(2022, 10, 19), '19 ~ 20')
(datetime.date(2022, 10, 19), '21 ~ 22')
(datetime.date(2022, 10, 19), '23 ~ 24')
(datetime.date(2022, 10, 20), '00 ~ 01')
(datetime.date(2022, 10, 20), '02 ~ 03')
(datetime.date(2022, 10, 20), '05 ~ 06')
(datetime.date(2022, 10, 20), '06 ~ 07')
(datetime.date(2022, 10, 20), '07 ~ 08')
(datetime.date(2022, 10, 20), '18 ~ 19')
(datetime.date(2022, 10, 20), '19 ~ 20')
(datetime.date(2022, 10, 20), '20 ~ 21')
(datetime.date(2022, 10, 20), '21 ~ 22')
(datetime.date(2022, 10, 20), '22 ~ 23')
(datetime.date(2022, 10, 20), '23 ~ 24')
(datetime.date(2022, 10, 21), '00 ~ 01')
(datetime.date(2022, 10, 21), '02 ~ 03')
(datetime.date(2022, 10, 21), '03 ~ 04')
(datetime.date(2022, 10, 21), '04 ~ 05')
(datetime.date(2022, 10, 21), '05 ~ 06')
(datetime.date(2022, 10, 21), '07 ~ 08')
(datetime.date(2022, 10, 21), '21 ~ 22')
(datetime.date(2022, 10, 22), '02 ~ 03')
(datetime.date(2022, 10, 22), '03 ~ 04')
(datetime.date(2022, 10, 22), '04 ~ 05')
(datetime.date(2022, 10, 22), '06 ~ 07')
(datetime.date(2022, 10, 22), '07 ~ 08')
(datetime.date(2022, 10, 22), '08 ~ 09')
(datetime.date(2022, 10, 22), '09 ~ 10')
(datetime.date(2022, 10, 22), '10 ~ 11')
(datetime.date(2022, 10, 22), '14 ~ 15')
(datetime.date(2022, 10, 22), '15 ~ 16')
(datetime.date(2022, 10, 22), '16 ~ 17')
(datetime.date(2022, 10, 22), '17 ~ 18')
(datetime.date(2022, 10, 23), '00 ~ 01')
(datetime.date(2022, 10, 23), '03 ~ 04')
(datetime.date(2022, 10, 23), '04 ~ 05')
(datetime.date(2022, 10, 23), '06 ~ 07')
(datetime.date(2022, 10, 23), '07 ~ 08')
(datetime.date(2022, 10, 23), '09 ~ 10')
(datetime.date(2022, 10, 23), '10 ~ 11')
(datetime.date(2022, 10, 23), '11 ~ 12')
(datetime.date(2022, 10, 23), '12 ~ 13')
(datetime.date(2022, 10, 23), '13 ~ 14')
(datetime.date(2022, 10, 23), '15 ~ 16')
(datetime.date(2022, 10, 23), '18 ~ 19')
(datetime.date(2022, 10, 23), '19 ~ 20')
(datetime.date(2022, 10, 23), '20 ~ 21')
(datetime.date(2022, 10, 23), '22 ~ 23')
(datetime.date(2022, 10, 23), '23 ~ 24')
(datetime.date(2022, 10, 24), '02 ~ 03')
(datetime.date(2022, 10, 24), '03 ~ 04')
(datetime.date(2022, 10, 24), '04 ~ 05')
(datetime.date(2022, 10, 24), '05 ~ 06')
(datetime.date(2022, 10, 24), '06 ~ 07')
(datetime.date(2022, 10, 24), '07 ~ 08')
(datetime.date(2022, 10, 24), '18 ~ 19')
(datetime.date(2022, 10, 24), '20 ~ 21')
(datetime.date(2022, 10, 24), '23 ~ 24')
(datetime.date(2022, 10, 25), '00 ~ 01')
(datetime.date(2022, 10, 25), '01 ~ 02')
(datetime.date(2022, 10, 25), '02 ~ 03')
(datetime.date(2022, 10, 25), '06 ~ 07')
(datetime.date(2022, 10, 25), '07 ~ 08')
(datetime.date(2022, 10, 25), '18 ~ 19')
(datetime.date(2022, 10, 25), '19 ~ 20')
(datetime.date(2022, 10, 25), '20 ~ 21')
(datetime.date(2022, 10, 25), '21 ~ 22')
(datetime.date(2022, 10, 25), '23 ~ 24')
(datetime.date(2022, 10, 26), '00 ~ 01')
(datetime.date(2022, 10, 26), '04 ~ 05')
(datetime.date(2022, 10, 26), '06 ~ 07')
(datetime.date(2022, 10, 26), '07 ~ 08')
(datetime.date(2022, 10, 26), '18 ~ 19')
(datetime.date(2022, 10, 26), '19 ~ 20')
(datetime.date(2022, 10, 26), '22 ~ 23')
(datetime.date(2022, 10, 27), '00 ~ 01')
(datetime.date(2022, 10, 27), '01 ~ 02')
(datetime.date(2022, 10, 27), '02 ~ 03')
(datetime.date(2022, 10, 27), '07 ~ 08')
(datetime.date(2022, 10, 27), '19 ~ 20')
(datetime.date(2022, 10, 27), '20 ~ 21')
(datetime.date(2022, 10, 27), '21 ~ 22')
(datetime.date(2022, 10, 28), '00 ~ 01')
(datetime.date(2022, 10, 28), '01 ~ 02')
(datetime.date(2022, 10, 28), '03 ~ 04')
(datetime.date(2022, 10, 28), '05 ~ 06')
(datetime.date(2022, 10, 28), '07 ~ 08')
(datetime.date(2022, 10, 28), '18 ~ 19')
(datetime.date(2022, 10, 28), '19 ~ 20')
(datetime.date(2022, 10, 28), '20 ~ 21')
(datetime.date(2022, 10, 28), '21 ~ 22')
(datetime.date(2022, 10, 28), '22 ~ 23')
(datetime.date(2022, 10, 29), '02 ~ 03')
(datetime.date(2022, 10, 29), '06 ~ 07')
(datetime.date(2022, 10, 29), '07 ~ 08')
(datetime.date(2022, 10, 29), '08 ~ 09')
(datetime.date(2022, 10, 29), '09 ~ 10')
(datetime.date(2022, 10, 29), '10 ~ 11')
(datetime.date(2022, 10, 29), '11 ~ 12')
(datetime.date(2022, 10, 29), '12 ~ 13')
(datetime.date(2022, 10, 29), '15 ~ 16')
(datetime.date(2022, 10, 29), '17 ~ 18')
(datetime.date(2022, 10, 29), '18 ~ 19')
(datetime.date(2022, 10, 29), '20 ~ 21')
(datetime.date(2022, 10, 30), '02 ~ 03')
(datetime.date(2022, 10, 30), '06 ~ 07')
(datetime.date(2022, 10, 30), '08 ~ 09')
(datetime.date(2022, 10, 30), '09 ~ 10')
(datetime.date(2022, 10, 30), '10 ~ 11')
(datetime.date(2022, 10, 30), '11 ~ 12')
(datetime.date(2022, 10, 30), '12 ~ 13')
(datetime.date(2022, 10, 30), '13 ~ 14')
(datetime.date(2022, 10, 30), '14 ~ 15')
(datetime.date(2022, 10, 30), '15 ~ 16')
(datetime.date(2022, 10, 30), '17 ~ 18')
(datetime.date(2022, 10, 30), '20 ~ 21')
(datetime.date(2022, 10, 30), '22 ~ 23')
(datetime.date(2022, 10, 30), '23 ~ 24')
(datetime.date(2022, 10, 31), '00 ~ 01')
(datetime.date(2022, 10, 31), '01 ~ 02')
(datetime.date(2022, 10, 31), '03 ~ 04')
(datetime.date(2022, 10, 31), '06 ~ 07')
(datetime.date(2022, 10, 31), '07 ~ 08')
(datetime.date(2022, 10, 31), '18 ~ 19')
(datetime.date(2022, 10, 31), '19 ~ 20')
(datetime.date(2022, 10, 31), '20 ~ 21')
(datetime.date(2022, 10, 31), '22 ~ 23')
(datetime.date(2022, 10, 31), '23 ~ 24')
(datetime.date(2022, 11, 1), '01 ~ 02')
(datetime.date(2022, 11, 1), '02 ~ 03')
(datetime.date(2022, 11, 1), '05 ~ 06')
(datetime.date(2022, 11, 1), '06 ~ 07')
(datetime.date(2022, 11, 1), '07 ~ 08')
(datetime.date(2022, 11, 1), '21 ~ 22')
(datetime.date(2022, 11, 1), '22 ~ 23')
(datetime.date(2022, 11, 1), '23 ~ 24')
(datetime.date(2022, 11, 2), '00 ~ 01')
(datetime.date(2022, 11, 2), '04 ~ 05')
(datetime.date(2022, 11, 2), '05 ~ 06')
(datetime.date(2022, 11, 2), '07 ~ 08')
(datetime.date(2022, 11, 2), '19 ~ 20')
(datetime.date(2022, 11, 2), '20 ~ 21')
(datetime.date(2022, 11, 2), '21 ~ 22')
(datetime.date(2022, 11, 3), '01 ~ 02')
(datetime.date(2022, 11, 3), '03 ~ 04')
(datetime.date(2022, 11, 3), '04 ~ 05')
(datetime.date(2022, 11, 3), '07 ~ 08')
(datetime.date(2022, 11, 3), '20 ~ 21')
(datetime.date(2022, 11, 3), '22 ~ 23')
(datetime.date(2022, 11, 4), '00 ~ 01')
(datetime.date(2022, 11, 4), '01 ~ 02')
(datetime.date(2022, 11, 4), '02 ~ 03')
(datetime.date(2022, 11, 4), '03 ~ 04')
(datetime.date(2022, 11, 4), '04 ~ 05')
(datetime.date(2022, 11, 4), '06 ~ 07')
(datetime.date(2022, 11, 4), '07 ~ 08')
(datetime.date(2022, 11, 4), '20 ~ 21')
(datetime.date(2022, 11, 4), '22 ~ 23')
(datetime.date(2022, 11, 5), '00 ~ 01')
(datetime.date(2022, 11, 5), '02 ~ 03')
(datetime.date(2022, 11, 5), '03 ~ 04')
(datetime.date(2022, 11, 5), '04 ~ 05')
(datetime.date(2022, 11, 5), '06 ~ 07')
(datetime.date(2022, 11, 5), '07 ~ 08')
(datetime.date(2022, 11, 5), '08 ~ 09')
(datetime.date(2022, 11, 5), '09 ~ 10')
(datetime.date(2022, 11, 5), '10 ~ 11')
(datetime.date(2022, 11, 5), '11 ~ 12')
(datetime.date(2022, 11, 5), '12 ~ 13')
(datetime.date(2022, 11, 5), '14 ~ 15')
(datetime.date(2022, 11, 5), '16 ~ 17')
(datetime.date(2022, 11, 5), '18 ~ 19')
(datetime.date(2022, 11, 5), '22 ~ 23')
(datetime.date(2022, 11, 5), '23 ~ 24')
(datetime.date(2022, 11, 6), '00 ~ 01')
(datetime.date(2022, 11, 6), '04 ~ 05')
(datetime.date(2022, 11, 6), '05 ~ 06')
(datetime.date(2022, 11, 6), '08 ~ 09')
(datetime.date(2022, 11, 6), '09 ~ 10')
(datetime.date(2022, 11, 6), '10 ~ 11')
(datetime.date(2022, 11, 6), '11 ~ 12')
(datetime.date(2022, 11, 6), '12 ~ 13')
(datetime.date(2022, 11, 6), '14 ~ 15')
(datetime.date(2022, 11, 6), '15 ~ 16')
(datetime.date(2022, 11, 6), '16 ~ 17')
(datetime.date(2022, 11, 6), '18 ~ 19')
(datetime.date(2022, 11, 6), '19 ~ 20')
(datetime.date(2022, 11, 6), '20 ~ 21')
(datetime.date(2022, 11, 6), '21 ~ 22')
(datetime.date(2022, 11, 7), '04 ~ 05')
(datetime.date(2022, 11, 7), '05 ~ 06')
(datetime.date(2022, 11, 7), '07 ~ 08')
(datetime.date(2022, 11, 7), '18 ~ 19')
(datetime.date(2022, 11, 7), '20 ~ 21')
(datetime.date(2022, 11, 7), '23 ~ 24')
(datetime.date(2022, 11, 8), '04 ~ 05')
(datetime.date(2022, 11, 8), '05 ~ 06')
(datetime.date(2022, 11, 8), '07 ~ 08')
(datetime.date(2022, 11, 8), '19 ~ 20')
(datetime.date(2022, 11, 8), '20 ~ 21')
(datetime.date(2022, 11, 8), '22 ~ 23')
(datetime.date(2022, 11, 9), '04 ~ 05')
(datetime.date(2022, 11, 9), '07 ~ 08')
(datetime.date(2022, 11, 9), '18 ~ 19')
(datetime.date(2022, 11, 9), '19 ~ 20')
(datetime.date(2022, 11, 9), '20 ~ 21')
(datetime.date(2022, 11, 9), '21 ~ 22')
(datetime.date(2022, 11, 10), '02 ~ 03')
(datetime.date(2022, 11, 10), '03 ~ 04')
(datetime.date(2022, 11, 10), '04 ~ 05')
(datetime.date(2022, 11, 10), '05 ~ 06')
(datetime.date(2022, 11, 10), '06 ~ 07')
(datetime.date(2022, 11, 10), '07 ~ 08')
(datetime.date(2022, 11, 10), '19 ~ 20')
(datetime.date(2022, 11, 10), '23 ~ 24')
(datetime.date(2022, 11, 11), '06 ~ 07')
(datetime.date(2022, 11, 11), '07 ~ 08')
(datetime.date(2022, 11, 11), '18 ~ 19')
(datetime.date(2022, 11, 11), '19 ~ 20')
(datetime.date(2022, 11, 11), '20 ~ 21')
(datetime.date(2022, 11, 12), '05 ~ 06')
(datetime.date(2022, 11, 12), '06 ~ 07')
(datetime.date(2022, 11, 12), '07 ~ 08')
(datetime.date(2022, 11, 12), '08 ~ 09')
(datetime.date(2022, 11, 12), '09 ~ 10')
(datetime.date(2022, 11, 12), '10 ~ 11')
(datetime.date(2022, 11, 12), '11 ~ 12')
(datetime.date(2022, 11, 12), '13 ~ 14')
(datetime.date(2022, 11, 12), '14 ~ 15')
(datetime.date(2022, 11, 12), '16 ~ 17')
(datetime.date(2022, 11, 12), '17 ~ 18')
(datetime.date(2022, 11, 12), '19 ~ 20')
(datetime.date(2022, 11, 12), '20 ~ 21')
(datetime.date(2022, 11, 12), '22 ~ 23')
(datetime.date(2022, 11, 12), '23 ~ 24')
(datetime.date(2022, 11, 13), '00 ~ 01')
(datetime.date(2022, 11, 13), '02 ~ 03')
(datetime.date(2022, 11, 13), '04 ~ 05')
(datetime.date(2022, 11, 13), '06 ~ 07')
(datetime.date(2022, 11, 13), '07 ~ 08')
(datetime.date(2022, 11, 13), '08 ~ 09')
(datetime.date(2022, 11, 13), '09 ~ 10')
(datetime.date(2022, 11, 13), '10 ~ 11')
(datetime.date(2022, 11, 13), '11 ~ 12')
(datetime.date(2022, 11, 13), '12 ~ 13')
(datetime.date(2022, 11, 13), '13 ~ 14')
(datetime.date(2022, 11, 13), '15 ~ 16')
(datetime.date(2022, 11, 13), '17 ~ 18')
(datetime.date(2022, 11, 13), '18 ~ 19')
(datetime.date(2022, 11, 13), '19 ~ 20')
(datetime.date(2022, 11, 14), '01 ~ 02')
(datetime.date(2022, 11, 14), '02 ~ 03')
(datetime.date(2022, 11, 14), '06 ~ 07')
(datetime.date(2022, 11, 14), '07 ~ 08')
(datetime.date(2022, 11, 14), '18 ~ 19')
(datetime.date(2022, 11, 15), '03 ~ 04')
(datetime.date(2022, 11, 15), '04 ~ 05')
(datetime.date(2022, 11, 15), '05 ~ 06')
(datetime.date(2022, 11, 15), '06 ~ 07')
(datetime.date(2022, 11, 15), '07 ~ 08')
(datetime.date(2022, 11, 15), '18 ~ 19')
(datetime.date(2022, 11, 15), '20 ~ 21')
(datetime.date(2022, 11, 16), '00 ~ 01')
(datetime.date(2022, 11, 16), '01 ~ 02')
(datetime.date(2022, 11, 16), '04 ~ 05')
(datetime.date(2022, 11, 16), '18 ~ 19')
(datetime.date(2022, 11, 16), '19 ~ 20')
(datetime.date(2022, 11, 16), '20 ~ 21')
(datetime.date(2022, 11, 16), '22 ~ 23')
(datetime.date(2022, 11, 16), '23 ~ 24')
(datetime.date(2022, 11, 17), '00 ~ 01')
(datetime.date(2022, 11, 17), '01 ~ 02')
(datetime.date(2022, 11, 17), '02 ~ 03')
(datetime.date(2022, 11, 17), '05 ~ 06')
(datetime.date(2022, 11, 17), '06 ~ 07')
(datetime.date(2022, 11, 17), '07 ~ 08')
(datetime.date(2022, 11, 18), '00 ~ 01')
(datetime.date(2022, 11, 18), '03 ~ 04')
(datetime.date(2022, 11, 18), '04 ~ 05')
(datetime.date(2022, 11, 18), '05 ~ 06')
(datetime.date(2022, 11, 18), '06 ~ 07')
(datetime.date(2022, 11, 18), '07 ~ 08')
(datetime.date(2022, 11, 18), '20 ~ 21')
(datetime.date(2022, 11, 18), '21 ~ 22')
(datetime.date(2022, 11, 18), '22 ~ 23')
(datetime.date(2022, 11, 18), '23 ~ 24')
(datetime.date(2022, 11, 19), '00 ~ 01')
(datetime.date(2022, 11, 19), '01 ~ 02')
(datetime.date(2022, 11, 19), '04 ~ 05')
(datetime.date(2022, 11, 19), '05 ~ 06')
(datetime.date(2022, 11, 19), '08 ~ 09')
(datetime.date(2022, 11, 19), '09 ~ 10')
(datetime.date(2022, 11, 19), '10 ~ 11')
(datetime.date(2022, 11, 19), '11 ~ 12')
(datetime.date(2022, 11, 19), '12 ~ 13')
(datetime.date(2022, 11, 19), '13 ~ 14')
(datetime.date(2022, 11, 19), '15 ~ 16')
(datetime.date(2022, 11, 19), '16 ~ 17')
(datetime.date(2022, 11, 19), '17 ~ 18')
(datetime.date(2022, 11, 19), '20 ~ 21')
(datetime.date(2022, 11, 20), '01 ~ 02')
(datetime.date(2022, 11, 20), '05 ~ 06')
(datetime.date(2022, 11, 20), '07 ~ 08')
(datetime.date(2022, 11, 20), '08 ~ 09')
(datetime.date(2022, 11, 20), '10 ~ 11')

In [2223]:
pivot_table = pivot_table.reset_index()
pivot_table

제품별        Date     Time   AX  CAI   CT  HHS  MI   MR  POC  RO  SY  US  XP
0    2022-10-01  08 ~ 09  NaN  1.0  1.0  NaN NaN  NaN  NaN NaN NaN NaN NaN
1    2022-10-01  09 ~ 10  NaN  1.0  1.0  NaN NaN  NaN  NaN NaN NaN NaN NaN
2    2022-10-01  10 ~ 11  NaN  4.0  NaN  NaN NaN  NaN  NaN NaN NaN NaN NaN
3    2022-10-01  12 ~ 13  2.0  NaN  NaN  1.0 NaN  NaN  NaN NaN NaN NaN NaN
4    2022-10-01  13 ~ 14  NaN  NaN  NaN  NaN NaN  1.0  NaN NaN NaN NaN NaN
..          ...      ...  ...  ...  ...  ...  ..  ...  ...  ..  ..  ..  ..
907  2023-01-01  01 ~ 02  NaN  1.0  NaN  NaN NaN  NaN  NaN NaN NaN NaN NaN
908  2023-01-01  03 ~ 04  NaN  NaN  NaN  NaN NaN  1.0  NaN NaN NaN NaN NaN
909  2023-01-01  04 ~ 05  NaN  1.0  NaN  NaN NaN  NaN  NaN NaN NaN NaN NaN
910  2023-01-01  05 ~ 06  NaN  1.0  NaN  NaN NaN  NaN  NaN NaN NaN NaN NaN
911  2023-01-01  07 ~ 08  NaN  3.0  1.0  3.0 NaN  NaN  NaN NaN NaN NaN NaN

[912 rows x 13 columns]

In [2224]:
pivot_table_daily

제품별        Date   AX   CAI   CT  HHS  MI   MR  POC  RO  SY  US   XP
0    2022-10-01  2.0  11.0  2.0  1.0 NaN  1.0  NaN NaN NaN NaN  NaN
1    2022-10-02  NaN   9.0  2.0  1.0 NaN  2.0  NaN NaN NaN NaN  NaN
2    2022-10-03  NaN  12.0  4.0  1.0 NaN  3.0  3.0 NaN NaN NaN  NaN
3    2022-10-04  NaN   6.0  2.0  2.0 NaN  3.0  1.0 NaN NaN NaN  NaN
4    2022-10-05  1.0   4.0  4.0  NaN NaN  NaN  NaN NaN NaN NaN  1.0
..          ...  ...   ...  ...  ...  ..  ...  ...  ..  ..  ..  ...
88   2022-12-28  NaN   4.0  NaN  2.0 NaN  NaN  1.0 NaN NaN NaN  NaN
89   2022-12-29  NaN  11.0  1.0  1.0 NaN  NaN  NaN NaN NaN NaN  1.0
90   2022-12-30  NaN  13.0  NaN  2.0 NaN  1.0  1.0 NaN NaN NaN  1.0
91   2022-12-31  2.0  10.0  2.0  6.0 NaN  1.0  2.0 NaN NaN NaN  1.0
92   2023-01-01  NaN   6.0  1.0  3.0 NaN  2.0  NaN NaN NaN NaN  NaN

[93 rows x 12 columns]

In [2225]:
count_days = pivot_table_daily['Date'].count()
total_lst = []
for i in range(count_days):
    total_lst += ["total"]

['total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total',
 'total']

In [2226]:
pivot_table_daily.insert(loc = 1, column = "Time", value = total_lst )
pivot_table_daily

제품별        Date   Time   AX   CAI   CT  HHS  MI   MR  POC  RO  SY  US   XP
0    2022-10-01  total  2.0  11.0  2.0  1.0 NaN  1.0  NaN NaN NaN NaN  NaN
1    2022-10-02  total  NaN   9.0  2.0  1.0 NaN  2.0  NaN NaN NaN NaN  NaN
2    2022-10-03  total  NaN  12.0  4.0  1.0 NaN  3.0  3.0 NaN NaN NaN  NaN
3    2022-10-04  total  NaN   6.0  2.0  2.0 NaN  3.0  1.0 NaN NaN NaN  NaN
4    2022-10-05  total  1.0   4.0  4.0  NaN NaN  NaN  NaN NaN NaN NaN  1.0
..          ...    ...  ...   ...  ...  ...  ..  ...  ...  ..  ..  ..  ...
88   2022-12-28  total  NaN   4.0  NaN  2.0 NaN  NaN  1.0 NaN NaN NaN  NaN
89   2022-12-29  total  NaN  11.0  1.0  1.0 NaN  NaN  NaN NaN NaN NaN  1.0
90   2022-12-30  total  NaN  13.0  NaN  2.0 NaN  1.0  1.0 NaN NaN NaN  1.0
91   2022-12-31  total  2.0  10.0  2.0  6.0 NaN  1.0  2.0 NaN NaN NaN  1.0
92   2023-01-01  total  NaN   6.0  1.0  3.0 NaN  2.0  NaN NaN NaN NaN  NaN

[93 rows x 13 columns]

In [2227]:
index_lst = []
for index, row in pivot_table_daily.iterrows():
    for index1, row1 in pivot_table.iterrows():
        if(row['Date'] == row1['Date']):
            index_lst+=[index1]
            break

In [2228]:
len(index_lst)

93

In [2229]:
pivot_table_daily['index'] = index_lst

In [2230]:
pivot_table_daily

제품별,Date,Time,AX,CAI,CT,HHS,MI,MR,POC,RO,SY,US,XP,index
0,2022-10-01,total,2.0,11.0,2.0,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,0
1,2022-10-02,total,NaN,9.0,2.0,1.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,10
2,2022-10-03,total,NaN,12.0,4.0,1.0,NaN,3.0,3.0,NaN,NaN,NaN,NaN,19
3,2022-10-04,total,NaN,6.0,2.0,2.0,NaN,3.0,1.0,NaN,NaN,NaN,NaN,31
4,2022-10-05,total,1.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,2022-12-28,total,NaN,4.0,NaN,2.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,870
89,2022-12-29,total,NaN,11.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,877
90,2022-12-30,total,NaN,13.0,NaN,2.0,NaN,1.0,1.0,NaN,NaN,NaN,1.0,884
91,2022-12-31,total,2.0,10.0,2.0,6.0,NaN,1.0,2.0,NaN,NaN,NaN,1.0,894
92,2023-01-01,total,NaN,6.0,1.0,3.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,906

In [2231]:
pivot_table_daily.loc[pivot_table_daily['index'] == 10].drop(columns = ['index'])

제품별        Date   Time  AX  CAI   CT  HHS  MI   MR  POC  RO  SY  US  XP
1    2022-10-02  total NaN  9.0  2.0  1.0 NaN  2.0  NaN NaN NaN NaN NaN

In [2232]:
# for i in index_lst:
#     for index, row in pivot_table_daily.iterrows():
#         if(index == i):
#             pivot_table.loc[i-0.5] = row
#             break
            
# for index, row in pivot_table_daily.iterrows():
#     for i in index_lst:
#         pivot_table.loc[]
        
# for i in range(len(pivot_table_daily)):
for i in index_lst:
    row = pivot_table_daily.loc[pivot_table_daily['index'] == i].drop(columns = ['index']).squeeze()
    pivot_table.loc[i-0.5] = row

In [2233]:
pivot_table

제품별          Date     Time   AX   CAI   CT  HHS  MI   MR  POC  RO  SY  US   XP
0.0    2022-10-01  08 ~ 09  NaN   1.0  1.0  NaN NaN  NaN  NaN NaN NaN NaN  NaN
1.0    2022-10-01  09 ~ 10  NaN   1.0  1.0  NaN NaN  NaN  NaN NaN NaN NaN  NaN
2.0    2022-10-01  10 ~ 11  NaN   4.0  NaN  NaN NaN  NaN  NaN NaN NaN NaN  NaN
3.0    2022-10-01  12 ~ 13  2.0   NaN  NaN  1.0 NaN  NaN  NaN NaN NaN NaN  NaN
4.0    2022-10-01  13 ~ 14  NaN   NaN  NaN  NaN NaN  1.0  NaN NaN NaN NaN  NaN
...           ...      ...  ...   ...  ...  ...  ..  ...  ...  ..  ..  ..  ...
869.5  2022-12-28    total  NaN   4.0  NaN  2.0 NaN  NaN  1.0 NaN NaN NaN  NaN
876.5  2022-12-29    total  NaN  11.0  1.0  1.0 NaN  NaN  NaN NaN NaN NaN  1.0
883.5  2022-12-30    total  NaN  13.0  NaN  2.0 NaN  1.0  1.0 NaN NaN NaN  1.0
893.5  2022-12-31    total  2.0  10.0  2.0  6.0 NaN  1.0  2.0 NaN NaN NaN  1.0
905.5  2023-01-01    total  NaN   6.0  1.0  3.0 NaN  2.0  NaN NaN NaN NaN  NaN

[1005 rows x 13 columns]

In [2234]:
# test.loc[919.5] = 1,1,1,1,1,1,1,1,1,1,1,1,1

In [2235]:
# test.sort_index().reset_index(drop=True)

In [2236]:
pivot_table = pivot_table.sort_index().reset_index(drop=True)

In [2237]:
pivot_table

제품별         Date     Time   AX   CAI   CT  HHS  MI   MR  POC  RO  SY  US  XP
0     2022-10-01    total  2.0  11.0  2.0  1.0 NaN  1.0  NaN NaN NaN NaN NaN
1     2022-10-01  08 ~ 09  NaN   1.0  1.0  NaN NaN  NaN  NaN NaN NaN NaN NaN
2     2022-10-01  09 ~ 10  NaN   1.0  1.0  NaN NaN  NaN  NaN NaN NaN NaN NaN
3     2022-10-01  10 ~ 11  NaN   4.0  NaN  NaN NaN  NaN  NaN NaN NaN NaN NaN
4     2022-10-01  12 ~ 13  2.0   NaN  NaN  1.0 NaN  NaN  NaN NaN NaN NaN NaN
...          ...      ...  ...   ...  ...  ...  ..  ...  ...  ..  ..  ..  ..
1000  2023-01-01  01 ~ 02  NaN   1.0  NaN  NaN NaN  NaN  NaN NaN NaN NaN NaN
1001  2023-01-01  03 ~ 04  NaN   NaN  NaN  NaN NaN  1.0  NaN NaN NaN NaN NaN
1002  2023-01-01  04 ~ 05  NaN   1.0  NaN  NaN NaN  NaN  NaN NaN NaN NaN NaN
1003  2023-01-01  05 ~ 06  NaN   1.0  NaN  NaN NaN  NaN  NaN NaN NaN NaN NaN
1004  2023-01-01  07 ~ 08  NaN   3.0  1.0  3.0 NaN  NaN  NaN NaN NaN NaN NaN

[1005 rows x 13 columns]

In [2238]:
pivot_table.loc[pivot_table['Time']=="total"]

제품별        Date   Time   AX   CAI   CT  HHS  MI   MR  POC  RO  SY  US   XP
0    2022-10-01  total  2.0  11.0  2.0  1.0 NaN  1.0  NaN NaN NaN NaN  NaN
11   2022-10-02  total  NaN   9.0  2.0  1.0 NaN  2.0  NaN NaN NaN NaN  NaN
21   2022-10-03  total  NaN  12.0  4.0  1.0 NaN  3.0  3.0 NaN NaN NaN  NaN
34   2022-10-04  total  NaN   6.0  2.0  2.0 NaN  3.0  1.0 NaN NaN NaN  NaN
44   2022-10-05  total  1.0   4.0  4.0  NaN NaN  NaN  NaN NaN NaN NaN  1.0
..          ...    ...  ...   ...  ...  ...  ..  ...  ...  ..  ..  ..  ...
958  2022-12-28  total  NaN   4.0  NaN  2.0 NaN  NaN  1.0 NaN NaN NaN  NaN
966  2022-12-29  total  NaN  11.0  1.0  1.0 NaN  NaN  NaN NaN NaN NaN  1.0
974  2022-12-30  total  NaN  13.0  NaN  2.0 NaN  1.0  1.0 NaN NaN NaN  1.0
985  2022-12-31  total  2.0  10.0  2.0  6.0 NaN  1.0  2.0 NaN NaN NaN  1.0
998  2023-01-01  total  NaN   6.0  1.0  3.0 NaN  2.0  NaN NaN NaN NaN  NaN

[93 rows x 13 columns]

In [2239]:
temp = ""

In [2240]:
for index, row in pivot_table.iterrows():
    if(row['Time'] != "total"):
        pivot_table.at[index,"Date"] = ""
        
pivot_table

제품별         Date     Time   AX   CAI   CT  HHS  MI   MR  POC  RO  SY  US  XP
0     2022-10-01    total  2.0  11.0  2.0  1.0 NaN  1.0  NaN NaN NaN NaN NaN
1                 08 ~ 09  NaN   1.0  1.0  NaN NaN  NaN  NaN NaN NaN NaN NaN
2                 09 ~ 10  NaN   1.0  1.0  NaN NaN  NaN  NaN NaN NaN NaN NaN
3                 10 ~ 11  NaN   4.0  NaN  NaN NaN  NaN  NaN NaN NaN NaN NaN
4                 12 ~ 13  2.0   NaN  NaN  1.0 NaN  NaN  NaN NaN NaN NaN NaN
...          ...      ...  ...   ...  ...  ...  ..  ...  ...  ..  ..  ..  ..
1000              01 ~ 02  NaN   1.0  NaN  NaN NaN  NaN  NaN NaN NaN NaN NaN
1001              03 ~ 04  NaN   NaN  NaN  NaN NaN  1.0  NaN NaN NaN NaN NaN
1002              04 ~ 05  NaN   1.0  NaN  NaN NaN  NaN  NaN NaN NaN NaN NaN
1003              05 ~ 06  NaN   1.0  NaN  NaN NaN  NaN  NaN NaN NaN NaN NaN
1004              07 ~ 08  NaN   3.0  1.0  3.0 NaN  NaN  NaN NaN NaN NaN NaN

[1005 rows x 13 columns]

In [2241]:
rawFinal = raw[[
    "접수시간","사업부","병원명","장비명","응대/엔지니어","Dispatched/SVA","고장증상","조치사항"
               ]]

In [2242]:
rawFinal

,접수시간,사업부,병원명,장비명,응대/엔지니어,Dispatched/SVA,고장증상,조치사항
0,2023-01-01 07:56:39 ( 21472 ),DI,Yonsei U. Gangnam Severance Hosp,SOMATOM Definition AS,윤민선,방문처리완료,724 Wizard booting problem,&nbsp;Issue:\nWizard booting failure\n-Created...
1,2023-01-01 07:40:03 ( 21471 ),DX,Gongju Medical Center,ADVIA 2120I,지우RE,파트너사콜,Partner Call (파트너사),NaN
2,2023-01-01 07:20:00 ( 21470 ),DX,Gongju Medical Center,ADVIA 2120I,지우RE,파트너사콜,Partner Call (파트너사),NaN
3,2023-01-01 07:15:00 ( 21469 ),DX,Yonsei U. Sinchon Severance Hospital,APTIO BY INPECO,임유신,배정완료,NaN,NaN
4,2023-01-01 07:13:23 ( 21468 ),DX,YOUNG SEO MEDICAL FOUNDATION,ADVIA 2120I (ROHS),지우RE,파트너사콜,Partner Call (파트너사),NaN
...,...,...,...,...,...,...,...,...
1811,2022-10-01 10:02:23 ( 19846 ),DX,Yonsei U. Sinchon Severance Hospital,ATELLICA CH 930 ANALYZER,최인영,배정완료,NaN,NaN
1812,2022-10-01 09:18:13 ( 19845 ),DX,Pohang St.Marys Hosp,ATELLICA DIRECT LOAD,박성진,배정완료,NaN,NaN
1813,2022-10-01 09:06:05 ( 19844 ),DI,Dongkuk Univ.Kyungju Hosp.,SOMATOM Definition AS,정대현,유선해결,system init failed,system init failed\nrestarted several.times; s...
1814,2022-10-01 08:47:10 ( 19843 ),DI,Joyfull Hospital,SOMATOM Definition Flash,김정호,유선해결,LN 링 아티팩트 발생,Checkup 실시 후 Ring artifact 사라짐
1815,2022-10-01 08:44:30 ( 19842 ),DX,Myeongji Hospital Ilsan,ATELLICA IM 1600 ANALYZER,김태일,유선해결,System noise,Monitored system

In [2243]:
table

      사업부 Mod.  각 건수  지정 이관   파트너사   Total
0   Vitro  CAI   870  126.0    7.0  1276.0
1          HHS   170    4.0  121.0     NaN
2          POC   100    5.0   80.0     NaN
3    Vivo   AT     0    NaN    NaN   457.0
4           AX    39    8.0    3.0     NaN
5           CT   168   20.0    2.0     NaN
6           MI    22    1.0    NaN     NaN
7           MR   151    8.0    6.0     NaN
8           RO     4    NaN    NaN     NaN
9           SY     3    NaN    NaN     NaN
10          US     1    NaN    NaN     NaN
11          XP    30    2.0    4.0     NaN

In [2244]:
rawFinal= rawFinal.sort_values(by = ['사업부'])

In [2245]:
rawFinal

,접수시간,사업부,병원명,장비명,응대/엔지니어,Dispatched/SVA,고장증상,조치사항
0,2023-01-01 07:56:39 ( 21472 ),DI,Yonsei U. Gangnam Severance Hosp,SOMATOM Definition AS,윤민선,방문처리완료,724 Wizard booting problem,&nbsp;Issue:\nWizard booting failure\n-Created...
1381,2022-10-21 00:39:30 ( 20220 ),DI,KONKUK UNIV M EDICAL C ENTER,MAGNETOM Skyra (DE),박병배,유선해결,724_SVA_power problem,고객이 1차콜접수후 CSE 전화가 바로 안와서 재차 콜접수하심.\n그사이에 1차...
545,2022-12-04 09:58:05 ( 20990 ),DI,Dongkuk Univ.Kyungju Hosp.,MAGNETOM Vida (DE),이진백,유선해결,724_Scan problem,스파인 스캔 중 스캔 중단 및 새로운 촬영 시 스캔이 실행이 안되는 현상 발생.\n...
549,2022-12-04 08:12:10 ( 20987 ),DI,Korea University Hosp.,MAGNETOM Prisma fit,여민구,유선해결,LN head neck coil 64ch 사용불가,64ch HN Coil error 뜨면서 동작 안되어서 724 접수되어 스카이라 ...
554,2022-12-04 02:57:44 ( 20982 ),DI,Korea University Hosp.,MAGNETOM Skyra,이진호,파트너사콜,Partner Call (파트너사),NaN
...,...,...,...,...,...,...,...,...
1780,2022-10-02 13:44:37 ( 19873 ),NaN,NaN,Invalid System ID,김세환,방문처리,"AD1800 ISE error, X3 Robot arm homing fail.",Replaced the ISE sensor &amp; Replaced the o-r...
1792,2022-10-02 04:27:55 ( 19861 ),NaN,NaN,Invalid System ID,윤재덕,유선해결,cuvette pusher error,광주병원 CentaurXP \n1. Cuvette pusher error. \n2....
1794,2022-10-01 22:17:53 ( 19859 ),NaN,NaN,Invalid System ID,이준석,유선해결,724_Cuvette pusher is offline,728106651482 큐벳 제거하고 검사 재개
1797,2022-10-01 19:44:50 ( 19856 ),NaN,NaN,Invalid System ID,김태일,이관,System not ready,이관
1798,2022-10-01 19:44:50 ( 19856 ),NaN,NaN,Invalid System ID,김경호,유선해결,System not ready,Explained

In [2246]:
rawFinal.to_excel(writer, sheet_name='raw')
table.to_excel(writer, sheet_name='summary')
pivot_table.to_excel(writer, sheet_name='pivot')

In [2247]:
writer.close()