In [22]:
import pandas as pd
import requests
import numpy as np
import matplotlib.pyplot as plt
from math import *

In [23]:
equip = pd.read_excel('V:/CC 265420_CS SO/00 SO Report/Monthly reports automation/PM Mass Noti/raw/May/maindb_in_vivo_20230502_142206.xlsx')

C:\Users\z004n96k\Anaconda3\anaconda_new\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [24]:
raw = pd.read_excel('V:/CC 265420_CS SO/00 SO Report/Monthly reports automation/PM Mass Noti/raw/May/EXPORT.XLSX')

In [25]:
# result = pd.read_excel('D:intern/PM/testing/PM_notification_nov_22.xlsx')

In [26]:
display(equip)
display(raw)

,End User name,Hosp_Name(Hangul),BL,Equipment Name (IVK),Project No.,Serial No.,Main Equip No.,Material No.,Active,System Status,...,CS WBS,MAIN Order(ex.) Apps,CS WBS (Apps),Division (CCC),Remark (CCC),PM,Unit,Date_Comm_F_L600A,New Order Date,CB Project No.
0,Seoul National University Hosp,서울대학교병원,MI SPECT,Symbia Evo Excel,237008,NaN,NaN,NaN,NaN,NaN,...,E6OC-0007008.70,NaN,NaN,NaN,NaN,NaN,0.0,NaN,2023-04-28,NaN
1,Seoul National University Hosp,서울대학교병원,MI SPECT,Symbia Evo Excel,237008,NaN,NaN,NaN,NaN,NaN,...,E6OC-0007009.01,NaN,NaN,NaN,NaN,NaN,0.0,NaN,2023-04-28,NaN
2,Seoul National University Hosp,서울대학교병원,MI SPECT,Symbia Evo Excel,237008,NaN,NaN,NaN,NaN,NaN,...,E6OC-0007009.01,NaN,NaN,NaN,NaN,NaN,0.0,NaN,2023-04-28,NaN
3,Seoul National University Hosp,서울대학교병원,MI SPECT,Symbia Evo Excel,237008,NaN,NaN,NaN,NaN,NaN,...,E6OC-0007009.02,NaN,NaN,NaN,NaN,NaN,0.0,NaN,2023-04-28,NaN
4,Seoul National University Hosp,서울대학교병원,MI SPECT,Symbia Evo Excel,237008,NaN,NaN,NaN,NaN,NaN,...,E6OC-0007009.03,NaN,NaN,NaN,NaN,NaN,0.0,NaN,2023-04-28,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37014,Central Military Hospital,Central Military Hospital,SU,Cios Select,NaN,20357,1.051877e+09,10893686.0,Active,Inst,...,E6OC-0006402.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
37015,Central Military Hospital,Central Military Hospital,SU,Cios Select,NaN,20357,1.051877e+09,10893686.0,Active,On Call,...,E6OC-0006402.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
37016,Central Military Hospital,Central Military Hospital,US,ACUSON NX3 SERIES,NaN,514359,1.051853e+09,11254336.0,Active,Inst,...,E6OC-0006403.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
37017,Central Military Hospital,Central Military Hospital,US,ACUSON NX3 SERIES,NaN,514359,1.051853e+09,11254336.0,Active,On Call,...,E6OC-0006404.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
37018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN

,Total actual costs,Created on,Actual start date,Maintenance Plan,Order Type,System status,Description,List name,City,Location,...,Sales Organization,Order,Description of Technical Object,Planning plant,Work Center,Priority type,Plant work center,Assembly,Region,Material
0,0,2022-03-02,NaT,290396.0,MM01,TECO MANC NMAT PRC SETC,DLFL,The Catholic U. Incheon St. Mary's,Incheon,SS,...,50000000.0,728201212827,AXIOM Luminos dRF,96000000.0,35102.0,ZS,96000000.0,NaN,NaN,10094200
1,520000,2022-10-04,2023-04-13,272681.0,MM01,TECO CNF MANC NMAT PRC RESA SETC,(1/4) PM_Maint(~2023-12-31),Eulji University Nowon Eulji hosp,Seoul,SN,...,50000000.0,728201274317,Ysio,96000000.0,35101.0,ZS,96000000.0,NaN,NaN,10281013
2,520000,2022-10-04,2023-04-13,272892.0,MM01,TECO CNF MANC NMAT PRC RESA SETC,(1/4) PM_Maint(~2023-12-31),Eulji University Nowon Eulji hosp,Seoul,SN,...,50000000.0,728201274318,Ysio,96000000.0,35101.0,ZS,96000000.0,NaN,NaN,10281013
3,0,2022-11-18,NaT,NaN,MM01,REL MANC NMAT PRC SETC,Rental tool_E65351,Siemens Healthineers Ltd.,Seoul,SS,...,50000000.0,728201286806,Dummy Equip. for NM system_SEOUL,96000000.0,35101.0,ZS,96000000.0,NaN,NaN,100083298
4,0,2022-11-18,NaT,NaN,MM01,REL MANC NMAT PRC SETC,rrental tool_E65352,Siemens Healthineers Ltd.,Seoul,SS,...,50000000.0,728201286808,Dummy Equip. for NM system_SEOUL,96000000.0,35101.0,ZS,96000000.0,NaN,NaN,100083298
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1425,0,2023-05-02,NaT,NaN,MM01,REL NMAT PRC SETC,Scheduled PM_6M,Mirearo 21 Hospital,kwangju,RW,...,53000000.0,728201344958,ATELLICA IM 1300 ANALYZER,94000000.0,35402.0,ZS,94000000.0,NaN,NaN,11066001
1426,0,2023-05-02,NaT,NaN,MM01,REL NMAT PRC SETC,Scheduled PM_12M,Suncheon Medical Center,Suncheon-si,RW,...,53000000.0,728201344959,ATELLICA UAS,94000000.0,35402.0,ZS,94000000.0,NaN,NaN,11065004
1427,0,2023-05-02,NaT,NaN,MM01,REL NMAT PRC SETC,Scheduled PM_12M,Suncheon Medical Center,Suncheon-si,RW,...,53000000.0,728201344960,NOVUS PACKED W/O RACK HANDLER,94000000.0,35402.0,ZS,94000000.0,NaN,NaN,10697937
1428,0,2023-05-02,NaT,NaN,MM01,REL NMAT PRC SETC,Scheduled PM_6M,Hanam Seongsim Hospital,Gwangju,RW,...,53000000.0,728201344961,Atellica IM 1300 Analyzer,94000000.0,35402.0,ZS,94000000.0,NaN,NaN,11066001
1429,0,2023-05-02,NaT,NaN,MM01,CRTD MANC NMAT PRC RELR SETC,Scheduled PM_1M,Lab Genomics,Seongnam-si,SS,...,53000000.0,728201344966,Atellica IM 1600 Analyzer,94000000.0,35401.0,ZS,94000000.0,NaN,NaN,11066000

In [27]:
raw = raw[['Total actual costs','Order Type','Notification','List name','Description of Technical Object','Description','Serial Number','Functional Location','Equipment']]
raw = raw.rename(columns = {'List name':'Customer name'})
raw = raw.rename(columns = {'Description of Technical Object':'Equipment name'})
raw = raw.rename(columns = {'Description':'Notification Desc.'})
raw = raw.rename(columns = {'Functional Location':'TOPAZ FL'})

display(raw)

,Total actual costs,Order Type,Notification,Customer name,Equipment name,Notification Desc.,Serial Number,TOPAZ FL,Equipment
0,0,MM01,7.282012e+11,The Catholic U. Incheon St. Mary's,AXIOM Luminos dRF,DLFL,2144,728-103579,1016187218
1,520000,MM01,7.282013e+11,Eulji University Nowon Eulji hosp,Ysio,(1/4) PM_Maint(~2023-12-31),23557,728-104924,1029251572
2,520000,MM01,7.282013e+11,Eulji University Nowon Eulji hosp,Ysio,(1/4) PM_Maint(~2023-12-31),22039,728-103863,1019369575
3,0,MM01,7.282013e+11,Siemens Healthineers Ltd.,Dummy Equip. for NM system_SEOUL,Rental tool_E65351,1,728-107613,7280000006641
4,0,MM01,7.282013e+11,Siemens Healthineers Ltd.,Dummy Equip. for NM system_SEOUL,rrental tool_E65352,1,728-107613,7280000006641
...,...,...,...,...,...,...,...,...,...
1425,0,MM01,7.282013e+11,Mirearo 21 Hospital,ATELLICA IM 1300 ANALYZER,Scheduled PM_6M,IM00349,728-100519,1039140866
1426,0,MM01,7.282013e+11,Suncheon Medical Center,ATELLICA UAS,Scheduled PM_12M,H100504,728-100868,1043955871
1427,0,MM01,7.282013e+11,Suncheon Medical Center,NOVUS PACKED W/O RACK HANDLER,Scheduled PM_12M,S002910,728-100827,1043569591
1428,0,MM01,7.282013e+11,Hanam Seongsim Hospital,Atellica IM 1300 Analyzer,Scheduled PM_6M,IM00561,728-100573,1040139848
1429,0,MM01,NaN,Lab Genomics,Atellica IM 1600 Analyzer,Scheduled PM_1M,IH00236,728-100473,1038583837

In [28]:
raw = raw.loc[raw['Total actual costs'] == 0]
display(raw)

,Total actual costs,Order Type,Notification,Customer name,Equipment name,Notification Desc.,Serial Number,TOPAZ FL,Equipment
0,0,MM01,7.282012e+11,The Catholic U. Incheon St. Mary's,AXIOM Luminos dRF,DLFL,2144,728-103579,1016187218
3,0,MM01,7.282013e+11,Siemens Healthineers Ltd.,Dummy Equip. for NM system_SEOUL,Rental tool_E65351,1,728-107613,7280000006641
4,0,MM01,7.282013e+11,Siemens Healthineers Ltd.,Dummy Equip. for NM system_SEOUL,rrental tool_E65352,1,728-107613,7280000006641
7,0,MM01,7.282013e+11,Siemens Healthineers Ltd.,Dummy Equip. for XA system_SEOUL,APPS_PEP_AX,1,728-107612,7280000006640
17,0,MM01,7.282013e+11,Asan Foundation,MAGNETOM Avanto,(1/3) PM_Maint (~2022-12-31),27473,728-103379,1013960041
...,...,...,...,...,...,...,...,...,...
1425,0,MM01,7.282013e+11,Mirearo 21 Hospital,ATELLICA IM 1300 ANALYZER,Scheduled PM_6M,IM00349,728-100519,1039140866
1426,0,MM01,7.282013e+11,Suncheon Medical Center,ATELLICA UAS,Scheduled PM_12M,H100504,728-100868,1043955871
1427,0,MM01,7.282013e+11,Suncheon Medical Center,NOVUS PACKED W/O RACK HANDLER,Scheduled PM_12M,S002910,728-100827,1043569591
1428,0,MM01,7.282013e+11,Hanam Seongsim Hospital,Atellica IM 1300 Analyzer,Scheduled PM_6M,IM00561,728-100573,1040139848
1429,0,MM01,NaN,Lab Genomics,Atellica IM 1600 Analyzer,Scheduled PM_1M,IH00236,728-100473,1038583837

In [29]:
raw = raw.dropna(subset = 'Notification Desc.')
raw

,Total actual costs,Order Type,Notification,Customer name,Equipment name,Notification Desc.,Serial Number,TOPAZ FL,Equipment
0,0,MM01,7.282012e+11,The Catholic U. Incheon St. Mary's,AXIOM Luminos dRF,DLFL,2144,728-103579,1016187218
3,0,MM01,7.282013e+11,Siemens Healthineers Ltd.,Dummy Equip. for NM system_SEOUL,Rental tool_E65351,1,728-107613,7280000006641
4,0,MM01,7.282013e+11,Siemens Healthineers Ltd.,Dummy Equip. for NM system_SEOUL,rrental tool_E65352,1,728-107613,7280000006641
7,0,MM01,7.282013e+11,Siemens Healthineers Ltd.,Dummy Equip. for XA system_SEOUL,APPS_PEP_AX,1,728-107612,7280000006640
17,0,MM01,7.282013e+11,Asan Foundation,MAGNETOM Avanto,(1/3) PM_Maint (~2022-12-31),27473,728-103379,1013960041
...,...,...,...,...,...,...,...,...,...
1425,0,MM01,7.282013e+11,Mirearo 21 Hospital,ATELLICA IM 1300 ANALYZER,Scheduled PM_6M,IM00349,728-100519,1039140866
1426,0,MM01,7.282013e+11,Suncheon Medical Center,ATELLICA UAS,Scheduled PM_12M,H100504,728-100868,1043955871
1427,0,MM01,7.282013e+11,Suncheon Medical Center,NOVUS PACKED W/O RACK HANDLER,Scheduled PM_12M,S002910,728-100827,1043569591
1428,0,MM01,7.282013e+11,Hanam Seongsim Hospital,Atellica IM 1300 Analyzer,Scheduled PM_6M,IM00561,728-100573,1040139848
1429,0,MM01,NaN,Lab Genomics,Atellica IM 1600 Analyzer,Scheduled PM_1M,IH00236,728-100473,1038583837

In [30]:
raw_PM = raw.loc[raw['Notification Desc.'].str.contains("PM", case=False)]
raw_PM

,Total actual costs,Order Type,Notification,Customer name,Equipment name,Notification Desc.,Serial Number,TOPAZ FL,Equipment
17,0,MM01,7.282013e+11,Asan Foundation,MAGNETOM Avanto,(1/3) PM_Maint (~2022-12-31),27473,728-103379,1013960041
19,0,MM01,7.282013e+11,The Catholic U. Uijeongbu St. Mary',ARTIS icono biplane,(2/6) PM_Warr (~2023-10-31),180388,728-107450,1051076807
22,0,MM01,7.282013e+11,Daegu Fatima Hosp.,AXIOM Luminos dRF,(/2) PM_Maint (~2023-09-30),3234,728-104115,1022364351
26,0,MM01,7.282013e+11,The Catholic U. Deajeon St Mary's H,Ysio Max,(2/2) PM_Warr (~2023-10-23),28701,728-108818,1054597544
31,0,MM01,7.282013e+11,Gimpo Woori Hosp,SOMATOM Definition AS,PM/MAINT(~2023-08-17),95492,728-105076,1030568302
...,...,...,...,...,...,...,...,...,...
1425,0,MM01,7.282013e+11,Mirearo 21 Hospital,ATELLICA IM 1300 ANALYZER,Scheduled PM_6M,IM00349,728-100519,1039140866
1426,0,MM01,7.282013e+11,Suncheon Medical Center,ATELLICA UAS,Scheduled PM_12M,H100504,728-100868,1043955871
1427,0,MM01,7.282013e+11,Suncheon Medical Center,NOVUS PACKED W/O RACK HANDLER,Scheduled PM_12M,S002910,728-100827,1043569591
1428,0,MM01,7.282013e+11,Hanam Seongsim Hospital,Atellica IM 1300 Analyzer,Scheduled PM_6M,IM00561,728-100573,1040139848
1429,0,MM01,NaN,Lab Genomics,Atellica IM 1600 Analyzer,Scheduled PM_1M,IH00236,728-100473,1038583837

In [31]:
raw_PM = raw.loc[raw['Notification Desc.'].str.contains("Maint|Warr", case=False)]
raw_PM

,Total actual costs,Order Type,Notification,Customer name,Equipment name,Notification Desc.,Serial Number,TOPAZ FL,Equipment
17,0,MM01,7.282013e+11,Asan Foundation,MAGNETOM Avanto,(1/3) PM_Maint (~2022-12-31),27473,728-103379,1013960041
19,0,MM01,7.282013e+11,The Catholic U. Uijeongbu St. Mary',ARTIS icono biplane,(2/6) PM_Warr (~2023-10-31),180388,728-107450,1051076807
22,0,MM01,7.282013e+11,Daegu Fatima Hosp.,AXIOM Luminos dRF,(/2) PM_Maint (~2023-09-30),3234,728-104115,1022364351
26,0,MM01,7.282013e+11,The Catholic U. Deajeon St Mary's H,Ysio Max,(2/2) PM_Warr (~2023-10-23),28701,728-108818,1054597544
31,0,MM01,7.282013e+11,Gimpo Woori Hosp,SOMATOM Definition AS,PM/MAINT(~2023-08-17),95492,728-105076,1030568302
...,...,...,...,...,...,...,...,...,...
1336,0,MM01,7.282013e+11,Ulsan Univ. Hosp.,Artis zee biplane,(/12) PM_Maint (~2026-02-28),153724,728-103443,1014513586
1337,0,MM01,7.282013e+11,Inha Univ.Hosp,SOMATOM go.Top,(/12) PM_Maint1st (~2032-03-30),172600,728-108075,1052142680
1338,0,MM01,7.282013e+11,Inha Univ.Hosp,SOMATOM Force,(/12) PM_Maint1st(~2032-03-30),76568,728-108002,1052323093
1339,0,MM01,7.282013e+11,Cheonnam National U. Hospital,"MAGNETOM Trio, A Tim Sys-Upgrade",(/12) PM_Maint (~2024-03-31),35058,728-102872,1008933214
1340,0,MM01,7.282013e+11,Hanil Hospital,MAGNETOM Spectra (CN),(/6) PM_Maint (~2025-03-26),56042,728-104441,1025277699

In [32]:
raw_PM_ = raw_PM.loc[raw['Order Type']=='MM01']
raw_PM_

,Total actual costs,Order Type,Notification,Customer name,Equipment name,Notification Desc.,Serial Number,TOPAZ FL,Equipment
17,0,MM01,7.282013e+11,Asan Foundation,MAGNETOM Avanto,(1/3) PM_Maint (~2022-12-31),27473,728-103379,1013960041
19,0,MM01,7.282013e+11,The Catholic U. Uijeongbu St. Mary',ARTIS icono biplane,(2/6) PM_Warr (~2023-10-31),180388,728-107450,1051076807
22,0,MM01,7.282013e+11,Daegu Fatima Hosp.,AXIOM Luminos dRF,(/2) PM_Maint (~2023-09-30),3234,728-104115,1022364351
26,0,MM01,7.282013e+11,The Catholic U. Deajeon St Mary's H,Ysio Max,(2/2) PM_Warr (~2023-10-23),28701,728-108818,1054597544
31,0,MM01,7.282013e+11,Gimpo Woori Hosp,SOMATOM Definition AS,PM/MAINT(~2023-08-17),95492,728-105076,1030568302
...,...,...,...,...,...,...,...,...,...
1336,0,MM01,7.282013e+11,Ulsan Univ. Hosp.,Artis zee biplane,(/12) PM_Maint (~2026-02-28),153724,728-103443,1014513586
1337,0,MM01,7.282013e+11,Inha Univ.Hosp,SOMATOM go.Top,(/12) PM_Maint1st (~2032-03-30),172600,728-108075,1052142680
1338,0,MM01,7.282013e+11,Inha Univ.Hosp,SOMATOM Force,(/12) PM_Maint1st(~2032-03-30),76568,728-108002,1052323093
1339,0,MM01,7.282013e+11,Cheonnam National U. Hospital,"MAGNETOM Trio, A Tim Sys-Upgrade",(/12) PM_Maint (~2024-03-31),35058,728-102872,1008933214
1340,0,MM01,7.282013e+11,Hanil Hospital,MAGNETOM Spectra (CN),(/6) PM_Maint (~2025-03-26),56042,728-104441,1025277699

In [33]:
raw_fin = raw_PM.drop_duplicates(subset = 'Equipment')
raw_fin

,Total actual costs,Order Type,Notification,Customer name,Equipment name,Notification Desc.,Serial Number,TOPAZ FL,Equipment
17,0,MM01,7.282013e+11,Asan Foundation,MAGNETOM Avanto,(1/3) PM_Maint (~2022-12-31),27473,728-103379,1013960041
19,0,MM01,7.282013e+11,The Catholic U. Uijeongbu St. Mary',ARTIS icono biplane,(2/6) PM_Warr (~2023-10-31),180388,728-107450,1051076807
22,0,MM01,7.282013e+11,Daegu Fatima Hosp.,AXIOM Luminos dRF,(/2) PM_Maint (~2023-09-30),3234,728-104115,1022364351
26,0,MM01,7.282013e+11,The Catholic U. Deajeon St Mary's H,Ysio Max,(2/2) PM_Warr (~2023-10-23),28701,728-108818,1054597544
31,0,MM01,7.282013e+11,Gimpo Woori Hosp,SOMATOM Definition AS,PM/MAINT(~2023-08-17),95492,728-105076,1030568302
...,...,...,...,...,...,...,...,...,...
1335,0,MM01,7.282013e+11,Youngnam Univ. Hosp.,ARTIS icono biplane,(1/6) PM_Maint 2nd (~2024-03-28),180306,728-107166,1048162259
1336,0,MM01,7.282013e+11,Ulsan Univ. Hosp.,Artis zee biplane,(/12) PM_Maint (~2026-02-28),153724,728-103443,1014513586
1337,0,MM01,7.282013e+11,Inha Univ.Hosp,SOMATOM go.Top,(/12) PM_Maint1st (~2032-03-30),172600,728-108075,1052142680
1338,0,MM01,7.282013e+11,Inha Univ.Hosp,SOMATOM Force,(/12) PM_Maint1st(~2032-03-30),76568,728-108002,1052323093
1339,0,MM01,7.282013e+11,Cheonnam National U. Hospital,"MAGNETOM Trio, A Tim Sys-Upgrade",(/12) PM_Maint (~2024-03-31),35058,728-102872,1008933214

In [34]:
# raw_fin.to_excel('C:/Users/z004n96k/Desktop/intern/PM/testing_PM.xlsx', sheet_name='Sheet_name1')

In [35]:
equip = equip[['Main Equip No.','BL','1st CSE','2nd CSE','Warranty PM Frequency/Equipment selling ','PM Frequency/Ext. Maintenance','Contract Level','System Status']]
equip

,Main Equip No.,BL,1st CSE,2nd CSE,Warranty PM Frequency/Equipment selling,PM Frequency/Ext. Maintenance,Contract Level,System Status
0,NaN,MI SPECT,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,MI SPECT,NaN,NaN,6,NaN,NaN,NaN
2,NaN,MI SPECT,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,MI SPECT,NaN,NaN,6,NaN,NaN,NaN
4,NaN,MI SPECT,NaN,NaN,6,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
37014,1.051877e+09,SU,KMR,KMR,NaN,NaN,NaN,Inst
37015,1.051877e+09,SU,KMR,KMR,NaN,NaN,NaN,On Call
37016,1.051853e+09,US,KMR,KMR,NaN,NaN,NaN,Inst
37017,1.051853e+09,US,KMR,KMR,NaN,NaN,NaN,On Call
37018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
equip = equip.rename(columns = {'Main Equip No.':'Equipment'})
equip = equip.rename(columns = {'BL':'GG'})
equip = equip.rename(columns = {'Warranty PM Frequency/Equipment selling ':'PM Frequency (Original Warr, Maint 1st, …)'})
equip = equip.rename(columns = {'PM Frequency/Ext. Maintenance':'PM Frequency (Maint)'})
equip = equip.dropna(subset = 'Equipment')
equip = equip.drop_duplicates(subset = 'Equipment')
equip

,Equipment,GG,1st CSE,2nd CSE,"PM Frequency (Original Warr, Maint 1st, …)",PM Frequency (Maint),Contract Level,System Status
64,1.054086e+09,MR,최병훈,여민구,NaN,NaN,NaN,Warr
606,1.055904e+09,CT,KMR,KMR,NaN,NaN,NaN,Warr
608,1.058021e+09,CT,KMR,KMR,4,NaN,NaN,Warr
617,1.057995e+09,SY,Daeho,Daeho,NaN,NaN,NaN,Warr
743,1.058221e+09,US,Dongkook Life Science,Dongkook Life Science,NaN,NaN,NaN,Inst
...,...,...,...,...,...,...,...,...
37008,1.043972e+09,US,NaN,NaN,NaN,NaN,NaN,NaN
37010,1.043960e+09,US,KMR,KMR,NaN,NaN,NaN,On Call
37012,1.043972e+09,US,NaN,NaN,NaN,NaN,NaN,NaN
37014,1.051877e+09,SU,KMR,KMR,NaN,NaN,NaN,Inst
37016,1.051853e+09,US,KMR,KMR,NaN,NaN,NaN,Inst

In [37]:
raw_fin = raw_fin.drop_duplicates()
new_table = pd.merge(raw_fin, equip, how = 'left', on = 'Equipment')
display(new_table)

,Total actual costs,Order Type,Notification,Customer name,Equipment name,Notification Desc.,Serial Number,TOPAZ FL,Equipment,GG,1st CSE,2nd CSE,"PM Frequency (Original Warr, Maint 1st, …)",PM Frequency (Maint),Contract Level,System Status
0,0,MM01,7.282013e+11,Asan Foundation,MAGNETOM Avanto,(1/3) PM_Maint (~2022-12-31),27473,728-103379,1013960041,MR,지준호,박인천,6,NaN,Smart Pack,Maint
1,0,MM01,7.282013e+11,The Catholic U. Uijeongbu St. Mary',ARTIS icono biplane,(2/6) PM_Warr (~2023-10-31),180388,728-107450,1051076807,AX,김재우,이성호,6,NaN,NaN,Warr
2,0,MM01,7.282013e+11,Daegu Fatima Hosp.,AXIOM Luminos dRF,(/2) PM_Maint (~2023-09-30),3234,728-104115,1022364351,XP,김기용,김원진,NaN,2,TOP Pre.,Maint
3,0,MM01,7.282013e+11,The Catholic U. Deajeon St Mary's H,Ysio Max,(2/2) PM_Warr (~2023-10-23),28701,728-108818,1054597544,XP,김도연,최윤석,2,NaN,NaN,Warr
4,0,MM01,7.282013e+11,Gimpo Woori Hosp,SOMATOM Definition AS,PM/MAINT(~2023-08-17),95492,728-105076,1030568302,CT,박종영,문병호,6,6,TOP Pre.,Maint
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436,0,MM01,7.282013e+11,Youngnam Univ. Hosp.,ARTIS icono biplane,(1/6) PM_Maint 2nd (~2024-03-28),180306,728-107166,1048162259,AX,김기용,NaN,6,NaN,NaN,Maint 2nd
437,0,MM01,7.282013e+11,Ulsan Univ. Hosp.,Artis zee biplane,(/12) PM_Maint (~2026-02-28),153724,728-103443,1014513586,AX,정이삭,김원진,6,NaN,NaN,Maint
438,0,MM01,7.282013e+11,Inha Univ.Hosp,SOMATOM go.Top,(/12) PM_Maint1st (~2032-03-30),172600,728-108075,1052142680,CT,이준수,NaN,12 (Incl. SRS 6회),NaN,NaN,Maint 1st
439,0,MM01,7.282013e+11,Inha Univ.Hosp,SOMATOM Force,(/12) PM_Maint1st(~2032-03-30),76568,728-108002,1052323093,CT,이준수,NaN,12 (SRS 6회 포함),NaN,NaN,Maint 1st
440,0,MM01,7.282013e+11,Cheonnam National U. Hospital,"MAGNETOM Trio, A Tim Sys-Upgrade",(/12) PM_Maint (~2024-03-31),35058,728-102872,1008933214,MR,홍승모,박용주,NaN,NaN,NaN,Maint

In [38]:
new_table = new_table.drop_duplicates()
new_table

,Total actual costs,Order Type,Notification,Customer name,Equipment name,Notification Desc.,Serial Number,TOPAZ FL,Equipment,GG,1st CSE,2nd CSE,"PM Frequency (Original Warr, Maint 1st, …)",PM Frequency (Maint),Contract Level,System Status
0,0,MM01,7.282013e+11,Asan Foundation,MAGNETOM Avanto,(1/3) PM_Maint (~2022-12-31),27473,728-103379,1013960041,MR,지준호,박인천,6,NaN,Smart Pack,Maint
1,0,MM01,7.282013e+11,The Catholic U. Uijeongbu St. Mary',ARTIS icono biplane,(2/6) PM_Warr (~2023-10-31),180388,728-107450,1051076807,AX,김재우,이성호,6,NaN,NaN,Warr
2,0,MM01,7.282013e+11,Daegu Fatima Hosp.,AXIOM Luminos dRF,(/2) PM_Maint (~2023-09-30),3234,728-104115,1022364351,XP,김기용,김원진,NaN,2,TOP Pre.,Maint
3,0,MM01,7.282013e+11,The Catholic U. Deajeon St Mary's H,Ysio Max,(2/2) PM_Warr (~2023-10-23),28701,728-108818,1054597544,XP,김도연,최윤석,2,NaN,NaN,Warr
4,0,MM01,7.282013e+11,Gimpo Woori Hosp,SOMATOM Definition AS,PM/MAINT(~2023-08-17),95492,728-105076,1030568302,CT,박종영,문병호,6,6,TOP Pre.,Maint
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436,0,MM01,7.282013e+11,Youngnam Univ. Hosp.,ARTIS icono biplane,(1/6) PM_Maint 2nd (~2024-03-28),180306,728-107166,1048162259,AX,김기용,NaN,6,NaN,NaN,Maint 2nd
437,0,MM01,7.282013e+11,Ulsan Univ. Hosp.,Artis zee biplane,(/12) PM_Maint (~2026-02-28),153724,728-103443,1014513586,AX,정이삭,김원진,6,NaN,NaN,Maint
438,0,MM01,7.282013e+11,Inha Univ.Hosp,SOMATOM go.Top,(/12) PM_Maint1st (~2032-03-30),172600,728-108075,1052142680,CT,이준수,NaN,12 (Incl. SRS 6회),NaN,NaN,Maint 1st
439,0,MM01,7.282013e+11,Inha Univ.Hosp,SOMATOM Force,(/12) PM_Maint1st(~2032-03-30),76568,728-108002,1052323093,CT,이준수,NaN,12 (SRS 6회 포함),NaN,NaN,Maint 1st
440,0,MM01,7.282013e+11,Cheonnam National U. Hospital,"MAGNETOM Trio, A Tim Sys-Upgrade",(/12) PM_Maint (~2024-03-31),35058,728-102872,1008933214,MR,홍승모,박용주,NaN,NaN,NaN,Maint

In [39]:
partners = pd.read_excel('D:intern/PM/partners_info.XLSX')

partners

,PLANT CD,Partner ID,파트너명(한글),OUTSOURCING,KeyMan,Mobile Number,AREA,등록일시
0,DX,40110917,Shinyang Chemistry Ltd,NaN,최지훈,010-3386-4303,NaN,NaN
1,DX,40110917,Shinyang Chemistry Ltd,NaN,박용준,010-3253-3321,NaN,NaN
2,DX,40110922,Changgun Ltd.,NaN,송기정,010-9374-4909,NaN,NaN
3,DX,40110924,Technoland Co.,Advia 2120i,테크노 당직1,010-6771-1256,NaN,NaN
4,DX,40110924,Technoland Co.,Advia 2120i,테크노 당직2,010-3024-1256,NaN,NaN
...,...,...,...,...,...,...,...,...
80,DI,WITHGLOBAL,WITHGLOBAL,NaN,왕은재,010-2017-3598,NaN,2019-12-09
81,DI,WITHGLOBAL,WITHGLOBAL,NaN,이한글,010-8711-9189,NaN,2019-12-09
82,DI,WITHINBIZ CORP.,WITHINBIZ CORP.,NaN,김덕영,010-4017-0861,NaN,2021-01-25
83,DI,WITHINBIZ CORP.,WITHINBIZ CORP.,NaN,박용진,010-4190-5482,NaN,2021-01-25
84,DI,동국생명과학,NaN,NaN,NaN,NaN,NaN,2021-01-14

In [40]:
part_lst = partners['Partner ID']

In [41]:
num = new_table[new_table['1st CSE'].str.lower().isin([x.lower() for x in part_lst])].index
final_table = new_table.drop(num)
final_table = final_table.drop_duplicates(subset = 'Notification')

final_table

,Total actual costs,Order Type,Notification,Customer name,Equipment name,Notification Desc.,Serial Number,TOPAZ FL,Equipment,GG,1st CSE,2nd CSE,"PM Frequency (Original Warr, Maint 1st, …)",PM Frequency (Maint),Contract Level,System Status
0,0,MM01,7.282013e+11,Asan Foundation,MAGNETOM Avanto,(1/3) PM_Maint (~2022-12-31),27473,728-103379,1013960041,MR,지준호,박인천,6,NaN,Smart Pack,Maint
1,0,MM01,7.282013e+11,The Catholic U. Uijeongbu St. Mary',ARTIS icono biplane,(2/6) PM_Warr (~2023-10-31),180388,728-107450,1051076807,AX,김재우,이성호,6,NaN,NaN,Warr
2,0,MM01,7.282013e+11,Daegu Fatima Hosp.,AXIOM Luminos dRF,(/2) PM_Maint (~2023-09-30),3234,728-104115,1022364351,XP,김기용,김원진,NaN,2,TOP Pre.,Maint
3,0,MM01,7.282013e+11,The Catholic U. Deajeon St Mary's H,Ysio Max,(2/2) PM_Warr (~2023-10-23),28701,728-108818,1054597544,XP,김도연,최윤석,2,NaN,NaN,Warr
4,0,MM01,7.282013e+11,Gimpo Woori Hosp,SOMATOM Definition AS,PM/MAINT(~2023-08-17),95492,728-105076,1030568302,CT,박종영,문병호,6,6,TOP Pre.,Maint
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436,0,MM01,7.282013e+11,Youngnam Univ. Hosp.,ARTIS icono biplane,(1/6) PM_Maint 2nd (~2024-03-28),180306,728-107166,1048162259,AX,김기용,NaN,6,NaN,NaN,Maint 2nd
437,0,MM01,7.282013e+11,Ulsan Univ. Hosp.,Artis zee biplane,(/12) PM_Maint (~2026-02-28),153724,728-103443,1014513586,AX,정이삭,김원진,6,NaN,NaN,Maint
438,0,MM01,7.282013e+11,Inha Univ.Hosp,SOMATOM go.Top,(/12) PM_Maint1st (~2032-03-30),172600,728-108075,1052142680,CT,이준수,NaN,12 (Incl. SRS 6회),NaN,NaN,Maint 1st
439,0,MM01,7.282013e+11,Inha Univ.Hosp,SOMATOM Force,(/12) PM_Maint1st(~2032-03-30),76568,728-108002,1052323093,CT,이준수,NaN,12 (SRS 6회 포함),NaN,NaN,Maint 1st
440,0,MM01,7.282013e+11,Cheonnam National U. Hospital,"MAGNETOM Trio, A Tim Sys-Upgrade",(/12) PM_Maint (~2024-03-31),35058,728-102872,1008933214,MR,홍승모,박용주,NaN,NaN,NaN,Maint

In [42]:
final_table = final_table.drop_duplicates(subset = 'Equipment')
final_table

,Total actual costs,Order Type,Notification,Customer name,Equipment name,Notification Desc.,Serial Number,TOPAZ FL,Equipment,GG,1st CSE,2nd CSE,"PM Frequency (Original Warr, Maint 1st, …)",PM Frequency (Maint),Contract Level,System Status
0,0,MM01,7.282013e+11,Asan Foundation,MAGNETOM Avanto,(1/3) PM_Maint (~2022-12-31),27473,728-103379,1013960041,MR,지준호,박인천,6,NaN,Smart Pack,Maint
1,0,MM01,7.282013e+11,The Catholic U. Uijeongbu St. Mary',ARTIS icono biplane,(2/6) PM_Warr (~2023-10-31),180388,728-107450,1051076807,AX,김재우,이성호,6,NaN,NaN,Warr
2,0,MM01,7.282013e+11,Daegu Fatima Hosp.,AXIOM Luminos dRF,(/2) PM_Maint (~2023-09-30),3234,728-104115,1022364351,XP,김기용,김원진,NaN,2,TOP Pre.,Maint
3,0,MM01,7.282013e+11,The Catholic U. Deajeon St Mary's H,Ysio Max,(2/2) PM_Warr (~2023-10-23),28701,728-108818,1054597544,XP,김도연,최윤석,2,NaN,NaN,Warr
4,0,MM01,7.282013e+11,Gimpo Woori Hosp,SOMATOM Definition AS,PM/MAINT(~2023-08-17),95492,728-105076,1030568302,CT,박종영,문병호,6,6,TOP Pre.,Maint
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436,0,MM01,7.282013e+11,Youngnam Univ. Hosp.,ARTIS icono biplane,(1/6) PM_Maint 2nd (~2024-03-28),180306,728-107166,1048162259,AX,김기용,NaN,6,NaN,NaN,Maint 2nd
437,0,MM01,7.282013e+11,Ulsan Univ. Hosp.,Artis zee biplane,(/12) PM_Maint (~2026-02-28),153724,728-103443,1014513586,AX,정이삭,김원진,6,NaN,NaN,Maint
438,0,MM01,7.282013e+11,Inha Univ.Hosp,SOMATOM go.Top,(/12) PM_Maint1st (~2032-03-30),172600,728-108075,1052142680,CT,이준수,NaN,12 (Incl. SRS 6회),NaN,NaN,Maint 1st
439,0,MM01,7.282013e+11,Inha Univ.Hosp,SOMATOM Force,(/12) PM_Maint1st(~2032-03-30),76568,728-108002,1052323093,CT,이준수,NaN,12 (SRS 6회 포함),NaN,NaN,Maint 1st
440,0,MM01,7.282013e+11,Cheonnam National U. Hospital,"MAGNETOM Trio, A Tim Sys-Upgrade",(/12) PM_Maint (~2024-03-31),35058,728-102872,1008933214,MR,홍승모,박용주,NaN,NaN,NaN,Maint

In [43]:
final_table = final_table.drop(columns = 'Total actual costs')

In [44]:
final_table = final_table.drop_duplicates(subset = 'Equipment')

In [45]:
final_table

,Order Type,Notification,Customer name,Equipment name,Notification Desc.,Serial Number,TOPAZ FL,Equipment,GG,1st CSE,2nd CSE,"PM Frequency (Original Warr, Maint 1st, …)",PM Frequency (Maint),Contract Level,System Status
0,MM01,7.282013e+11,Asan Foundation,MAGNETOM Avanto,(1/3) PM_Maint (~2022-12-31),27473,728-103379,1013960041,MR,지준호,박인천,6,NaN,Smart Pack,Maint
1,MM01,7.282013e+11,The Catholic U. Uijeongbu St. Mary',ARTIS icono biplane,(2/6) PM_Warr (~2023-10-31),180388,728-107450,1051076807,AX,김재우,이성호,6,NaN,NaN,Warr
2,MM01,7.282013e+11,Daegu Fatima Hosp.,AXIOM Luminos dRF,(/2) PM_Maint (~2023-09-30),3234,728-104115,1022364351,XP,김기용,김원진,NaN,2,TOP Pre.,Maint
3,MM01,7.282013e+11,The Catholic U. Deajeon St Mary's H,Ysio Max,(2/2) PM_Warr (~2023-10-23),28701,728-108818,1054597544,XP,김도연,최윤석,2,NaN,NaN,Warr
4,MM01,7.282013e+11,Gimpo Woori Hosp,SOMATOM Definition AS,PM/MAINT(~2023-08-17),95492,728-105076,1030568302,CT,박종영,문병호,6,6,TOP Pre.,Maint
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436,MM01,7.282013e+11,Youngnam Univ. Hosp.,ARTIS icono biplane,(1/6) PM_Maint 2nd (~2024-03-28),180306,728-107166,1048162259,AX,김기용,NaN,6,NaN,NaN,Maint 2nd
437,MM01,7.282013e+11,Ulsan Univ. Hosp.,Artis zee biplane,(/12) PM_Maint (~2026-02-28),153724,728-103443,1014513586,AX,정이삭,김원진,6,NaN,NaN,Maint
438,MM01,7.282013e+11,Inha Univ.Hosp,SOMATOM go.Top,(/12) PM_Maint1st (~2032-03-30),172600,728-108075,1052142680,CT,이준수,NaN,12 (Incl. SRS 6회),NaN,NaN,Maint 1st
439,MM01,7.282013e+11,Inha Univ.Hosp,SOMATOM Force,(/12) PM_Maint1st(~2032-03-30),76568,728-108002,1052323093,CT,이준수,NaN,12 (SRS 6회 포함),NaN,NaN,Maint 1st
440,MM01,7.282013e+11,Cheonnam National U. Hospital,"MAGNETOM Trio, A Tim Sys-Upgrade",(/12) PM_Maint (~2024-03-31),35058,728-102872,1008933214,MR,홍승모,박용주,NaN,NaN,NaN,Maint

In [46]:
display(final_table.loc[final_table['Notification'] == 728201274022 ])

Empty DataFrame
Columns: [Order Type, Notification, Customer name, Equipment name, Notification Desc., Serial Number, TOPAZ FL, Equipment, GG, 1st CSE, 2nd CSE, PM Frequency (Original Warr, Maint 1st, …), PM Frequency (Maint), Contract Level, System Status]
Index: []

In [47]:
final_table

,Order Type,Notification,Customer name,Equipment name,Notification Desc.,Serial Number,TOPAZ FL,Equipment,GG,1st CSE,2nd CSE,"PM Frequency (Original Warr, Maint 1st, …)",PM Frequency (Maint),Contract Level,System Status
0,MM01,7.282013e+11,Asan Foundation,MAGNETOM Avanto,(1/3) PM_Maint (~2022-12-31),27473,728-103379,1013960041,MR,지준호,박인천,6,NaN,Smart Pack,Maint
1,MM01,7.282013e+11,The Catholic U. Uijeongbu St. Mary',ARTIS icono biplane,(2/6) PM_Warr (~2023-10-31),180388,728-107450,1051076807,AX,김재우,이성호,6,NaN,NaN,Warr
2,MM01,7.282013e+11,Daegu Fatima Hosp.,AXIOM Luminos dRF,(/2) PM_Maint (~2023-09-30),3234,728-104115,1022364351,XP,김기용,김원진,NaN,2,TOP Pre.,Maint
3,MM01,7.282013e+11,The Catholic U. Deajeon St Mary's H,Ysio Max,(2/2) PM_Warr (~2023-10-23),28701,728-108818,1054597544,XP,김도연,최윤석,2,NaN,NaN,Warr
4,MM01,7.282013e+11,Gimpo Woori Hosp,SOMATOM Definition AS,PM/MAINT(~2023-08-17),95492,728-105076,1030568302,CT,박종영,문병호,6,6,TOP Pre.,Maint
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436,MM01,7.282013e+11,Youngnam Univ. Hosp.,ARTIS icono biplane,(1/6) PM_Maint 2nd (~2024-03-28),180306,728-107166,1048162259,AX,김기용,NaN,6,NaN,NaN,Maint 2nd
437,MM01,7.282013e+11,Ulsan Univ. Hosp.,Artis zee biplane,(/12) PM_Maint (~2026-02-28),153724,728-103443,1014513586,AX,정이삭,김원진,6,NaN,NaN,Maint
438,MM01,7.282013e+11,Inha Univ.Hosp,SOMATOM go.Top,(/12) PM_Maint1st (~2032-03-30),172600,728-108075,1052142680,CT,이준수,NaN,12 (Incl. SRS 6회),NaN,NaN,Maint 1st
439,MM01,7.282013e+11,Inha Univ.Hosp,SOMATOM Force,(/12) PM_Maint1st(~2032-03-30),76568,728-108002,1052323093,CT,이준수,NaN,12 (SRS 6회 포함),NaN,NaN,Maint 1st
440,MM01,7.282013e+11,Cheonnam National U. Hospital,"MAGNETOM Trio, A Tim Sys-Upgrade",(/12) PM_Maint (~2024-03-31),35058,728-102872,1008933214,MR,홍승모,박용주,NaN,NaN,NaN,Maint

In [48]:
final_table = final_table.drop_duplicates()

In [49]:
# res = result['Serial Number']

real = final_table['Serial Number']

# print(real[~real.isin(res)])

In [50]:
# set(final_table['Notification']) - set(result['Notification'])

In [51]:
final_table['Notification'].nunique()

439

In [52]:
# result['Equipment'].nunique()

In [53]:
final_table.to_excel('V:/CC 265420_CS SO/00 SO Report/Monthly reports automation/PM Mass Noti/result/PM_Notification_May.xlsx', sheet_name='Sheet_name_1')